[2020-08-12 16:35] Gamemechanicwow commented on #722
ohh crap.. he already deleted his user again.

So let me rephrase.

This is almost as stupid as deleting your github account, if you cant stay the fuck away.

[2020-08-13 11:27] ratkosrb commented on #765
That is not an issue.

[2020-08-13 11:27] ratkosrb commented on #765
That is not an issue.

[2020-08-13 11:27] #765 closed, assigned to nobody

[2020-08-13 13:04] GrenderG commented on #722
So annoying.

[2020-08-17 15:18] NickTyrer opened #769 "Line of Sight Bug"
**Current behavior**:
You can access various things through walls:
vmangos: https://youtu.be/SoHrYYuStKk

**Expected behavior**:
They should not be accessible:
classic: https://youtu.be/dxMJFJYRcAk

**Client version**:
1.12.1
**Commit hash**:
4c57295
**Operating system**:
Win 10

[2020-08-17 15:36] #637 closed, assigned to nobody

[2020-08-17 15:37] #764 closed, assigned to nobody

[2020-08-17 15:47] ratkosrb commented on #769
The mouse cursor changing is a difference in how the clients work.

[2020-08-17 15:48] NickTyrer commented on #769
ok, closing

[2020-08-17 15:48] #769 closed, assigned to nobody

[2020-08-18 06:13] NickTyrer commented on #230
Can be closed. Fixed in #687

[2020-08-18 06:14] #454 closed, assigned to nobody

[2020-08-18 06:23] #711 closed, assigned to nobody

[2020-08-18 06:50] NickTyrer commented on #517
Fixed in #623

[2020-08-18 06:50] #517 closed, assigned to nobody

[2020-08-18 11:28] eugeniosegala opened #770 "[BUG] Thaddius script is not completely working"
**Current behavior**:
After killing Feugen and Stalagg, Thaddius does not activate.

**Expected behavior**:
After killing Feugen and Stalagg, Thaddius activates and the fight begins.

**Steps to reproduce**:

1. Kill  Feugen and Stalagg at the same time.
2. Jump into the Thaddius area and the fight should begin.

**Client version**:
1.12.1

**Operating system**:
Windows/Mac

[2020-08-18 12:33] alexkulya commented on #770
The instance is fully working. Taddius for effect needs to be killed as part of a group, not alone.

[2020-08-18 13:08] #230 closed, assigned to nobody

[2020-08-18 15:59] eugeniosegala commented on #770
I tried alone and with a group of 2 players (still not working), but I'll give it another try, just to be sure. I was checking the code and I saw several commented line inside multiple phases of the fight. I'll try to perform some tests. Thanks.

[2020-08-19 15:51] #728 closed, assigned to nobody

[2020-08-19 18:22] NickTyrer opened #772 "[Druid] Shapeshift Water Bug"
**Current behavior**:
When you are swimming and shapeshift into bear or cat form the camera is locked underwater. This should only happen when you are in aquatic form.
edit: confirmed see 59:50 https://www.youtube.com/watch?v=rGz_Xv5kRuM

**Client version**:
1.12.1
**Commit hash**:
1b96d15
**Operating system**:
Win10

[2020-08-20 18:30] NickTyrer opened #773 "[Shaman] Windfury Weapon Bug"
**Current behavior**:
Windfury Weapon Rank 1 - 3 has the wrong AP stats

**Expected behavior**:
Rank 1 = 103 AP
Rank 2 = 221 AP
Rank 3 = 315 AP

**Client version**:
1.12.1
**Commit hash**:
b549e98
**Operating system**:
Win 10

[2020-08-20 18:44] #773 closed, assigned to nobody

[2020-08-22 20:32] Oroxzy opened #775 "Hunter Trap Animation"
**Current behavior**:

Triggering a hunter trap has no animation

**Expected behavior**:

https://www.youtube.com/watch?v=s8cfzDN3cSw
can't find better source but at 2:30 a druid or at 9:42 a mage gets trapped and you see the animation

**Steps to reproduce**:

.gobj add 164877
.gobj select
.gobj setgostate 2

does the animation

[2020-08-25 08:08] #739 closed, assigned to nobody

[2020-08-26 17:30] SomeVMaNGOSMember opened #777 "Mobs on GM Island #2"
**Same issue #765 again, mistakenly flagged as spam**

Current behavior: There are some mobs on GM Island

Expected behavior: GM Island should be empty

Step to reproduce:

    .tele gmisland

Client version: unknown (tested on 1.6)

Commit hash: 9eef1bd

[2020-08-26 17:32] #777 closed

[2020-08-27 05:15] #775 closed, assigned to nobody

[2020-08-27 06:00] ratkosrb commented on #759
Can you test if you can cast water walking on players who are mounted and on shapeshifted druids.

[2020-08-27 11:52] NickTyrer commented on #759
Note: does this bug effect the spell Levitate?

[2020-08-27 19:08] ratkosrb commented on #759
Levitate is a self cast spell.

[2020-08-27 21:23] #759 closed, assigned to nobody

[2020-08-27 21:32] ratkosrb commented on #672
I cannot reproduce this. The rank 1 totem does the least damage, and rank 6 does the most.

[2020-08-27 21:41] ratkosrb commented on #712
The items she sells were added in patch 1.11. Lets wait and see if she starts selling them in Phase 6.

[2020-08-28 21:49] #621 closed, assigned to nobody

[2020-08-29 15:04] NickTyrer opened #778 "[Quest] The Only Prescription"
**Current behavior**:
The wrong item is looted from the library in Stormwind
![image](https://user-images.githubusercontent.com/22723839/91639852-559e4200-ea11-11ea-9406-38ff282bedb4.png)

**Expected behavior**:
Item "Draconic for Dummies chapter 5" should be looted from Stormwind Library not chapter 7
See: https://classic.wowhead.com/quest=8620/the-only-prescription#comments

**Client version**:

[2020-09-01 02:58] #697 closed, assigned to nobody

[2020-09-02 16:55] barugal opened #782 "Missing spawns in Elwyn Forest"
**Current behavior**:
No Longsnouts near bridge and tower in west of Elwyn Forest (north of gnoll camps & Hogger) and no Defias Bandits at Thunder Falls (right of the waterfall near Mirror Lake,)
**Expected behavior**:
There should be a few at each place
**Steps to reproduce**:
Go there
1.
2.
3.

**Client version**:
1.12.1
**Commit hash**:

**Operating system**:
Windows 10

[2020-09-03 08:16] schell244 commented on #263
Maybe there is a relation to https://github.com/TrinityCore/TrinityCore/issues/20247 _Crash can happen in case when pHatefulTarget die during cast SPELL_HATEFUL_STRIKE then it's removed from threat list so pointer to him is no longer valid._

[2020-09-04 00:03] #706 closed, assigned to nobody

[2020-09-04 18:05] Daribon opened #785 "Araj's spawn position pre 1.4.0"
**Expected behavior**:
Blizzard remade Ruins of Andorhal in patch 1.4.0, Araj used to have a different spawn position prior to it. Considering this is only relevant for pre 1.4.0 clients,  this is more of a reminder for the future.

I don't have any sniff data related to Araj from pre 1.4.0, however I do have several images:
![some boss](https://user-images.githubusercontent.com/6137576/92272268-8

[2020-09-08 03:26] wowspy9527 opened #789 "The server crashed after attacking Ragnaros for a period of time."
molten_core Ragnaros

2020-09-08 11:09:01 Next game event check in 120 seconds.
2020-09-08 11:10:52 ERROR:[MoltenCore.Ragnaros] Magma Blast failed with reason <1>.
2020-09-08 11:10:52 ERROR:[MoltenCore.Ragnaros] Magma Blast failed with reason <1>.
2020-09-08 11:11:00 Next game event check in 121 seconds.

**Client version**:
1.12.1
**Commit hash**:
0cc5c1d8b2f0c04f3431f60bdd0e3a6b1408ff99
**Operat

[2020-09-08 07:32] Kittnz commented on #789
We need a crash log for this one.

[2020-09-08 08:22] Kittnz commented on #782
all zones should be checked for spawns from sniffs

[2020-09-09 08:33] schell244 commented on #499
I noticed that sometimes also the cursor does ignore LOS.
For example player can detect/select an enemy by clicking on a wall:

<img width="510" alt="LOS" src="https://user-images.githubusercontent.com/9536270/92573800-935b6000-f286-11ea-98e0-0baae2144348.PNG">

I compared some of the vmap code to CMangos and noticed that VMangos uses an additional flag (appart from M2) for ignoring LOS:

https://

[2020-09-09 08:54] ratkosrb commented on #499
The cursor thing has nothing to do with the server. That's a client issue.

[2020-09-10 04:59] wowspy9527 commented on #789
Where can i find it？I just found server.log~

[2020-09-10 05:10] wowspy9527 commented on #789
![456](https://user-images.githubusercontent.com/70317238/92683901-bcebb880-f366-11ea-81db-157499919696.png)

[2020-09-10 05:29] ratkosrb commented on #789
You need to compile core in Debug mode, then when it crashes you press the option to Debug in Visual Studio, and you show us the call stack window at the bottom.

[2020-09-10 06:18] wowspy9527 commented on #789
![123](https://user-images.githubusercontent.com/70317238/92688734-726f3980-f370-11ea-8f89-1654ce8255a8.png)

[2020-09-10 06:22] wowspy9527 commented on #789
mangosd.exe!boss_ragnarosAI::CheckForMelee() 行 565	C++
 	mangosd.exe!boss_ragnarosAI::UpdateAI(const unsigned int diff) 行 517	C++
 	mangosd.exe!Creature::Update(unsigned int update_diff, unsigned int diff) 行 880	C++
 	mangosd.exe!TemporarySummon::Update(unsigned int update_diff, unsigned int diff) 行 203	C++
 	mangosd.exe!WorldObject::UpdateHelper::UpdateRealTime(unsigned int now, unsigned int time

[2020-09-10 06:24] #789 closed, assigned to nobody

[2020-09-10 06:25] ratkosrb commented on #789
Should be fixed now.

[2020-09-10 09:30] luolingjun commented on #707
中文乱码问题,应该看看mysql数据库编码问题,设置编码utf8 -- UTF-8 Unicode,utf8_general_ci,不过VS2019编译的时候确实会提醒编码有问题- -,估计cmake转码有些代码没转换成格式utf8,导致vs2019简体版本不识别

[2020-09-12 15:01] mikemenasi opened #790 "Dranei and Blood Elves are included in allowable_race"
**Current behavior**:
SELECT * FROM item_template WHERE allowable_race IN (1101, 690) hows results

**Expected behavior**:
Dranei and Blood Elves should not be set in this field.
see:
https://github.com/mangoszero/database/commit/a6568eab7f915ad5540df3aa9538ec18c743c1a4
https://github.com/mangoszero/database/commit/807ee67c1bf0f1583b1cf68374ceca4421728583

**Client version**:
1.12.1
**Commit hash*

[2020-09-12 16:09] ratkosrb commented on #790
Those values come from the Classic's ItemSparse.db2, so we are not changing this. Do not suggest changes that contradict the client db.
https://wow.tools/dbc/?dbc=itemsparse&build=1.13.5.35753#page=1&search=1041

[2020-09-12 16:10] #790 closed, assigned to nobody

[2020-09-18 03:58] zealtla opened #791 "Instance Reset bug"
**Current behavior**:

**Expected behavior**:

**Steps to reproduce**:
raid instance reset bug
1. player A has bind to a raid instance
2. player B has not bind to this raid instance
3. player A invite B to join a group and A is group leader
4. player A do not enter this raid instance
5. player B enter this raid instance and kill boss,then player B leave group when finished
6. player B logged out i

[2020-09-18 19:13] NickTyrer opened #792 "[Talent] Preist Talent Mental Agility"
**Current behavior**:
The talent isnt reducing the mana cost of instant cast spells

**Client version**:
1.12.1
**Commit hash**:
150d3d7
**Operating system**:
Win 10

[2020-09-18 21:44] T1ti commented on #792
The effectitemtype1 for mental agiltiy in spell_template DB is wrong.
In DBC it is 2185347403 which should affect
- 1
- 2
- 4
- 7
- 9
- 15
- 16
- 17
- 23
- 26
- 32

But in the DB it is 2147483648 which only returns 32.

[2020-09-19 14:10] rosen40 opened #793 "Missing mob leash behavior"
**Expected behavior**: On Classic when you aggro a mob there is about 1.5 seconds delay before other nearby mobs also start attacking you. When this happens, all of the mobs that you aggroed at the same time become "linked" and now hitting even only 1 of them updates the leash range on ALL of them. This does not happen on vmangos at all. I have recorded videos on both Classic and Vmangos demostrat

[2020-09-23 06:33] #792 closed, assigned to nobody

[2020-09-23 07:11] ratkosrb commented on #791
I can't reproduce the issue. Are there extra steps you did not mention?

[2020-09-24 09:41] zealtla commented on #791
sorry。steps below:

1.player A has bind to a raid instance;
2.player B has not bind to this raid instance;
3.player B enter this raid instance; <-------
4.then player A invite B to join a group and keep A is group leader (player A do not enter this raid instance all the time)
5.player B solo this raid instance (don't do anything that will make screen loading)  ,then player B leave group when bosse

[2020-09-24 16:49] rosen40 commented on #793
https://youtu.be/BiasPgXc93Q

https://youtu.be/9p4nXzVZQag

2 more reference videos from Classic

[2020-09-25 21:27] schell244 opened #799 "[Npc/Trainer] Bena Winterhoof - wrong profession"
Bena Winterhoof should offer training for alchemy - currently it's letherworking.

https://de.classic.wowhead.com/npc=3009/bena-winterhoof

**Client version**:
1.12.1
**Commit hash**:
0dfc8ae
**Operating system**:
Win 10

[2020-09-25 21:33] schell244 opened #800 "[Npc] - Gesharahan"
Gesharahan should have Rare Elite flag.
Currently its Elite.

https://classic.wowhead.com/npc=3398/gesharahan

**Client version**:
1.12.1
**Commit hash**:
0dfc8ae
**Operating system**:
Win 10

[2020-09-26 11:40] ratkosrb commented on #800
He is rare elite already.

[2020-09-26 11:40] #800 closed, assigned to nobody

[2020-09-26 16:41] #799 closed, assigned to nobody

[2020-09-27 15:37] NickTyrer opened #802 "[NPC] Fahrad (6707) Missing Training Menu"
**Current behavior**:
DBErrors.log:
```Creature 14786 (Entry: 6707) have UNIT_NPC_FLAG_TRAINER but have empty trainer spell list.```

**Expected behavior**:
He should be a rogue trainer:
https://classic.wowhead.com/npc=6707/fahrad

**Client version**:
1.12.1
**Commit hash**:
3edd1ce
**Operating system**:
Win 10

[2020-09-30 00:32] Daribon opened #804 "[Object] Alliance being able to mine in Garrison Armory"
**Current behavior**:
Alliance players are currently able to mine in Garrison Armory in Blasted Lands. (Nethergarde mine)
**Expected behavior**:
Alliance players shouldn't be able to mine Garrison Armory, only horde players should be able to do it. It shouldn't show anything when you hover over it as alliance.
Blue posts from 2008: https://blue.mmo-champion.com/topic/75178-mining-in-blasted-lands-

[2020-09-30 14:20] #569 closed, assigned to nobody

[2020-10-01 08:52] schell244 opened #805 "[Quest] Mother's Milk"
Quest giver Ragged John is missing gossip option to complete quest Mother's Milk.

https://classic.wowhead.com/npc=9563/ragged-john
https://classic.wowhead.com/quest=4866/mothers-milk
https://classic.wowhead.com/npc=10596/mother-smolderweb
https://classic.wowhead.com/spell=16468/mothers-milk

**Steps to reproduce**:
1. accept quest Mother's Milk from Ragged John
2. enter Lower Blackrock Spire and

[2020-10-01 19:50] schell244 opened #806 "[Dungeon] Dire Maul North - Prinz Tortheldrin"
https://de.classic.wowhead.com/npc=11486/prinz-tortheldrin

After clearing the 5 crystals and killing Immol'thar, Prinz Tortheldrin should be attackable.
Currently he does not get attackable. (2 tests performend)

I think this is the code which should make him attackable(!?):
https://github.com/vmangos/core/blob/a0bda55d9a310830e1772ba981aa3274107d41d5/src/scripts/kalimdor/feralas/dire_maul/instan

[2020-10-03 04:58] Gamemechanicwow commented on #770
The script intercepts a killing blow, and makes the add appear dead.
If you kill an add with a gm command, that part of the script wont be executed.

[2020-10-03 11:18] schell244 opened #809 "[Naxxramas] collection of db errors"
Ater a full Naxxramas clear, I found the following errors in log (there have been a few more, but I think these are all db related):
[code]

Broadcast text errors could be related with https://github.com/vmangos/core/commit/e8b603fe22e69fbe6c5df8ea9c47d2c297f936cd

**Client version**:
1.12.1
**Commit hash**:
16902fe
**Operating system**:
Win 10

[2020-10-03 11:26] ratkosrb commented on #770
The script works. Stop using gm accounts or commands. Do it in a raid group with normal accounts and no cheats, and things will work correctly.

[2020-10-03 11:26] #770 closed, assigned to nobody

[2020-10-03 23:53] tonymmm1 opened #811 "Server restart is initiated without knowing the cause."
**Current behavior**:  After starting up server server restart in 15 min declared.

**Expected behavior**:  No random restart

**Steps to reproduce**: Start up server and let it run for a few minutes.

**Client version**:  1.12.1

**Commit hash**:  https://github.com/vmangos/core/commit/16902fea8691cdfeded056413a6c97127f3c68e3

**Operating system**:  Linux 64bit

[2020-10-04 00:02] tonymmm1 commented on #811
I am going to rebuild my deployment stack and then see if the error is repeatable.

[2020-10-04 00:03] ghost commented on #811
Maintenance restarter?

[2020-10-04 00:04] tonymmm1 commented on #811
I am not certain and have checked logs.

[2020-10-04 00:32] tonymmm1 commented on #811
Ok i have completely recompiled and made sure everything is new but I have still have the restart warning.

[2020-10-04 00:32] tonymmm1 commented on #811
Do I need to edit config file and or database for the maintainer if that is what is causing the restarts?

[2020-10-04 00:37] ghost commented on #811
https://github.com/vmangos/core/blob/development/src/mangosd/mangosd.conf.dist.in#L1073

[2020-10-04 00:38] tonymmm1 commented on #811
I just dont get why its triggering every boot. I am fine with the preset default timer is it an issue of the core not being able to use system time or somehow is not able to keep track?

[2020-10-04 00:48] tonymmm1 commented on #811
Yeah I have not noticed this issue in the past but I guess I can disable autohonor for now.

[2020-10-04 00:52] ratkosrb commented on #811
Change AutoHonorRestart in config.

[2020-10-04 00:52] #811 closed, assigned to nobody

[2020-10-04 00:52] tonymmm1 commented on #811
@ratkosrb what is the purpose of autohonorrestart if it starts on launch? Isnt it a weekly timer.

[2020-10-04 01:17] ratkosrb commented on #811
It restarts when there are more calculations to be done. It only calculates 1 week worth of honor on each restart. So if you have not started your server for a long time, you might need dozens of restarts to catch up.

[2020-10-04 05:02] tonymmm1 commented on #811
ok ty

[2020-10-04 08:16] caicaicai opened #812 "Hunter’s automatic shooting will be interrupted, after followed up with the latest code."
**Current behavior**:
Hunters are sometimes interrupted when they automatically attack some.
**Expected behavior**:
continuous automatic attack

**Client version**:
1.12.3
**Commit hash**:
latest
**Operating system**:
win7

[2020-10-04 08:19] caicaicai commented on #812
I guess it has something to do with the newly added GCD check feature.

[2020-10-04 10:10] NickTyrer opened #813 "[NPC] Missing spawns of Mammoth Shark"
**Current behavior**:
They are not there

**Expected behavior**:
see: https://github.com/mangoszero/database/commit/6d3956e174bb219d4c02d421e3af5a297520a856

**Client version**:
1.12.1
**Commit hash**:
16902fe
**Operating system**:
Win

[2020-10-04 10:39] coolzoom commented on #811
or if you still need the auto honor restart, you could clean the saved variable table in characters database, it contains the honor maintenance time.

[2020-10-05 19:11] T1ti opened #814 "Incorrect armor values for level 58+ creatures"
**Current behavior**:
Creatures level 60 to 63 currently use wrong armor values that are taken from the Bestiary book which is from TBC.
TBC increased the armor values of all level 60+ mobs so all the known class level templates are wrong for vanilla and need to be updated.

**Expected behavior**:
Update the class level template armor value of all lvl 60/63 mobs with vanilla values.

Proof of that

[2020-10-07 07:31] schell244 commented on #778
Confirmend with 16902fe. Chapter 7 and Chapter 5 should be switched.
Stormwind Library : currently chater 7  -> should be chapter 5
BWL: currently chapter 5 -> should be chapter 7

https://classic.wowhead.com/item=21107/draconic-for-dummies
https://classic.wowhead.com/item=21109/draconic-for-dummies

[2020-10-07 10:15] kampeador commented on #814
I doubt that only 60-63 lvls are wrong.
Forest Spider in Elwynn Forest.
lvl 5: 126 armor
lvl 6: 180 armor
VMangos db: 147.

Stormpike Owl 54 lvl: 3237 armor
VMangos db: 0

Alterac Ram 51 lvl: 3072 armor
VMangos db: 2200.

Either my DB is old or everything is different in classic.

[2020-10-07 11:13] Daribon commented on #814
@kampeador you have to take in mind that vmangos DB currently only has 1 column for armor. So if a mob is supposed to have between 250 and 300 armor on a level 18-20 mob, at both level 18 and 20 it will have 300 armor in vmangos.

Thus far we been comparing a lot with bestiary guide which has accurate data, but with TBC modifiers.
If you don't have bestiary guide, DM me on discord.

[2020-10-07 12:37] Dasharius opened #815 "Naxxramas Bosses don't respawn properly with GM command."
**Current behavior**:
Trying to respawn for example Patchwerk in Naxxramas only despawns the corpse. Also seems to apply to all other Naxx Bosses. (Killed and respawned half of them -> same behaviour)

**Expected behavior**:
Patchwerk should spawn at the Grobbulus Gate. (All Bosses should spawn properly after using .respawn)

**Steps to reproduce**:

1. .gm on
2. .instance unbind all (optional)
3.

[2020-10-07 13:49] ratkosrb commented on #815
The instance script prevents respawns within the same raid lockout. This is probably intentional behavior. You can reset the entire raid to do the encounter again.

[2020-10-07 13:56] ratkosrb commented on #814
@kampeador You are alive! I remember you from Elysium times :)

The only creature stats that are accurate all over the board are health and mana. Armor, damage and resistances for most mobs are the same as they were in mangos db in 2011 when Nost forked their project, and who knows whats the source of values there. We can use the Bestiary book to correct stats for important mobs, but nobody has ti

[2020-10-07 15:08] ratkosrb commented on #712
Noticed a comment for this npc, who sells the same things as her.
https://classicdb.ch/?npc=16543#comments

[code]

[2020-10-07 15:44] ratkosrb commented on #712
Daribon discovered whats up with these npcs. There are letters that drop from the Scourge Invasion, and if you turn them in to these npcs, you can buy stuff from them.

https://wow.gamepedia.com/Friendship_Bread

[2020-10-07 19:07] kampeador commented on #814
I've got a bestiary guide from @Daribon and compared it with some mobs in classic using Bestial Lore.
Most of them are +- 50-200 armor, while some are completely different.
For example:
In bestiary and VMangos DB Mistvale Gorilla armor values are listed as 1270-1304, while they have only 54-56 armor in classic.
I'll try to make a table(possibly at the end of this week) so you'll see a difference.

[2020-10-07 20:01] T1ti commented on #814
Note : TBC changed the health value of all level 20+ mobs, I expect they done something similar with armor

[2020-10-07 20:09] ratkosrb commented on #814
That's not true.

[2020-10-07 20:10] Daribon commented on #814
HP value was never changed in TBC. From what I recall the most obvious change in TBC, especially in patch 2.3.0 was a heavy nerf on damage that elite mobs dealt.

[2020-10-07 20:12] T1ti commented on #814
Ok sorry I was comparing to the cmangos table which I tought was tbc

[2020-10-07 20:21] Daribon commented on #814
I think I have an idea where the original values in mangos DB comes from.

Mangos DB was created by forking UDB (Unified Database) sometime in 2008. UDB was created when SDB (Silver-DB) and MoDB merged in September 2007. Prior to this mangos had used mainly SDB for it's database, for example if you checked out those old 2006 repacks. Considering just how many spawns are still shared with UDB, it's

[2020-10-08 02:05] #806 closed, assigned to nobody

[2020-10-08 02:05] #805 closed, assigned to nobody

[2020-10-08 02:20] #802 closed, assigned to nobody

[2020-10-08 02:31] #809 closed, assigned to nobody

[2020-10-08 03:45] #812 closed, assigned to nobody

[2020-10-08 06:53] NickTyrer commented on #487
These gameobjects are spawned for the winner of the popularity contest:

The faction leader who wins the popularity contest will be rewarded with having Kwee remain in residence for an extra week beyond the end of the Love is in the Air event. If you /kiss Kwee, he will cast a +200 HP buff on you that lasts 1 hour. This is why he's valuable to keep a week beyond the event, so vote early and often!

[2020-10-08 21:39] T1ti opened #816 "Wrong training cost for a few abilities"
**Current behavior**:
Shield slam and Mortal strike rank 2 cost 2 silver
**Expected behavior**:
They should cost 20 silver, there's a missing zero.

**Client version**:
1.12

[2020-10-09 08:19] schell244 opened #818 "[Quest] The Challenge"
https://classic.wowhead.com/quest=9015/the-challenge
https://classic.wowhead.com/item=21986/banner-of-provocation
https://classic.wowhead.com/npc=16059/theldren

When using Banner of Provocation within Ring of the Law in Blackrock Depths, player gets attacket by an invisible enemy (which does ~2 dmg to lvl 60 player).
Theldren does not spawn - quest can't be completed.

**Client version**:
1.12.1

[2020-10-09 09:52] kampeador commented on #814
No. Mob "health" values a mostly corrent, but it looks like there were some rounding issues when they were generated.
For example, a level 20 Rapid Dire Wolf has 493 hp, while it should have 494.
The higher the level of the creature, the greater the difference in armor. There is also a difference in "health" and "damage".

Here are some mob stats from classic:
https://pastebin.com/Rkh2djjf

[2020-10-09 18:24] Daribon commented on #814
What is the source of the above pastebin? images or sniffs?

[2020-10-09 18:41] T1ti commented on #814
He said he was just using beast lore on a lot of mobs in classic.
Those values exactly match those from theorycrafts

![vanillacls](https://user-images.githubusercontent.com/40864460/95619939-b0df3d80-0a6f-11eb-9f43-0918de211c4f.png)

[2020-10-09 18:59] T1ti commented on #814
Even for pre lvl 60 the values are slightly off
Exemple : lvl 58 in vmangos is 3435, in classic it is 3457.

I checked and the values from the bestiary are the same as vmangos so both are  wrong.
noxious plaguebat lvl 56 :
-3348 in classic
-3327 in bestiary
-3327 in vmangos

I will make a full list of all lvl with classic values based on that

[2020-10-11 01:37] #818 closed, assigned to nobody

[2020-10-11 01:38] ratkosrb commented on #818
Theldren does spawn and the quest is completable. The only problem was the trigger npc would aggro.

[2020-10-11 01:59] #778 closed, assigned to nobody

[2020-10-11 02:52] Daribon commented on #409
Now that classic has progressed into phase 5, skin of shadow has stopped spawning on the ground.

Can therefor confirm that patch 1.10 is when skin of shadow stopped spawning on the ground and that's when skin of shadow was added to loot tables of NPCs in Scholomance.

[2020-10-11 03:18] ratkosrb commented on #409
So this issue is invalid then?

[2020-10-11 03:22] Daribon commented on #409
If it's already set to despawn at patch 1.10 in vmangos DB, then yes, the issue is invalid.

[2020-10-11 03:26] ratkosrb commented on #409
The Skin of Shadow in her room has patch_max=7 set in db.

[2020-10-11 03:26] #409 closed, assigned to nobody

[2020-10-11 03:31] Daribon commented on #599
I've done Assassin's Contract on classic.
From what I experienced, two stealthed shadow assassins spawned near me and then started attacking me. Killed one of them and looted the quest. I never noticed anything about Soutshore crier.

[2020-10-12 14:37] Daribon opened #823 "[Paladin] Greater blessings doesn't fade on leaving group"
**Current behavior**:
If you a paladin buffs you with any greater blessing, it stays on after you leave the paladins raid/group.
**Expected behavior**:
All greater blessing should fade if you leave raid/group.
Only exceptions is if you are a paladin and buffed yourself with a greater blessing.
**Steps to reproduce**:

1. Buff any greater blessing on alt account raid/party member.
2. Leave group wi

[2020-10-12 14:46] Daribon opened #824 "[Paladin] Buffing low level players with high level greater blessings."
**Current behavior**:
If you as a paladin have another low level paladin in your group, you can cast greater blessing on yourself and it will be applied to the low level as well.

Same thing if you as a paladin, have for example 2 warriors in your group, one level 60 and one level 20. You are able to cast greater blessing on the 60 warrior for it to be applied to the level 20 warrior.
**Expected b

[2020-10-12 15:00] Daribon opened #825 "[Paladin] Cleanse and Purify can be used without any debuffs."
**Current behavior**:
You can currently use cleanse and purify even if there are no debuffs.
**Expected behavior**:
You should not be able to use cleanse/purify without having any debuffs since patch 1.10.0.
It's currently coded in https://github.com/vmangos/core/blob/379fd6762ca8004e4518667769c02a079d57d7f3/src/game/Spells/Spell.cpp#L6618 however doesn't seem to be working atm.
**Steps to reprodu

[2020-10-12 20:42] shagu commented on #720
As far as I understood, this mechanism is used to validate builtin blizzard addons like "Blizzard_CombatLog" and such.
Since 2.x-TBC there's a secure mechanism that prevents user created addons from accessing several things.
Blizzard Addons on the other hand, are signed and allowed to do everything.

As far as I understood, the linked mechanism is used to validate the blizzard addons and if a chan

[2020-10-12 22:52] #825 closed, assigned to nobody

[2020-10-13 06:58] #720 closed, assigned to nobody

[2020-10-13 14:24] #94 closed, assigned to nobody

[2020-10-13 14:27] #198 closed, assigned to nobody

[2020-10-13 14:38] #285 closed, assigned to nobody

[2020-10-13 14:48] #304 closed, assigned to nobody

[2020-10-13 14:49] #442 closed, assigned to nobody

[2020-10-13 14:49] NickTyrer commented on #442
Combined with #481

[2020-10-13 14:50] NickTyrer commented on #772
Client Issue

[2020-10-13 14:50] #772 closed, assigned to nobody

[2020-10-13 16:17] schell244 opened #826 "[MovementAnticheat] - triggers when player gets teleported to graveyard in battlegrounds"
**Steps to reproduce**:
1. enable anticheat in world.conf
2. die 3 times in warsong with sec. level 0 account (tested with bots)
3. player gets kicked: [MovementAnticheat]  Cheat: PendingAckDelay(Total:3), Penalty: Kicked.

**Client version**:
1.12.1
**Commit hash**:
bba4974f612c0f7fc318ae5c3e55e017d9b3c9f3
**Operating system**:
Win10

[2020-10-14 11:52] schell244 opened #827 "[Quest] Free From the Hold"
https://classic.wowhead.com/quest=898/free-from-the-hold
https://classic.wowhead.com/npc=3465/gilthares-firebough

1. Accept quest 898 (Free From the Hold) from Gilthares Firebough
2. Let Gilthares Firebough aggro any enemie unit (when player has aggro first, issues does not occure)
3. Gilthares Firebough and targeted unit are stuck in place and spam "aggro sound"

Not sure if this code prevents a

[2020-10-15 17:50] schell244 opened #828 "[Quest] The Battle of Darrowshire"
https://classic.wowhead.com/quest=5721/the-battle-of-darrowshire
https://classic.wowhead.com/item=15209/relic-bundle

**Steps to reproduce**:
1. Accept quest The [Battle of Darrowshire]
2. Use [Relic Bundle] at the Darrowshire town square, to start quest script

**Current behavior**:
Quest scripts starts (player enters combat), some npcs are spawned.
Tested 2 screnarios:
- not moving player
- movi

[2020-10-16 08:37] schell244 opened #830 "[Quest] Counterattack!"
**The Quest script needs some rework:**
 ~~use broadcast texts instead of script texts~~ https://github.com/vmangos/core/commit/72bfa1ba86d29d539b3570abb2c40d4627082ebe
- add waypoints to horde guard npc's
- container object [kromzars banner] - currently it can only be looted by one player. I think it should be somehow a "timed summon" and while its summoned/spawed it can be looted from all player

[2020-10-16 18:58] NickTyrer commented on #762
She now has the gossip option however, clicking the option does nothing. The corresponding alliance quartermaster, Argent Quartermaster Lightspark's gossip is working correctly.

[2020-10-18 09:58] NickTyrer opened #831 "[Item] Movement Boosting Items"
**Current behavior**:
There should be a 5 min cooldown between the use of items such as Nifty Stopwatch and Rocket Boots see:
https://wowwiki.fandom.com/wiki/Goblin_Rocket_Boots
https://classicdb.ch/?item=2820#comments
note: this needs to be tested in classic to confirm

**Client version**:
1.12.1
**Commit hash**:
3d73832
**Operating system**:
Win 10

[2020-10-18 19:38] ratkosrb commented on #831
Where do you suggest the cooldown should be set, because the cooldown in item_template comes from ItemSparse.db2 and ItemEffect.db2, and you do not doubt client files. No changes to the 1.12 version of items that deviates from the client files is permitted. And according to our current data, the shared cooldown between them was removed in patch 1.11. They used to both have spellcategory = 28 and s

[2020-10-18 19:52] NickTyrer commented on #831
Cheers for looking into this. Will close, as working as intended.

[2020-10-18 19:52] #831 closed, assigned to nobody

[2020-10-19 14:52] NickTyrer opened #832 "[Hallows End] Misc Bugs"
**Current behavior**:
1. Various Apple Bob objects are unusable as the object is always in use
![Untitled](https://user-images.githubusercontent.com/22723839/96467676-132fff00-1223-11eb-949d-a4c19bfcdb1d.png)

2. Chicken Clucking for a Mint (8353) is missing RequestItemsText

3. Crashing the Wickerman Festival (1658) is missing RequestItemsText

4. The Power of Pine (8373) is missing RequestItemsT

[2020-10-19 16:21] alexkulya commented on #832
1. <pre> UPDATE `gameobject` SET `state` = 1 WHERE `guid` IN (332880, 332864) AND `id` = 180523; </pre>
2. <pre> UPDATE `quest_template` SET `RequestItemsText` = "I'm waiting..." WHERE `entry` = 8353; </pre>
3. <pre> UPDATE `quest_template` SET `RequestItemsText` = "Have you gone up to Tirisfal Glade and checked things out? They usually hold the festival close to the Undercity..." WHERE `entry` =

[2020-10-19 17:19] alexkulya commented on #832
6.
<pre>
UPDATE `creature` SET `position_x` = 1760.689941, `position_y` = 510.542999, `position_z` = 36.015301, `orientation` = 6.259000 WHERE `guid` = 160014 AND `id` = 15197;
UPDATE `creature` SET `position_x` = 1732.310059, `position_y` = 520.874023, `position_z` = 36.332600, `orientation` = 1.309420 WHERE `guid` = 85634 AND `id` = 15195;

DELETE FROM `gameobject` WHERE `guid` BETWEEN 131140 AN

[2020-10-19 19:55] lyn1337 commented on #652
There never was any delay when sending mail without any item(s) or money, iirc. Tested on "classic".

[2020-10-19 19:59] Daribon commented on #652
After testing on classic I can confirm as well.
If you send mail with only text in it, it will arrive instantly.

[2020-10-20 10:26] schell244 commented on #652
PR updated

[2020-10-20 14:32] dxgmbz123 opened #833 "How to add the Eluna function to Light's Hope Vanilla V17?"
How to add the Eluna function to Light's Hope Vanilla V17?

[2020-10-20 14:32] dxgmbz123 commented on #833
I am noob

[2020-10-20 14:37] Daribon commented on #833
you can't, v17 is a repack.

[2020-10-20 14:55] #833 closed, assigned to nobody

[2020-10-20 14:56] dxgmbz123 commented on #833
Can the core of vmangos be added?

[2020-10-20 14:58] dxgmbz123 commented on #833
Or add the source code of Light's Hope Vanilla V15?

[2020-10-20 14:58] ghost commented on #833
Use VMaNGOS Discord for questions. This one here is a bugtracker if you didn't notice..

[2020-10-20 15:04] dxgmbz123 opened #835 "How to add lua to VMaNGOS?"
How to add lua to VMaNGOS? Can anyone help me repack? I am a novice, thanks!

[2020-10-20 15:06] #835 closed, assigned to nobody

[2020-10-20 16:48] NickTyrer opened #836 "[NPC] Rimblat Earthshatter Missing Event"
**Current behavior**:
The Event is Missing

**Expected behavior**:
Here is a video for reference:
https://youtu.be/VAd1H8Mmgj8

**Client version**:
1.12.1
**Commit hash**:
d062e86
**Operating system**:
Win 10

[2020-10-20 18:48] ratkosrb commented on #833
We do not support Eluna.

[2020-10-20 23:16] ratkosrb commented on #835
We don't support lua.

[2020-10-21 13:35] alexkulya commented on #836
The text part of the event has already been done, you need to add an action with a kneel and a script for the DND spell:
[click for view this spell](https://classic.wowhead.com/spell=27824/rimblat-grows-flower-dnd)

[2020-10-22 03:43] T1ti opened #837 "Summon player mechanic missing on some bosses"
several bosses are missing the "summon player" mechanic when someone runs  far away and tries to escape, or is in LOS not exactly sure how it works
https://classic.wowhead.com/spell=20477/summon-player#used-by-npc;0-2+1 look at those for a list, I can confirm magmadar can use it in classic
Do ctrl+f SPELL_SUMMON_PLAYER in the core and some bosses are missing it(like magmadar and golemagg), unless

[2020-10-22 05:25] ratkosrb commented on #832
I am working on it.

[2020-10-22 09:58] ratkosrb commented on #832
Numbers 10 and 11 are not bugs. It's the same on Blizzard servers.

![WoWScrnShot_102220_125445](https://user-images.githubusercontent.com/35845488/96856080-3696bc00-1466-11eb-956c-ce519396fe89.jpg)

![WoWScrnShot_102220_125532](https://user-images.githubusercontent.com/35845488/96856106-3b5b7000-1466-11eb-826b-4f620ccd3de5.jpg)

![WoWScrnShot_102220_125613](https://user-images.githubusercontent.c

[2020-10-22 11:14] ratkosrb commented on #832
Number 14 is also not a bug.

[2020-10-22 11:15] #832 closed, assigned to nobody

[2020-10-22 12:22] #568 closed, assigned to nobody

[2020-10-22 12:24] #571 closed, assigned to nobody

[2020-10-23 18:40] LEO33SoFo opened #840 "Windows XP compatibility?"
**Current behavior**:

The program does not run on _Windows XP_, with the error "**_The procedure entry point GetThreadId could not be located in the dynamic link library KERNEL32.dll._**"

**Expected behavior**:

If _Windows XP_ is supposed to be compatible, it should run with no problems, like the older (May 2020) versions of _vMaNGOS_ contained in [Light's Hope Vanilla Repack](http://www.ac-web

[2020-10-24 02:51] ratkosrb commented on #840
I can't reproduce the issue. I just compiled the latest version and it ran fine on XP.

[2020-10-24 02:55] ratkosrb commented on #840
![vmangosxp](https://user-images.githubusercontent.com/35845488/97066356-7cb26380-15bd-11eb-8298-e44ec4433044.JPG)

[2020-10-24 03:00] ratkosrb commented on #840
Maybe its caused by the version of ACE or TBB you are using.
I compile with:
ACE-6.4.2
tbb2017_20161128oss_win

[2020-10-24 12:06] barncastle opened #841 "Item flags pre 1.7"
Just to let you know that for pre-1.7 you have an overflow in your item flags.

Pre 1.7 `ITEM_STATIC_FLAGS` (ItemPrototypeFlags) and `ITEM_DYNAMIC_FLAGS` were both 16 bit fields and were both sent in the `SMSG_UPDATE_OBJECT` packet -  the `ITEM_FIELD_FLAGS` update field was a union of them. From 1.7 these increased to 32 bit so they dropped the static flags as they're already known from the item q

[2020-10-24 16:25] ratkosrb commented on #841
Thank you for this information. I have updated the implementation.
https://github.com/vmangos/core/commit/e2e2b85710aaa7c31bca9095de6c5eedda203d13

[2020-10-24 16:25] #841 closed, assigned to nobody

[2020-10-24 16:29] #840 closed, assigned to nobody

[2020-10-26 20:42] LEO33SoFo commented on #840
@ratkosrb Thank you. It seems the current latest versions of these tools don't work with *Windows XP*.
It worked with **ACE-6.5.6** and **tbb2019_20191006oss_win** though.

[2020-10-28 17:08] NickTyrer opened #843 "[NPC] Dwarven Farm Missing Spawns"
**Current behavior**:
The dwarven farm in the wetlands is missing spawns and waypoints

**Expected behavior**:
Here is a video for ref:
https://youtu.be/d7a9AYUmz9M

**Client version**:
1.12.1
**Commit hash**:
b927570
**Operating system**:
Win 10

[2020-10-28 17:54] NickTyrer opened #844 "[NPC] Gnomeregan Entrance Missing Spawns"
**Current behavior**:
 A room on the lower floor is missing all spawns

**Expected behavior**:
Here is a video for ref:
https://youtu.be/aXV7YCzJ9qQ

**Client version**:
1.12.1
**Commit hash**:
b927570

**Operating system**:
Win 10

[2020-10-28 20:42] alexkulya opened #845 "Hidden farms"
Added creatures spawns, wps, gobs spawns in:
- Arathi coast dwarven farm [gamepedia link](https://wow.gamepedia.com/Arathi_coast_dwarven_farm)
- Wetlands farm [gamepedia link](https://wow.gamepedia.com/Wetlands_farm) (Closes: #843)

Thanks: cmangos (big data part), @NickTyrer (video)

<pre>
DELETE FROM `creature` WHERE `guid` BETWEEN 285020 AND 285069;
INSERT INTO `creature` (`guid`, `id`, `map`,

[2020-10-29 03:03] lwbbdyx commented on #45
I can reproduce.
Steps to reproduce:
1.type .gm fly on
2.jump
3.jump into water
Fix:
type .gm fly off

[2020-10-31 18:09] #843 closed, assigned to nobody

[2020-10-31 18:27] NickTyrer commented on #244
In classic the flag having Alliance and Horde auras happens as well.

[2020-10-31 18:59] Kittnz opened #846 "Missing spawns at elwynn forest / thunder falls"
**Current behavior**:
No spawns
![afbeelding](https://user-images.githubusercontent.com/5845231/97787553-4ffcde00-1bb3-11eb-8854-fde3669a4175.png)
![afbeelding](https://user-images.githubusercontent.com/5845231/97787559-5c813680-1bb3-11eb-8702-4239ef1e5765.png)

@NickTyrer wanna check it out?

**Expected behavior**:
Have spawns

**Client version**:
Any

**Commit hash**:
5bbc6c3463d28bb33933a27d002

[2020-10-31 20:18] NickTyrer commented on #846
@Kittnz I only have sniff data for 2 spawns there, and no other data is available via cmangos. Here is a video for ref :https://youtu.be/4tWfwUO0PxA

[2020-10-31 20:27] alexkulya commented on #846
<pre>
INSERT INTO `creature` (`guid`, `id`, `map`, `display_id`, `equipment_id`, `position_x`, `position_y`, `position_z`, `orientation`, `spawntimesecsmin`, `spawntimesecsmax`, `wander_distance`, `movement_type`) VALUES
(285070, 116, 0, 0, 0, -9298.77, 625.395, 130.554, 5.20116, 270, 270, 0, 0),
(285071, 116, 0, 0, 0, -9293.34, 643.388, 130.519, 4.8116, 270, 270, 5, 1),
(285072, 116, 0, 0, 0, -92

[2020-11-01 15:01] #623 closed, assigned to nobody

[2020-11-01 15:05] #846 closed, assigned to nobody

[2020-11-01 15:07] #665 closed, assigned to nobody

[2020-11-01 15:08] #592 closed, assigned to nobody

[2020-11-01 15:12] ratkosrb commented on #634
From sniffs:
[code]

[2020-11-01 15:13] #634 closed, assigned to nobody

[2020-11-01 15:25] #845 closed, assigned to nobody

[2020-11-01 15:34] ratkosrb commented on #658
Do you need more data for this, or you don't know how to implement the remaining problems?

I am not familiar with the event, but you can use the inverse_phase_mask field in creature_ai_events to stop npc from casting a spell in a specific phase.

If the mob is spawned by script, then you can use the Start Script command with multiple script ids to randomly spawn the mob at different position. If

[2020-11-01 15:38] ratkosrb commented on #845
The gameobjects were already spawned.

[2020-11-02 09:08] NickTyrer commented on #813
Fixed in #820 820

[2020-11-02 09:08] #813 closed, assigned to nobody

[2020-11-02 11:32] #762 closed, assigned to nobody

[2020-11-02 11:32] #816 closed, assigned to nobody

[2020-11-02 12:13] #668 closed, assigned to nobody

[2020-11-02 12:17] #652 closed, assigned to nobody

[2020-11-02 16:06] Daribon commented on #837
It is used when boss cannot find a path to the player who has the highest threat.
I think it is also also used if boss cannot reach player with the highest threat, due to range. It is used so people won't kite bosses.

[2020-11-02 22:46] schell244 opened #847 "[Battlebots] - reward mark via mail"
When running the server with battlebots for a while, the inventory of battlebots will fill up with battleground reward marks.
When battlebots reach full inventory, the server will send reward marks via mail to battlebots character guids.
Since the guids are not saved to db.... restart the server, create a new character and you can expect some post :D

-> to prevent that, battlebots should not rece

[2020-11-03 06:59] Kittnz commented on #847
Ha, thats not intended 👍

[2020-11-03 16:43] alexkulya commented on #658
I will finish this event later.

[2020-11-04 15:44] blipblopium opened #849 "Reputation gaining is not working properly"
**Current behavior**:
If you gain reputation with a Faction that is composed by other Factions, the reputation of those factions is not changing.

**Expected behavior**:
It should award the proper reputation to all of the involved Factions.

**Steps to reproduce**:
I only tested with mobs that award Steamwheedle Clan reputation, like the Wastewander NPCs in Tanaris, but I'm pretty sure the issue i

[2020-11-04 15:45] #836 closed, assigned to nobody

[2020-11-05 22:43] T1ti opened #850 "Enchants don't apply until reloging or re equipping item"
**Current behavior**:
When you enchant an item, it won't apply until the item is reequiped or you relog.
The bug seems to only happen with primary stats, not with AP, spell power... Also other players cannot see your gear is enchanted

**Expected behavior**:
It should refresh on enchant application

**Steps to reproduce**:

1. equip an item
2. enchant it with a primary stat
3. see if stats update

[2020-11-08 10:24] NickTyrer opened #851 "[Event] Building Darkmoon Faire Missing Features"
**Current behavior**:
1. Darkmoon Faire Carnie - missing OOC text (These are the correct ones):
![Dark](https://user-images.githubusercontent.com/22723839/98462407-2728aa00-21ac-11eb-91b7-b49700650c4b.png)

2. Melnan Darkstone - missing gossip, emotes and OOC text (These are the correct ones):
 ![Dark_1](https://user-images.githubusercontent.com/22723839/98462426-5808df00-21ac-11eb-89f2-12bb504df1

[2020-11-08 11:53] NickTyrer commented on #481
Fixes For Mage 1 https://github.com/cmangos/classic-db/commit/cb3029d7c0ccfe78ac8338c716288168c676bf33
https://github.com/cmangos/classic-db/commit/b4fdeeb8799b718d9951a22a896474a1f594d4f6

[2020-11-08 19:18] ghost commented on #754
Can confirm.

[2020-11-09 07:23] NickTyrer commented on #851
UPDATE
When the Darkmoon Faire is bult the OOC text and gossips do change:

1. Melnan Darkstone - missing gossip, emotes and OOC text (These are the correct ones):
![Untitled](https://user-images.githubusercontent.com/22723839/98511136-35ce9a00-225c-11eb-8a0e-3cd03ffcb35e.png)
![da](https://user-images.githubusercontent.com/22723839/98511314-6f070a00-225c-11eb-91b7-930e77f010ea.png)
![adsdas](http

[2020-11-09 16:00] NickTyrer opened #852 "[Event] Darkmoon Faire Elwynn Missing Features"
**Current behavior**:
1. Jubjub's quest is missing https://classic.wowhead.com/npc=14867/jubjub#comments
2. Blastenheimer 5000 Ultra Cannon is not working correctly

Here is a video for ref: https://youtu.be/to9w1_Sq_aQ

**Client version**:
1.12.1
**Commit hash**:
7803682
**Operating system**:
Win 10

[2020-11-10 00:39] T1ti opened #854 "Healing over time effects don't work at full health"
**Current behavior**:
Wen you use a HoT on someone(or self) with full health, they don't get healed by it until they are damaged.

**Expected behavior**:
On classic HoTs always heal, even at full health. This bug allows to precast HoTs on tanks without the healer generating aggro until the tank is damaged. (not sure about the aggro part, not tested on classic, but currently in vmangos it deosn't d

[2020-11-10 00:57] Gamemechanicwow commented on #854
Overhealing doesn't cause any threat.

I dont have an active subscription atm, but i guess what you are describing is a difference between how the classic and 1.12 client visually displays overheals.

[2020-11-10 00:59] T1ti commented on #854
Yes I am not sure if the client just doesn't display it, or if it's a core bug
But even the combat log doesn't even show any healing done  so I am unsure

[2020-11-11 13:52] solo0755 opened #856 "Vmangos Crash with a stack output,Can someone take a look at it"
**Current behavior**:
runing after a  a period of time
**Expected behavior**:

**Steps to reproduce**:
call stack here:

Received SIGSEGV
./mangosd1(_ZNK14dtNavMeshQuery27findRandomPointAroundCircleEmPKffPK13dtQueryFilterPFfvEPmPf+0x3bc) [0x5622b4d2c8fc]
./mangosd1(_ZNK3Map21GetWalkRandomPositionEP9TransportRfS2_S2_fj+0x298) [0x5622b4715c08]
./mangosd1(_ZNK11WorldObject14GetRandomPointEffffRfS0_S0

[2020-11-11 16:06] schell244 commented on #856
Are you running the server with maps & terrain preload enabled in world.conf?
Due to the description of those params, it can cause pathfinding (=RandomMovementGenerator!?) crashes when it's disbaled.
https://github.com/vmangos/core/blob/f8b965a3999aafe492e878b916eb97b193cef452/src/mangosd/mangosd.conf.dist.in#L178

[2020-11-11 22:16] Siid9741 opened #857 "[Quest] Vorsha the Lasher"
**Current behavior**:
Muglash helps us once out of 2 and at the end of the escort he doesn't help us, and bug move.

**Expected behavior**:
https://www.youtube.com/watch?v=4v-V-0S7gMA&feature=emb_title

**Steps to reproduce**:

1. .go xyz 3348 1007 4
2. .q add 6641
3. look at the pnj's behaviour

**Client version**:
1.12.1

**Commit hash**:

**Operating system**:
WIN

[2020-11-12 07:45] caicaicai commented on #815
then .how to reset the entire raid...?

[2020-11-12 11:16] jaywalker15262 opened #858 "Weird nost code"

[2020-11-12 11:27] #858 closed, assigned to nobody

[2020-11-12 21:19] T1ti opened #860 "Quest missing Script : "Ulag the Cleaver""
**Current behavior**:
On vmangos : you just click the stone and nothing happens, you have to manualy open the door to attack him, he doesn't aggro.
**Expected behavior**:
https://www.youtube.com/watch?v=VjgIOJf3114
On classic, there is a rune spell effect animation on the door when u click the stone, and the mob comes out and auto aggros after a bit
**Steps to reproduce**:

1.  get the quest and d

[2020-11-13 07:02] solo0755 commented on #856
**here is my setting:**

UseProcessors = 0
ProcessPriority = 1
Compression = 1
PlayerLimit = 2500
PlayerHardLimit = 0
LoginQueue.GracePeriodSecs = 0
LoginPerTick = 0
CharacterScreenMaxIdleTime = 900
SaveRespawnTimeImmediately = 1
MaxOverspeedPings = 2
GridUnload = 0
GridCleanUpDelay = 300000
CleanupTerrain = 1
MapUpdateInterval = 100
ChangeWeatherInterval = 600000
PlayerSave.Interval = 60000
Playe

[2020-11-13 13:56] ratkosrb commented on #856
The issue is known. I can link you some suggested fixes that you can try if you want.

[2020-11-14 19:46] #860 closed, assigned to nobody

[2020-11-16 03:14] ratkosrb commented on #857
https://github.com/vmangos/core/commit/39960c4fcc45a5796d4c105f2800403c28298157

[2020-11-16 03:14] #857 closed, assigned to nobody

[2020-11-16 03:20] ratkosrb commented on #850
I cannot reproduce the issue. My stats update immediately when i enchant an item.

[2020-11-16 03:43] T1ti commented on #850
My bad, it only happens with the GM island enchanters. normal enchants work properly.

[2020-11-16 03:43] #850 closed, assigned to nobody

[2020-11-16 04:09] #827 closed, assigned to nobody

[2020-11-16 18:21] schell244 opened #861 "[NPC] Galak Messenger - waypoints"
Galak Messenger seems to have some waypoint issues.
Within his path the npc walks through walls/map borders.

https://classic.wowhead.com/npc=10617/galak-messenger

**Client version**:
1.12.1
**Commit hash**:
ff17826
**Operating system**:
Win 10

[2020-11-16 18:35] ratkosrb commented on #861
I remember this being a mmap issue. Only way around it would be to make a super detailed path for him that would not require pathfinding. He could then move in a straight line from point to point, avoiding the bugged sections of the mmaps. To do this, waypoints from `creature_movement_special` would have to be loaded from his AI script. It's more of a hack though, the real issue is with the mmaps,

[2020-11-18 14:16] solo0755 commented on #856
thanks，every guys。

[2020-11-18 14:16] #856 closed, assigned to nobody

[2020-11-19 12:20] schell244 opened #862 "[Quest] Gizelton Caravan"
Both Gizelton Caravan quests seem to have same/similar issue as
https://github.com/vmangos/core/issues/827
NPC's from caravan can't get aggroed by enemies during quests.
(Could be als well due to UNIT_FLAG_IMMUNE_TO_NPC ?)

https://classic.wowhead.com/quest=5821/bodyguard-for-hire
https://classic.wowhead.com/quest=5943/gizelton-caravan

**Steps to reproduce**:
1. accept quest
2. walk a bit behind

[2020-11-19 13:27] alexkulya opened #863 "Russian locale: trainer greetings update"
Update all trainer greetings Russian locale according to classic variant.

<pre>
UPDATE `npc_trainer_greeting` SET `content_loc8` = "Здравствуй, маг! Ты $gготов:готова; учиться?" WHERE `entry` = 198;
UPDATE `npc_trainer_greeting` SET `content_loc8` = "Здравствуй, маг! Ты $gготов:готова; учиться?" WHERE `entry` = 328;
UPDATE `npc_trainer_greeting` SET `content_loc8` = "Здравствуй, маг! Ты $gготов:г

[2020-11-19 18:30] #862 closed, assigned to nobody

[2020-11-19 18:58] T1ti opened #864 "noggenfogger effects chances"
**Current behavior**:
Each effect has 33% chance (1/3 each)
**Expected behavior**:
On classic, you have 60% chance to have the skeleton effect, 20% slow fall, 20% mini
https://www.reddit.com/r/classicwow/comments/jwycmc/noggenfogger_1000_consumes_593_skellies_210_minis/
**Steps to reproduce**:

1. current code : "uint32 spellId = PickRandomValue(16595, 16593, 16591);"

**Client version**:
1.12

[2020-11-19 19:02] ratkosrb commented on #864
https://github.com/vmangos/core/commit/784d5d348b0cadbbafa12fc45e889bd0af5518aa

[2020-11-19 19:02] #864 closed, assigned to nobody

[2020-11-20 01:07] T1ti opened #865 ""Haunting Phantoms" curse in Stratholm"
**Current behavior**:
The spawnrate of the phantoms is pretty high, I got 7 phantoms spawns over 5 minutes.
Also I noticed a phantom always appears when the curse is applied.(maybe not always but it happened every time to me)
The phantoms have loot , insane loot actually. tons of world drops and 7% chance to drop a bag)
-The phantoms have 2000 health

**Expected behavior**:
This is the only video

[2020-11-20 01:35] T1ti opened #866 ""Haunting Spirits" curse in SFK"
**Current behavior**:
-The spawnrate of the Spirits is extremly high, I got **20** Haunting Spirit spawns over 5 minutes.
-The spirits drop money
**Expected behavior**:
https://youtu.be/npays0yEpoE?t=654 video from classic
-I saw **4** spawns over 5 minutes.
Spawns can be seen at 35, 145, 195, 200 seconds after curse application, (yes a spawn exactly 5sec after another one).
-spirits don't seem to

[2020-11-20 05:18] T1ti opened #867 "Tree wolf"
**Current behavior**:
Tree wolf is still riding the tree in northshire
GUID 80134
![tree wolf](https://user-images.githubusercontent.com/40864460/99762126-148d6980-2af8-11eb-9312-9b197cab8a77.png)

**Expected behavior**:
tree wolves don't exist

**Client version**:
1.12

[2020-11-21 19:07] schell244 opened #871 "Missing group UI update after loading screen"
**Steps to reproduce**:
1. player1 and player2 are in a group
2. player1 has loading screen, meanwhile player2 leaves group

**Current behavior**:
player2: has successfully left group (no issues)
player1: will still see the group UI after loading screen, but UI does not work
(leave group has no effect, UI does not disappear - issue can be fixed by relogging)

**Expected behavior**:
both players ha

[2020-11-21 19:10] ratkosrb commented on #871
So the issue happens if the other player leaves group while you are in the middle of a loading screen?

[2020-11-21 19:11] schell244 commented on #871
Correct.

[2020-11-21 19:20] schell244 commented on #861
Ok I see. Would be interessting to know if this issue also occurs with CMangos code. Once I've tested this, I'll update this ticket.

[2020-11-21 20:10] Oroxzy opened #872 "wrong visual NPC orientation on client"
**Current behavior**:

this is: https://github.com/vmangos/core/commit/7e461e0d6e03d57618d8c59a389f22dcac274615

https://youtu.be/zVMCZc483xg?t=68

watch at 1:10 in slower motion.

- The target has back against rogue. (Expected behavior)
- after the cheap shot the npc faces the rogue to hit him. (Expected behavior)
- after gouge the npc turns around (just visual cause orientation is correct, unexp

[2020-11-21 20:21] Kittnz commented on #872
Can you try this one a clean client?

[2020-11-21 20:48] Gamemechanicwow commented on #872
I also thought it was client bug when i experienced on my rogue on lh. But seems like that I was wrong.

![image](https://user-images.githubusercontent.com/2223066/99887250-19aaff80-2c43-11eb-9288-6ae44792b087.png)

[2020-11-21 20:58] ratkosrb commented on #872
If it's blizzlike and happens on classic too, then we should not "fix" it.

[2020-11-23 17:51] NickTyrer opened #876 "[NPC] Gubber Blump MIssing Gossip"
**Current behavior**:
He is missing a gossip menu option and he should be a vendor

**Expected behavior**:
Here is a video for ref: https://youtu.be/RnLNLaw-6qw
Also I think he has an additional gossip menu option if you dont have the fishing as wowhead has 2 text id's listed
 ```Gubber Blump says: Fishing is real easy. Just take a pole with a line on it, maybe put some bait on it, and cast it out

[2020-11-23 19:04] ratkosrb commented on #876
![Untitled](https://user-images.githubusercontent.com/35845488/100003925-70454480-2dcf-11eb-8159-3f30f88de067.jpg)

He already has 2 gossip options.

[2020-11-23 19:08] ratkosrb commented on #876
In vmangos the gossip options show up once you accept his quest.
![Untitled](https://user-images.githubusercontent.com/35845488/100004362-11cc9600-2dd0-11eb-9fc7-6a79a49ed3f8.jpg)

[2020-11-23 19:10] ratkosrb commented on #876
Gubber, I don't know how to fish. - Shows up after you accept the quest.

Gubber, I don't have a fishing pole. - Shows up if you have learned fishing.

[2020-11-23 19:43] #876 closed, assigned to nobody

[2020-11-23 20:23] schell244 opened #877 "[NPC] Skullsplitter Hunter"
Current behavior:
Skullsplitter Hunter summons a second pet when entering in combat.
Skullsplitter Hunter is able to re-summon second Panther pet once killed

Correct behavior:
Skullsplitter Hunter has only one Panther pet.
Skullsplitter Hunter is able to re-summon Panther pet once killed.

https://classic.wowhead.com/npc=669/skullsplitter-hunter

**Client version**:
1.12.1
**Commit hash**:
9a75b6

[2020-11-25 23:30] Gamemechanicwow opened #885 "Moonkins skinnable"
**Current behavior**:
Moonkins are skinnable on every patch.

**Expected behavior**:
On classic moonkins aren't skinnable.

I haven't been able to dig up any information if moonkins where skinnable in earlier patches. Maybe someone else can provide information on that?

**Steps to reproduce**:

1.
2.
3.

**Client version**:
1.12

**Commit hash**:

**Operating system**:

[2020-11-28 09:50] NickTyrer opened #887 "[Quest] Missing Quest Script - The Binding (1795)"
**Current behavior**:
The script is missing

**Expected behavior**:
https://youtu.be/EOt6uVMi5F4?t=366

**Client version**:
1.12.1
**Commit hash**:
a4c1a95
**Operating system**:
Win 10

[2020-11-30 16:42] NickTyrer opened #889 "[Spell] Spirit of Redemption"
**Current behavior**:
When you exit spirit of redemtion no death animation is played
https://youtu.be/GME6lB-w8YY

**Expected behavior**:
The death animation should play (also the casting animation should play when entering the spirit of redemption)
https://youtu.be/IByonxXP_PI

**Client version**:
1.12.1
**Commit hash**:
fdd11c7
**Operating system**:
Win 10

[2020-11-30 16:54] Daribon commented on #889
Not only that, it seems to be lacking the big holy light effect when you transform into Spirit of Redemption.

[2020-12-01 03:07] mweinelt opened #890 "Invalid argument -std=c++14 with clang"
**Current behavior**:
When building with clang I get

[code]

This is because `-std=c++14` is  manually set in https://github.com/vmangos/core/blob/fdd11c710552a3c64e0acf7aba25bddd11fed64c/CMakeLists.txt#L340

It would be safer to  do it like this:

[code]

And after patching it like this compiling it with clang 11 works just fine:

[code]

**Expected behavior**:

Not sure, clang is part of the tr

[2020-12-01 03:34] #890 closed, assigned to nobody

[2020-12-01 03:52] mweinelt commented on #890
Thanks!

[2020-12-02 18:55] schell244 commented on #861
Update: mmap issue does not occur on latest cmangos classic code (48cb423)

[2020-12-04 08:43] NickTyrer commented on #712
Phase 6 is live and her gossip is still the same atm,

[2020-12-04 08:47] ratkosrb commented on #712
You have to do the quest from the letter to see the new gossip option.

[2020-12-07 04:02] T1ti opened #899 ""A Little Slime Goes a Long Way" quest"
**Current behavior**:
Using the Empty Pure Sample Jar on the Oozes in Un'goro doesn't despawn the corpse after use. so players can just up all 10 of the items to get the Filled version.
**Expected behavior**:
Corpse should despawn

**Client version**:
1.12
version : latest
**Operating system**:
windows

[2020-12-07 05:45] ghost opened #900 "[NPC] 4 Missing NPCs in Azshara"
**Current behavior**:
There are 4 NPCs currently missing in vmangos Azshara: Second Mate Shandril, Roland Geardabbler, Horizon Scout Cook, Horizon Scout Engineer, and Horizon Scout First Mate.

**Expected behavior**:
All 4 of these NPCs should exist, stationary, with no functionality or objectives. Roland Geardabbler has a visual mana shield and bubbles around him, unsure what spell he uses for th

[2020-12-07 16:44] klltm commented on #900
.npc spawn add

[2020-12-07 18:22] alexkulya commented on #900
<pre>
INSERT INTO `creature` (`guid`, `id`, `map`, `position_x`, `position_y`, `position_z`, `orientation`, `spawntimesecsmin`, `spawntimesecsmax`, `wander_distance`, `movement_type`) VALUES
(160359, 8387, 1, 1747.24, -5859.6, -90.3817, 3.98543, 300, 300, 0, 0),
(160360, 8388, 1, 1747.62, -5862.27, -90.9249, 3.17332, 300, 300, 0, 0),
(160361, 8389, 1, 1748.87, -5863.46, -90.2665, 2.83088, 300, 300

[2020-12-07 18:48] T1ti commented on #900
You don't do that, you sniff it from classic instead to have accurate data

[2020-12-07 20:52] ghost commented on #899
Expected behavior:
https://youtu.be/MoxXqZKI2DY?t=602

[2020-12-08 18:06] rosen40 opened #901 "[Creature] Kodo supposed to help other neutral beasts."
Current behavior: Kodo in the barrens and mulgore do not assist neutral mobs ever in any way on vmangos, but they should.
Expected behavior:
https://www.twitch.tv/videos/830134205?filter=highlights&sort=time

Hitting a neutral creature/beast like Zhevra, Giraffe or Plainstrider while pretty close (most probably melee range) to a Kodo will make the Kodo attack the player. This does not seem to be a

[2020-12-11 01:04] T1ti opened #902 "Stats error for undead mage"
**Current behavior**:
![udmage](https://user-images.githubusercontent.com/40864460/101847910-95b6aa00-3b54-11eb-8b2e-fdd43c469f4f.png)
Spirit and intellect values are wrong for level 1

**Expected behavior**:
It should be 21 int and 27 spirit https://www.warcrafttavern.com/wow-classic/tools/raceclass/ (also verified on classic)

**Client version**:
1.12
**Commit hash**:
latest

[2020-12-11 08:16] NickTyrer commented on #902
Similar bug is noted in #237

[2020-12-11 17:56] ratkosrb commented on #885
Fixed in https://github.com/vmangos/core/commit/c1db8e8f625ba5dbba3c03a11eafb4411e1557db

[2020-12-11 17:56] #885 closed, assigned to nobody

[2020-12-11 17:57] ratkosrb commented on #867
Fixed in https://github.com/vmangos/core/commit/c1db8e8f625ba5dbba3c03a11eafb4411e1557db

[2020-12-11 17:57] #867 closed, assigned to nobody

[2020-12-11 18:08] T1ti commented on #902
Also regarding gnome mage, I noticed the intellect racial bonus is added to base stats directly instead of being a bonus stat like on classic, I think this was done because that's how wikis did it and private servers just copied wikis I guess.
![gnome mage](https://user-images.githubusercontent.com/40864460/101938661-078a0480-3be4-11eb-9764-8cef31de00bf.png)

Back to the topic, the stat error for

[2020-12-12 03:04] Daribon commented on #902
![WowClassic_Bqi9dEVRMG](https://user-images.githubusercontent.com/6137576/101971107-0c27da80-3c2f-11eb-8465-e6e13627a8bf.png)
Level 1 gnome mage in classic

[2020-12-12 17:48] Oroxzy opened #904 "[Event] Naxx pre event (Remake)"
**INFO:**
https://us.forums.blizzard.com/en/wow/t/naxxramas-opening-time-and-scourge-invasion-adjustments/741200

**TODO CHECKLIST:**

- [ ] **Complete rework of how the event is spawning things over the world**
- [ ] **Complete rework of the Camp spawning mechanic (Necrotic Shards and Minions)**
- [x] **Complete rework of the Necropolis to Camp (Shards) communication mechanic**
- [ ] **Updating a

[2020-12-12 17:50] Oroxzy commented on #904
but maybe u guys already sniffed everything 👍

[2020-12-14 21:29] T1ti commented on #865
loot part is fixed in 7954585493fe5d9e45deeef27f10a664884bd458

[2020-12-15 17:27] NickTyrer opened #907 "[Event] Winter Veil a Few Issues"
**Current behavior**:
1. Mistletoe gameobject missing from:
    - Stonetalon Peak Inn (also  Winter Revelers missing)

**Client version**:
1.12.1
**Commit hash**:
7954585
**Operating system**:
Win 10

[2020-12-16 10:58] Oroxzy commented on #907
also missing at some spots (178437, 178556, 178649):
![WoWScrnShot_121620_114614](https://user-images.githubusercontent.com/357606/102339762-f0f1fd80-3f95-11eb-8ab7-fc0d8c6b9251.jpg)

[2020-12-19 09:51] #710 closed, assigned to nobody

[2020-12-20 09:49] NickTyrer opened #913 "[Quest] Missing Quest Script - Ursal the Mauler (486)"
**Current behavior**:
see:
https://github.com/the-hyjal-project/bugtracker/issues/60

**Expected behavior**:
see:
https://youtu.be/vSyTQxPJ-rg?t=61

cmangos script:
https://github.com/cmangos/classic-db/commit/32c89f4d2d37777e654093b272455d21b1f75ca0

**Client version**:
1.12.1
**Commit hash**:
250e528
**Operating system**:
Win 10

[2020-12-20 14:28] jaywalker15262 opened #914 "BIG ISSUE - you can get out of range on mobs in moonkin form to become unattackble![ALLIANCE ONLY]"
**Current behavior**:
If you move backwards carefully whilst in moonkin form, you can get just out of melee ranges of mob to make them not close the gap to you. THIS DOES NOT WORK ON ALL MOBS. I tested and it doesnt appear to work on smaller mobs in Elwynn forest. It also is not an issue for Taurens. I assume because they have a longer bounding radius while unmorphed. The issue might be that the b

[2020-12-20 15:45] NickTyrer opened #915 "[Gameobject] Hall of Legends"
**Current behavior**:
The door to the hall of legends is stuck open

**Expected behavior**:
It should close

**Client version**:
1.12.1
**Commit hash**:
250e528
**Operating system**:
Win 10

[2020-12-20 17:26] ratkosrb commented on #914
Sounds like a bug in ChaseMovementGenerator, perhaps it does not calculate max distance correctly.

[2020-12-20 19:23] jaywalker15262 commented on #914
No the distance calculated is correct, why I say this because it is keeping the same distance to me in moonkin form as Nelf as it does when im in moonkin form as a Tauren. Otherwise the bug would have been present for both moonkin taurens and moonkin nelfs. But Taurens have naturally a longer melee range. Means u can both attack them from a longer distance, and they can also hit you from a further

[2020-12-20 19:43] jaywalker15262 commented on #914
UPDATE `creature_display_info_addon` SET `bounding_radius` = '1.5', `combat_reach` = '1.5' WHERE (`display_id` = '15374') and (`build` = '4878');

There you go, I set it to the same values as the displayid for taurens. For some reason the nelf one had a bounding of 2.0 and a combat_reach of 1.0. LOL!

Can you check if these values were the same in a super old world db? Maybe someone made a mistake

[2020-12-25 22:08] NickTyrer commented on #907
This is how the gifts under the tree work on and after the 25th https://youtu.be/nSCknht-4KE

[2020-12-28 16:10] felixq commented on #45
I don't know if it has to do with this, but when using an account with gm, the breathing bar does not appear and you can be underwater as long as you want without drowning.

[2020-12-28 17:42] ulfgebhardt opened #921 "[Gameobject] Dolanar - Foodcrate Invalid Target"
## [Gameobject] Dolanar - Foodcrate Invalid Target
![image](https://user-images.githubusercontent.com/1238238/103232968-2a365000-493c-11eb-9d6f-4bc34eb50bac.png)

This food crate in Dolanar gives `Invalid target` when trying to open it.

### Steps to reproduce

1. Go to Dolanar
2. Try to open Foodcrate in the Inn
3. ...
4. Profit

### Client version

1.12.1

### Commit hash

Latest

[2020-12-28 17:50] NickTyrer opened #922 "[NPC] Missing WPL Scarlet Patrol"
**Current behavior**:
The creatures are just spawned at the end of the patrol
![Untitled](https://user-images.githubusercontent.com/22723839/103233478-2b17b380-4935-11eb-86ea-5148bc387776.png)

**Expected behavior**:
see: https://youtu.be/yc6CFpqQqto

**Client version**:
1.12.1
**Commit hash**:
6005cb2
**Operating system**:
Win 10

[2020-12-28 17:59] Gamemechanicwow commented on #921
1. Go to your wow folder
2. Delete WDB
3. ...
4. Profit

Your clients cache contains data from a different patch.

[2020-12-28 18:02] ulfgebhardt commented on #921
You are 100% correct @Gamemechanicwow <3

[2020-12-28 18:02] #921 closed, assigned to nobody

[2020-12-28 19:49] ulfgebhardt opened #923 "🐛 [Bug Report] NPC in RP-Transition should not give quests"
## 🐛 Bugreport

An NPC enacting some RP-Lines should not give you quests during this RP.

As Example: `Denalan's Earth`. Completing this quest will make the NPC walk over to the flower pot and have some RP lines till he returns  to his post. On Retail-Classic during this transition you cannot take or turn in quests (this ensures everyone has his/her own RP-transition).
In the attached screenshot y

[2020-12-31 02:15] ulfgebhardt commented on #68
@alexkulya What's the status on this? Have you fixed this already?

[2020-12-31 02:17] ulfgebhardt commented on #107
@MosChatCN I do not understand what this issue is about - can you elaborate and give some more details? <3

[2020-12-31 02:21] ulfgebhardt commented on #129
CMangos works on some movement packet parsing at the moment. Mind take a look @ratkosrb  ?

[2020-12-31 02:23] ulfgebhardt commented on #132
@chenps10 can you give us an update on this? <3

[2020-12-31 02:26] ratkosrb commented on #129
Cmangos does not have this solved.

[2020-12-31 02:29] ulfgebhardt commented on #220
@xujintao could you document this in the distributed config file so others can benefit from your findings. Furthermore would you open an PR for your suggested change?

[2020-12-31 02:32] ulfgebhardt commented on #231
@GrenderG have you conducted your testing - is this still a problem? <3

[2020-12-31 02:35] ulfgebhardt commented on #237
@NickTyrer Would you be willing to PR this? <3

[2020-12-31 02:38] ulfgebhardt commented on #242
@Bzmode would you be willing to write that in text so we can handle it easier? <3

[2020-12-31 02:40] ulfgebhardt commented on #244
@ratkosrb is this fixed?

[2020-12-31 02:43] ulfgebhardt commented on #249
We need more info on this @GuybrushGit - what are your findings? Can you link us more  resources on this? <3

[2020-12-31 09:48] schell244 commented on #402
closed #905

[2020-12-31 09:48] #402 closed, assigned to nobody

[2020-12-31 11:44] schell244 commented on #499
closed

[2020-12-31 13:52] schell244 commented on #830
broadcast texts for script:

4926 = Beware, $N! Look to the west!
4757 = A defender has fallen!
1254 = %s charges! (Emote)
8439 = Half way there... (Yell)
4922 = Defend the bunkers!
4925 = Our foes will fall!
8283 = For the Horde! (This also seem to have a sound id)
4924 = Beware! The Kolkar attack! (currently not used, broadcasted by horde guards)
4919 = You two-legs are nothing!  My children cou

[2020-12-31 16:21] ulfgebhardt commented on #499
Are you sure about this @schell244 ? I noticed that static objects do not hinder a mob to aggro - so they aggro through fences and buildings etc. Is that blizzlike? Feels a bit off for me. <3

[2020-12-31 16:27] ulfgebhardt commented on #830
Leaving this: https://github.com/cmangos/mangos-tbc/pull/168

Scripted Counterattack! Quest 4021

Relephant Sources:

Old Attempt: https://github.com/cmangos/mangos-tbc/pull/74
Trinity: https://github.com/TrinityCore/TrinityCore/issues/5420
Unified-DB: https://github.com/unified-db/Database/issues/30
Trinity again: https://github.com/TrinityCore/TrinityCore/issues/736
MangosOne(Source): https://gi

[2020-12-31 16:33] ulfgebhardt commented on #252
@ratkosrb should we keep this open?

[2020-12-31 16:34] ulfgebhardt commented on #253
![image](https://user-images.githubusercontent.com/1238238/103418313-5e08b400-4b8e-11eb-80ae-a8bcce04c3f9.png)

[2020-12-31 16:36] schell244 commented on #499
You're right, it feels a bit off for me too. On my local server I've actually commented out the code to ignore m2 object los.
Spells ignoring m2 objects is defintely classic behaviour, but for aggro I think it's wrong.
I could open a new issue for aggro LOS only, or just reopen this and change the title?

[2020-12-31 16:36] ulfgebhardt commented on #253
@Bzmode I do not fully understand whats the exact problem here. Could you elaborate on your findings? <3

[2020-12-31 16:41] ulfgebhardt commented on #263
whats the status on this @schell244 @ratkosrb ? <3

[2020-12-31 16:47] ulfgebhardt commented on #323
closing this since its blizzlike, followup issue was created thanks @codestothestars

[2020-12-31 16:47] #323 closed, assigned to nobody

[2020-12-31 16:51] ulfgebhardt commented on #358
There was some recent commits on cmangos regarding pets teleported on trnasports.

[2020-12-31 16:52] ulfgebhardt commented on #369
@GrenderG Whats the status of BWL now? Any developments on that front?

[2020-12-31 16:57] ulfgebhardt commented on #462
@NickTyrer Could you take a look at this? You did a awesome job on `Denalan's Earth`

[2020-12-31 17:06] NickTyrer commented on #237
@ulfgebhardt This issue should be combined with #902 as it is not a case of just adjusting the stats unfortunately.

[2020-12-31 17:09] ulfgebhardt commented on #499
Can we make ignoring m2 objects a config option?

from there we could develop this feature into having multiple config options - m2 los for spells, for aggro, for pathing etc

Would you be willing to make the los of m2 a config option, since you already found the specific part in the code @schell244 ?

[2020-12-31 17:14] ulfgebhardt commented on #237
So there is a subsystem not properly implemented to reflect the vanilla stats, do I get that right? @NickTyrer

[2020-12-31 17:17] NickTyrer commented on #237
@ulfgebhardt I believe so, but cannot confirm 100%

[2020-12-31 18:33] ulfgebhardt opened #943 "💬 [Discussion] Reenable Tests"
## 💬 Discussion

One of the main Problems of PServers nowadays is the instability. One fix is supplied to fix an issue and 10 new issues appear for it. Automated testing is an approach to deal with those. Sadly no current core implements testing, but `Nostalrius` did :pray: .

As stated in the linked commit removing those test since they slow down compilation. Maybe we can make them optional via C

[2020-12-31 21:18] ratkosrb commented on #252
It is not resolved, so yes.

[2020-12-31 21:20] ratkosrb commented on #358
I am aware, killerwife implemented movement on elevator type transports. I want to port it at some point.

[2020-12-31 21:22] ratkosrb commented on #237
Pretty sure its just wrong data.

[2020-12-31 21:25] ratkosrb commented on #943
Nobody ever used this since Nostalrius closed. It didn't do anything useful. If somebody wants it, they can revert that commit on their fork, but I find that highly unlikely.

[2021-01-01 01:30] #914 closed, assigned to nobody

[2021-01-01 01:53] ratkosrb commented on #899
This was fixed.
https://github.com/vmangos/core/commit/c1db8e8f625ba5dbba3c03a11eafb4411e1557db

[2021-01-01 01:53] #899 closed, assigned to nobody

[2021-01-01 01:54] ratkosrb commented on #872
Closing since it happens on blizzard servers too.

[2021-01-01 01:54] #872 closed, assigned to nobody

[2021-01-01 02:05] #847 closed, assigned to nobody

[2021-01-01 12:08] alexkulya commented on #68
At the moment I have no free time for this. If this was fixed, it would not be open.

[2021-01-01 12:43] #672 closed, assigned to Oroxzy

[2021-01-01 16:48] schell244 commented on #499
With https://github.com/vmangos/core/pull/945 it's now up to the world.conf whether m2 objects are ignored by default or not

[2021-01-01 19:03] ulfgebhardt commented on #520
I've seen this on other servers aswell - would you be interested in having a good look into this and report your findings @schell244 ?
-> Be aware that this has alot of implications regarding dupe/cheating.

[2021-01-01 19:04] ulfgebhardt commented on #525
@Daribon would you be interested in making a PR for this? <3

[2021-01-01 19:08] ulfgebhardt commented on #560
@tonymmm1 would you be interested in making a PR for this? The other extractors create their respective directories, so you can probl. copy from there. Additional the error-message was improved jsut lately since this is still a problem. <3

[2021-01-01 19:09] ulfgebhardt commented on #565
@gamelgs could you provide a more detailed repro and include some screenshots of the problem so it becomes easier to undnerstand? <3

[2021-01-01 19:12] ulfgebhardt commented on #579
Closing this since it seems unlikely to be a server issue. It appears to be a client side thing.
If you disagree or have further insights feel free to reopen this @BBCnewstoday <3

[2021-01-01 19:12] #579 closed, assigned to BBCnewstoday

[2021-01-01 19:19] ulfgebhardt commented on #599
From the link @Gamemechanicwow provided:

The event is missing.
http://www.wowwiki.com/Southshore_Crier

1) Southshore Crier should spawn on the road fork just north of Southshore.
- He spawns on a specific server-time, exactly at 5 AM and 5 PM.
Proofs:
http://www.wowhead.com/npc=2434/shadowy-assassin#comments:id=951155
http://www.wowhead.com/npc=2434/shadowy-assassin#comments:id=594555

2) Along

[2021-01-01 19:20] ulfgebhardt commented on #608
Can you elaborate on this @gamelgs ? <3

[2021-01-01 19:22] ulfgebhardt commented on #627
@Daribon would you be willing to PR this?
Or is this fixed already @GrenderG @Kittnz ?

[2021-01-01 19:29] ulfgebhardt commented on #654
@ghost @necropresto Is it ok to close this since its a compiler issue rather then a mangos issue? <3

[2021-01-01 19:30] ulfgebhardt commented on #658
@alexkulya Will you make a PR for this? <3

[2021-01-01 19:37] ulfgebhardt commented on #669
Would you be willingto PR this @mikemenasi  ? <3

[2021-01-01 21:14] ellingtonsantos commented on #654
It is ok. GCC 10.2.0 works flawless.

[2021-01-01 21:22] #654 closed, assigned to ellingtonsantos

[2021-01-01 21:55] ulfgebhardt commented on #943
Is there someone I can talk to to obtain the lua tests `Nostalrius` used according to the document linked above?
The tests included in the old Core are apparently still the c++ tests.

[2021-01-01 21:59] GrenderG commented on #369
I haven't touched BWL.

[2021-01-01 22:12] rosen40 commented on #585
confirmed. Double clicked Splinter Log and got 2 of it.

[2021-01-01 22:33] GrenderG commented on #231
Sorry I totally forgot to check that quest again and I don't have a working installation at this moment. Would you mind checking it for me?

[2021-01-01 23:23] ratkosrb commented on #565
Looks like duplicate of https://github.com/vmangos/core/issues/818

[2021-01-01 23:47] ulfgebhardt commented on #585
![image](https://user-images.githubusercontent.com/1238238/103448058-1e2bf480-4c94-11eb-8aae-bf2df96182c1.png)

[2021-01-02 11:38] Oroxzy opened #946 "🐞 [Bug] Spell 29519 (Silithyst) should create Silithyst Mound (181597) on Cancel Aura."
https://github.com/Oroxzy/core/commit/d89feb7891673cd862ff5da530a7bff31045f032
https://github.com/Oroxzy/core/commit/a99a7fae390d73986e308e499c9536ed63fbeb9b

https://youtu.be/_YpumVmwybc?t=160

[2021-01-02 11:41] Oroxzy commented on #946
I also remember where we all farmed dust and put it in front of the machine for people who grinded their ranks.

[2021-01-02 15:37] Kittnz commented on #627
The weird thing about this gob is, when bwl was released on classic you had to click on the gossip menu, but the next phase of classic they changed it so you don't have to, you auto teleport when you click the gob but it will still send you the gossip and menu.

But no, this isn't fixed.

[2021-01-02 17:22] Daribon commented on #627
You sure that's not just part of an addon? iirc nova world buffs auto clicks the bwl orb.

[2021-01-02 18:54] ulfgebhardt commented on #946
As I see you have a fix ready in those two Commits you linked - is that correct @Oroxzy ?
Would you be willing to PR this?

[2021-01-02 19:01] ulfgebhardt commented on #707
[Chinese garbled problem, you should look at the mysql database encoding problem, set the encoding utf8-UTF-8 Unicode, utf8_general_ci, but when VS2019 is compiled, it will remind you that there is a problem with the encoding--, it is estimated that some codes of cmake transcoding have not been converted into format utf8, The simplified version of vs2019 is not recognized](
https://translate.googl

[2021-01-02 19:01] ulfgebhardt commented on #707
@taciturne7 any update on this? Is this a configuration/compilation issue or is it still a problem?

[2021-01-02 19:04] ulfgebhardt commented on #709
@NickTyrer @ratkosrb I think this is fixed, right? The patrol in the Nelf Start area stops its movement when talked to. Additionally the two follower Patrols stop aswell.

[2021-01-02 19:07] ulfgebhardt commented on #723
Have you come across any more information regarding this @ghost ?

[2021-01-02 19:15] Gamemechanicwow commented on #723
The ghost has stopped haunting us. Don't bring him back :>

[2021-01-02 19:34] ulfgebhardt commented on #730
@jaywalker15262 can you provide more details for this? <3

[2021-01-02 19:34] schell244 commented on #520
I've done some simple in game tests a while ago in order to reproduce the mentioned exploid, but I could not find anything.
I will have another look on this issue and update this ticket if I find something. The person who wrote the hackfix mentioned _MovementHandler_ and  _loot manager has to be rewritten_ - if this is actually the case, than fixing this would currently be out of my c++ skill scop

[2021-01-02 19:37] ulfgebhardt commented on #756
So this leaves the second Issue mentioned here:
`The quest can't be completed because you can't interact with the altar at the end`

[2021-01-02 20:31] ulfgebhardt commented on #815
Do we close this @ratkosrb ?

[2021-01-02 20:36] #946 closed, assigned to Oroxzy

[2021-01-02 20:54] NickTyrer commented on #709
@ulfgebhardt the issue is when npc's have wander movement type not pathfinding

[2021-01-02 21:03] ulfgebhardt commented on #709
Oh ok - my bad! I mistook wandering for pathing

[2021-01-02 22:22] Oroxzy commented on #608
![silithy](https://user-images.githubusercontent.com/357606/103467629-4d546b80-4d51-11eb-8565-c4afe4b91fb0.png)

idk what he mean.

[2021-01-02 22:25] NickTyrer commented on #608
@ulfgebhardt I think he means that you should not be able to go faster than 100% when you have the debuf, so things like rocket boots should not work and maybe they do in vmangos?

[2021-01-02 22:34] Oroxzy commented on #608
https://www.youtube.com/watch?v=_YpumVmwybc

can anyone test it on classic? on vmangos i can use Swiftness Potion and also rocket boots. Check also if mounting up gets blocked, or does the player just drop the dust on mount up.

[2021-01-03 00:10] Velite12 opened #963 "Incorrect Ouro Submerge timer 🐜 [Bug]"
## 🐜 Bug report - AQ40 Progression

In the file  at https://github.com/vmangos/core/blob/development/src/scripts/kalimdor/silithus/temple_of_ahnqiraj/boss_ouro.cpp,
SUBMERGE_TIMER is stated to be 60000(ms) (60 seconds), but below in the function void Submerge(bool isReset = false), the comment states that "Ouro has a chance to submerge every 1.5minutes", which will not happen if the timer is set t

[2021-01-03 00:27] Velite12 opened #964 "Wrath of Cenarius logic issues🐞 [Bug]"
## 🐞 Bug report - Spell

The ring Wrath of Cenarius as currently implemented will only have a chance to trigger on items that proc spell effects when those effects crit. For example, equipping the ring and eating Dragonbreath Chili, the ring will only have a chance to activate when you land a critical hit with the Dragonbreath Chili proc, not on a normal damage tick. It will activate for normal hi

[2021-01-03 01:36] ratkosrb commented on #723
Ghosts are not welcome in this castle. May the holy light protect us from the wicked spirits.

[2021-01-03 01:36] #723 closed, assigned to nobody

[2021-01-03 05:17] ratkosrb commented on #964
Somebody with the ring on Classic should test what procs it and provide video proof.

[2021-01-03 06:11] ulfgebhardt commented on #963
Could you make a PR for this @Velite12 ? <3

[2021-01-03 07:05] Velite12 commented on #964
https://media.discordapp.net/attachments/654085795510091822/743261511333445742/unknown.png?width=374&height=468

Paladin discord did a sort of test for paladins.

I should clarify that the Ring as it applies to aoe sort of works in the same way as classic. On classic, the ring determines the proc chance when the mob receives the aura. So for consecrate, it may proc once a mob steps in consecrate,

[2021-01-03 07:06] Velite12 commented on #963
Sorry, can you clarify what a PR is? Thanks.

Oh you mean pull request, sure.

[2021-01-03 09:14] NickTyrer commented on #608
@Oroxzy just tested on classic, any speed enhancing buff (pot, shapeshifting, engi) does not work. You get the speed buff, but you do not speed up. For example you can still shapeshift but you do not speed up.

[2021-01-03 09:29] ulfgebhardt commented on #854
Any updates on this @Gamemechanicwow @T1ti ? Is it a bug or can we close?

[2021-01-03 09:31] ulfgebhardt commented on #861
@schell244 could you link the relevant commits so we have a chance to port it? <3

[2021-01-03 09:32] ulfgebhardt commented on #863
@alexkulya Could you make a PR for this? <3

[2021-01-03 09:38] ulfgebhardt commented on #900
@alexkulya Could you make a PR for your Contribution? <3

[2021-01-03 09:39] ulfgebhardt commented on #901
Same applies for the hunter pet tamed by the quest in the nelf zone. If you attack an owl your pet will not help. If you send the pet to attack it will disobey.

[2021-01-03 09:41] NickTyrer commented on #854
Here are the differences:
classic: https://youtu.be/HxcNMbEaZBw
vmangos: https://youtu.be/Z3-hTPfe_3g

[2021-01-03 09:42] ratkosrb commented on #901
Where are you getting that from? I leveled a night elf hunter but I didn't notice that.

[2021-01-03 09:44] ulfgebhardt commented on #913
@NickTyrer Can you PR the cmangos commit? <3

[2021-01-03 09:47] NickTyrer commented on #913
@ulfgebhardt brotalnia has a tool that can script it using the sniff data to make it 100% blizlike. Better waiting for that.

[2021-01-03 09:49] ulfgebhardt commented on #913
kk! But I would assume the cmangos team did the same - thats where they are quite reliable at ;)

[2021-01-03 10:06] ulfgebhardt opened #966 "🐛 [Bug] [Severe] Connection attempt with malformed packet kills server"
## 🐛 Bug report

An attacker can send a malformed packet to the server which makes it run at 100% CPU and not let any client connect anymore.

**Server Log**
[code]

167.248.133.37 is a malicious scanner according to [this](https://www.abuseipdb.com/check/167.248.133.37)

**Process**
![image](https://user-images.githubusercontent.com/1238238/103476200-e9af5a00-4db3-11eb-8fa9-cbda8597f46f.png)

Con

[2021-01-03 10:24] rosen40 commented on #901
i've never heard or seen that either, but that really doesn't have anything in common with the original issue?

[2021-01-03 12:29] Oroxzy commented on #608
Ok thanks @NickTyrer. Now if you deliver the dust you get the buff 29534 (Traces of Silithyst). Check if:

- [x] possible to pickup new dust with this buff? (in vmangos you can)
- [ ] speed limited too? (in vmangos it is)
- [x] possible to pickup a mound? (in vmangos you can)

**if we take a closer look to Traces of Silithyst: https://classicdb.ch/?spell=29534**

**Effect 1: (86) Activate Object (

[2021-01-03 13:26] schell244 commented on #861
CMangos waypoints are identical to VMangos waypoints.
(https://github.com/cmangos/classic-db/commit/e2f99999a4ec3ca6e0ad9c2016882308ebd8bd51)

Issues seems to be due to vmangos mmaps, like @ratkosrb already mentioned. There's no single commit which I could link here  becasue I also don't know where the issue is coming from.
I guess the first steps for approaching this issue (for someone who's not

[2021-01-03 13:54] ulfgebhardt commented on #861
I like the idea with the issue! I will do that in given time.
-> I think a problem might be the resolution of the mmaps - cmangos allows to extract high resolution mmaps and vmangos does not. If you look how the behavior is you will notice that mobs run over the peaks / prioritize the uneven terrain... but thats just a wild guess

[2021-01-03 13:57] ulfgebhardt commented on #608
Does this `UPDATE `spell_effect_mod` SET `Id`='29519' WHERE  `Id`=29534 AND `EffectIndex`=0;` solve the issue completely?
Could you PR it  @Oroxzy ? <3

[2021-01-03 13:59] ulfgebhardt commented on #901
@ratkosrb it only applies if you do those pet tame quests - your pet cant walk through water nor can it attack neutral mobs.
@rosen40 You are right - this is sorta off topic - i just mentioned it since it is sorta similar behavior.

[2021-01-03 15:39] Oroxzy commented on #608
Need to test first.

[2021-01-03 15:47] NickTyrer commented on #608
@Oroxzy here is a video for ref https://youtu.be/CQjoUNw6jnc

[2021-01-03 16:39] Oroxzy commented on #608
Ok guys i found something thats unused by the core:

**29895 (Sillithus Flag, Horde, and speed limit (DND))**

- limits the speed as it should be.

**29894 (Sillithus Flag, Alliance, and speed limit (DND))**

- limits the speed as it should be.

**29533 (Sillithus Flag Drop (DND))**

- creates a mound on drop what is currently solved in cpp:
https://github.com/Oroxzy/core/blob/a99a7fae390d73986e30

[2021-01-03 20:32] Gamemechanicwow commented on #854
Your videos are set to private.

[2021-01-03 20:47] NickTyrer commented on #854
fixed

[2021-01-04 05:53] ulfgebhardt opened #967 "🐞 [Bug] Lightning Shield triggers on ranged attack"
## 🐞 Bug report - Spell

As to be seen in combat log the `Lightning Shield` is triggered when the mobs shoots an arrow. I believe that this is incorrect.

![image](https://user-images.githubusercontent.com/1238238/103504989-4d3f9300-4e59-11eb-9ea0-b30bb4f4e75b.png)

### Expected behavior

`Lightning shield` should not trigger on ranged attacks.

This might be due to the mob attacking with ranged m

[2021-01-04 06:49] ulfgebhardt commented on #107
closing due to inactvity

[2021-01-04 06:49] #107 closed, assigned to MosChatCN

[2021-01-04 08:22] schell244 commented on #520
MovementHandler.cpp -> WorldSession::HandleMoverRelocation()
HandleMoverRelocation() is always called when player moves. It's not called, when player is on transport and player just stands on it. It's called once after every loadingscreen (login, when player teleports, for example via hearthstone, ...)
Found this comment there:
[code]
https://github.com/vmangos/core/blob/dfe94c8587788b049b8e4bedf9

[2021-01-04 11:21] rosen40 commented on #967
according to the procs in the default dbc (which are also the same in spell_template) it procs on melee attacks, ranged attacks and spells too, you should be able to insert the proper proc mask in spell_proc_event and it will fix it for all ranks too.

INSERT INTO `spell_proc_event` SET `procFlags` = 40 WHERE `entry` = 324;

[2021-01-04 12:44] ulfgebhardt commented on #967
Does this mean this is blizzlike behavior? @rosen40

[2021-01-04 12:46] ulfgebhardt commented on #967
`
The caster is surrounded by 3 balls of lightning.  When a spell, melee or ranged attack hits the caster, the attacker will be struck for 13 Nature damage.  This expends one lightning ball.  Only one ball will fire every few seconds.  Lasts 10 min.
`

Apparently it is - sorry then for the fuzz

https://classic.wowhead.com/spell=324/lightning-shield

[2021-01-04 12:46] #967 closed, assigned to nobody

[2021-01-05 02:24] Gamemechanicwow commented on #854
I still thinks this is a case of Classic not being blizzlike. Here is what i could find:

https://wow.gamepedia.com/Patch_3.0.2

https://wow.gamepedia.com/Overhealing?direction=next&oldid=1660424

https://www.wowhead.com/forums&topic=113259

edit: hots where the tick is 100% overheal wasn't reported in the combatlog before wotlk.

[2021-01-05 04:38] ratkosrb commented on #854
Well that settles it then.

[2021-01-05 04:38] #854 closed, assigned to Gamemechanicwow, T1ti

[2021-01-05 08:46] ulfgebhardt commented on #565
Closing this since #818 seem to have have fixed remaining Issues.

[2021-01-05 08:46] #565 closed, assigned to gamelgs

[2021-01-05 12:42] schell244 opened #969 "🚀 [Feature] - update mysql querys within core"
## 🚀 Feature
To make vmangos compatible with newer mysql versions,
all keywords and reserved words contained in core queries should be escaped.

List of keywords can be found here:
https://dev.mysql.com/doc/refman/8.0/en/keywords.html

### Benefits, Purpose
 compatibility for latest mysql versions

[Update]
- Lot's of queries are escaped with https://github.com/vmangos/core/commit/179f2bdb113f73aa

[2021-01-05 14:45] jaywalker15262 opened #971 "💬 [Discussion] Movement interpolation"
Why is movement interpolation regarded as unstable? It looked pretty awesome from the 2014 nost video. And is there a way to fix movement interpolation because it looks pretty fucking awesome and something I would love to have enabled.

https://www.youtube.com/watch?v=4JUwHIvEnZE

[2021-01-05 16:44] Daribon commented on #971
In the 2014 nost video, they are showing movement from the players own point of view.
Correct way to showcase this would have been a character watching another character run around, or many characters run around.

The bad movement which you at times see in vmangos (and all other vnailla emulators) is really only visible if you watch other players move around.

Related issue: https://github.com/vma

[2021-01-05 17:12] jaywalker15262 commented on #971
Indeed, that would remove the need for any wisps. You could just do side by side comparison with and without interpolation from the perspective of another player/players. Looking at your own PoV doesn't show you the realtime position of your character because the server doesn't update as quickly as your client, hence why the interpolation smoothens it out because it updates more frequently. My que

[2021-01-05 19:50] Daribon commented on #971
As stated in the related issue, it's probably something related to movement packets being different.
Especially since opcodes got changed in 1.9.0.

[2021-01-05 20:20] jaywalker15262 commented on #971
but why is movement interpolation considered unstable?

[2021-01-05 22:56] ronaldofenomeno opened #974 "🐛 [Bug] Copper vein not present despite being there on minimap"
## 🐛 Bug report
a copper node in westfall shows as a bright yellow dot above jangolode mine but its not there.

### Expected behavior
it should be there

### Steps to reproduce
![image](https://user-images.githubusercontent.com/33092150/103708620-002b0080-4fc2-11eb-9df8-ce9b8f6118f5.png)

### Version & Environment

<!--
  Client Version:
  - 1.12.1.5875

[2021-01-06 03:27] ratkosrb commented on #971
You have to ask the nostalrius developers. I don't personally know any of them.

[2021-01-07 00:53] Gamemechanicwow commented on #756
just took her for a walk..

To avoid any misunderstanding. She should be attacked by mobs in range? Currently the mobs ignore her.

I had no issues interacting with the altar.

[2021-01-07 05:58] Victorino76 opened #979 "Sunken Temple - Dragons immune to Hibernate🦂 [Bug]"
## 🦂 Bug report - Dungeon

The dragonkin mobs in Sunken Temple are completely immune to hibernate. This was not the case on previous private servers. They've always had a really high Nature Resist but have never been immune to Hibernate.
https://streamable.com/id0jhk
### Expected behavior

They should have a high chance to resist nature spells, but not be immune to Hibernate
### Steps to reproduce

[2021-01-07 07:12] ratkosrb commented on #979
We need somebody with a druid to test this on classic and record a video.

[2021-01-07 09:25] #585 closed, assigned to nobody

[2021-01-07 11:21] ulfgebhardt commented on #979
I do not have an active account anymore, but I can confirm: It was possible to sleep them, but chances of resist were very high

[2021-01-07 17:51] Zarant commented on #793
**How it's supposed to work:**
1. Hostile NPCs should check if an attackable unit is nearby on a global server tick that happens every 1.5s
2. That global tick will look for hostile units if the NPC is out of combat
3. When a creature is in combat, the periodic aggro tick will keep happening but this time will look for nearby friendly units of the same faction to assist it.
4. Inside instances, NP

[2021-01-07 23:15] Gamemechanicwow commented on #979
Found a classic video where you can see a Nightmare Wanderer being hibernated.
https://youtu.be/VGtKRUTk8WA?t=1733

[2021-01-08 00:06] Gamemechanicwow opened #982 "🐛 [Bug] Setting talents when dead"
## 🐛 Bug report
If you set talentpoints while being dead, they have no effect until you relog.

### Expected behavior

I don't know how it should work, but i guess one of these two options:
1 - The talent should work as usual
2 - or an "you can't do that while being dead" error message should be sent.

I don't know how it works on classic - and i have feeling that its one of those issues where cla

[2021-01-08 02:55] Gamemechanicwow commented on #470
Looks fine to me. I did the quest without any broken visuals.

[2021-01-08 13:53] schell244 commented on #470
I've retested the quest and this time trolls did spawn without any clothing. @Gamemechanicwow can you confirm this? Maybe my client has some issues

<img width="409" alt="troll" src="https://user-images.githubusercontent.com/9536270/104022533-b2301b80-51c0-11eb-810b-06c931960150.PNG">

[2021-01-08 21:08] #793 closed, assigned to nobody

[2021-01-09 02:14] Zarant opened #984 "🐛 [Bug] Low HP slow mechanic"
## 🐛 Bug report

Currently, there are health thresholds at 20,15,10 and 5 percent where the mob move speed is reduced, this is inconsistent with the classic client

### Expected behavior

Initial research has been done before here: https://github.com/LightsHope/issues/issues/178
Which is mostly true but slightly inaccurate, I did some further experiments with the 1.13 client and I found out the fo

[2021-01-09 02:23] Gamemechanicwow commented on #984
If you are still gathering data from classic, you can use this macro to get accurate movement speed

/run print((GetUnitSpeed("target")/0.07).."%")

[2021-01-09 10:25] NickTyrer opened #985 "🐛 [Bug] NPC Raider Kerr and Jhash Pathing"
## 🐛 Bug report
Raider Kerr (3256) and Raider Jhash (10676) have incorrect waypoints and scripts. Currently they walk when they should run at certain points also they should be in a creature group and not have seperate waypoints.

Client Version: 1.12.1

Commit Hash:  7d2f1e2

[2021-01-09 23:09] Daribon opened #987 "🐞 [Bug] Feign Death not killing player after 6 min."
## 🐞 Bug report - Spell

If you wait 6 min in feign death your character will just stand up.

### Expected behavior

In entire vanilla, if you spent the entire 6 min in feign death your character would die at the end.
This wasn't fixed until [2.0.1](https://wow.gamepedia.com/Patch_2.0.1).

[You can see the behavior on wow classic as well.](https://us.forums.blizzard.com/en/wow/t/died-while-in-feig

[2021-01-09 23:15] Daribon opened #988 "🐛 [Bug] Feign Death no channeling bar."
## 🐛 Bug report

When casting Feign Death you currently have no channeling bar.
### Expected behavior

There should be a channeling bar whenever hunter uses feign death.

Here is from a [video](https://youtu.be/36EnwyDJ004?t=226) from vanilla:
![firefox_ozJEvirQ0x](https://user-images.githubusercontent.com/6137576/104110489-87d18180-52d8-11eb-8a8d-64f7e49b93d0.png)

Here is from a [video](https://

[2021-01-10 05:25] Zarant commented on #984
I did try to use that macro but it's hard to get consistent data since mob movement speeds tend to fluctuate a lot on uneven terrain, I couldn't find a perfectly flat surface to get consistent results.

[2021-01-10 10:16] Victorino76 opened #989 "Strength of Earth(rank 5) totem does not spawn🐞 [Bug]"
## 🐞 Bug report - Spell

The totem does not appear when used. Other earth totems including lesser ranks of Strength of Earth totem do appear and function correctly.
https://streamable.com/cvkobu
### Expected behavior

The totem should appear normally.
### Steps to reproduce

1.add spell (Strength of Earth(rank 5))
2.cast Strength of Earth(rank 5)
3.
4. ...
5. Profit

### Version & Environment

Cli

[2021-01-10 10:18] Victorino76 opened #990 "Grace of Air(rank 3) totem doesn't spawn🐞 [Bug]"
## 🐞 Bug report - Spell

Grace of air(rank 3) does not spawn correctly despite other air totems spawning correctly.
https://streamable.com/gur09n
### Expected behavior

### Steps to reproduce

1. add spell Grace of Air(rank 3)
2. cast Grace of Air(rank 3)
3.
4. ...
5. Profit

### Version & Environment

Client Version:

Commit Hash:

OS Client:
OS Server:

### Crashlog

- None

[2021-01-10 10:21] ratkosrb commented on #989
What patch did you set the server to? Strenght of Earth Totem Rank 5 was added in patch 1.9, so the totem does not exist when server is set to an older version. That is not a bug, it is correct for the patch.

[2021-01-10 10:22] ratkosrb commented on #990
This spell and the totem it summons were added in patch 1.9. What patch is your server set to?

[2021-01-10 13:19] #989 closed, assigned to nobody

[2021-01-10 16:46] Oroxzy commented on #608
Can be closed

[2021-01-10 16:53] #608 closed, assigned to nobody

[2021-01-10 19:11] Daribon opened #992 "🐛 [Bug] Looting and casting at the same time."
## 🐛 Bug report

You can currently cast abilities while looting and you are able to loot while casting.

If you cast while looting, it should cancel the looting.
If you loot while casting, it should interrupt the cast.

### Expected behavior

You should not be able to loot while casting and you should not be able to cast while looting.

Tested on classic and is obviously a bug in vmangos.
### Step

[2021-01-10 19:15] ratkosrb commented on #992
What are the exact errors shown when you try to do those things?

[2021-01-10 19:18] Daribon commented on #992
No error shown when you begin cast while looting, it just cancels the looting.
If you begin looting while casting, it will say interrupted.

[2021-01-10 20:01] #992 closed, assigned to nobody

[2021-01-10 21:09] #824 closed, assigned to nobody

[2021-01-10 21:45] #990 closed, assigned to nobody

[2021-01-13 20:45] Undersong-Belarus opened #996 "🐛 [Bug] x4 peacebloom"
While i was gathering peacebloom in Elvin Forest i've picked x4 flowers at once
Sorry for russian interface in the screenshot
![image](https://user-images.githubusercontent.com/74359351/104507121-5c5fd700-55f7-11eb-8286-24d058b4d7d8.png)
As i know flowers must be picked x1-x3 at once
https://classic.wowhead.com/object=1618/peacebloom#herbalism

[2021-01-14 03:08] T1ti commented on #814
![armorclassic](https://user-images.githubusercontent.com/40864460/104539452-d7d47f00-561d-11eb-87ca-44797d20a1db.png)
This is the correct armor values for each level from Classic (beast lore) for the Warrior type creatures.

All health values are good except a small mistake for lvl 30

[2021-01-14 03:43] T1ti opened #997 "🚀 Level specific stats and/or class level stat templates"
## 🚀 Feature

In vmangos, creature damage and armor are static and the same value is applied to all level of the creature
![vmangoscreaturelvl](https://user-images.githubusercontent.com/40864460/104540660-313dad80-5620-11eb-9b49-8fe98b72dc26.png)
Only health is dynamic because it has a min and max value, but the same issue happens for health if the creature has more than 2 different levels(pretty

[2021-01-14 03:45] T1ti commented on #997
This can also be considered a massive bug, not just a feature

[2021-01-15 13:12] NickTyrer opened #998 "🚀 [Feature] Allow Creature_Groups to Wander"
## 🚀 Feature
Currently if you set the leader in a creature group to wander only the leader will wander. With this feature all of the creatures in the group will follow the leader if its movement is set to wander.

[2021-01-15 13:50] schell244 opened #1000 "🐛 [Bug] - weapon skill increase formula"
## 🐛 Bug report
Skill increase chance (especially when reaching skill cap) is currenlty lower than on Classic.
While leveling, it seems impossible to reach skill cap for players current level (without a lot of grinding) - even with two fast weapons of same type eqquiped.

The current forumla for weapon skill increase seems to be incorrect. `current_skill * 512 < current_skill_max * urand(0, 512)`

[2021-01-15 13:50] schell244 opened #999 "🐛 [Bug] - weapon skill increase formula"
## 🐛 Bug report
Skill increase chance (especially when reaching skill cap) is currenlty lower than on Classic.
While leveling, it seems impossible to reach skill cap for players current level (without a lot of grinding) - even with two fast weapons of same type eqquiped.

The current forumla for weapon skill increase seems to be incorrect. `current_skill * 512 < current_skill_max * urand(0, 512)`

[2021-01-15 13:53] schell244 commented on #999
wtf, why was this opend twice

[2021-01-15 13:53] #999 closed, assigned to nobody

[2021-01-15 21:27] #998 closed, assigned to ratkosrb

[2021-01-16 00:09] ghost opened #1001 "🐝 [Bug] The Heroes of Darrowshire should not have an XP reward pre 1.3"
## 🐝 Bug report - Quest

The quest The Heroes of Darrowshire should not give an experience reward pre 1.3
### Expected behavior

No XP reward in patch 1.2. See the wiki patch notes for 1.3. https://wowwiki.fandom.com/wiki/Patch_1.3.0#Quests

"The Heroes of Darrowshire quest in Eastern Plaguelands now gives an experience reward."
### Steps to reproduce

1. Accept quest The Heroes of Darrowshire
2.

[2021-01-16 00:13] ghost opened #1002 "🐝 [Bug] Incorrect quest requirement for Scarab Shells pre 1.3"
The quest Scarab Shells should require nine scarab shells instead of five pre 1.3

### Expected behavior
Should require nine scarab shells and not five. See the wiki patch notes for 1.3. https://wowwiki.fandom.com/wiki/Patch_1.3.0#Quests

"The Scarab Shells quest in Zul'Farrak's item requirement was reduced from nine Uncracked Scarab Shells to five"

### Steps to reproduce
1. Accept quest Scarab S

[2021-01-16 00:54] Velite12 commented on #964
Update, so the criteria for proccing the ring on classic is:
It must be an ability that you cast
It must land on the target
It must not be a channeled spell.
It must be an ability that deals some kind of damage.
Items with spell procs do not trigger the ring.

When these five things happen, it will proc. Thus it should not depend on whether it did a normal or critical hit, and it should not be tri

[2021-01-16 17:19] schell244 commented on #520
fixed with f82e9b6 -  thanks @ratkosrb <3

[2021-01-17 00:27] punker85 commented on #971
I am assuming that the client sends packets automatically at standard intervals similar to how the wisps spawned in the first half of the video and also that the server has no way to request additional movement packets from the client. With that info in consideration, the interpolation procedure would be doing some linear calculation and probably checking mmaps for valid movement. First, doing thi

[2021-01-17 07:55] jaywalker15262 commented on #971
Do any of you have an idea if it is possible to get the smooth movement we had in earlier patches and how it would be achieveable without being too cpu taxing?

Would be really huge and great change if we could achieve that. Many would love it.

EDIT: According to user real_namreeb on r/wowservers as to why movement interpolation is unstable:
"The reason is that the backing third-party library, de

[2021-01-17 13:16] jaywalker15262 opened #1003 "🐞 [Bug] Rogue Deadly Venom not stacking properly."
I actually have no idea how it is suppost to stack anymore since I fixed this bug months ago and forgot what the issue was. But the fix is hacky(works without bugging but is lazy code asf) so would be better if someone who knows where the code is actually suppost to go to fix this.

Anyways I researched both old vanilla videos and confirmed on classic that poisons dont stack properly on vmangos.

[2021-01-17 16:57] #520 closed, assigned to ratkosrb

[2021-01-17 17:05] ulfgebhardt commented on #1001
Will you provide a fix @thenewblock ?

[2021-01-17 17:37] ghost commented on #1002
[code]

[2021-01-17 17:40] ghost commented on #1001
[code]

[2021-01-17 19:17] ulfgebhardt commented on #1001
Can you make a PR for it? @thenewblock

[2021-01-17 19:17] ulfgebhardt commented on #1002
Please make a PR for this @thenewblock cheers

[2021-01-17 19:24] thenewblock commented on #1001
I don't know how

[2021-01-17 19:24] ghost commented on #1002
I don't know how

[2021-01-17 20:20] ulfgebhardt commented on #1002
Do the following:
1. Fork the repo

![image](https://user-images.githubusercontent.com/1238238/104854818-33965500-5909-11eb-99bf-846917a5dbc3.png)
![image](https://user-images.githubusercontent.com/1238238/104854827-3e50ea00-5909-11eb-945e-76a68a704b17.png)

2. Clone your fork `git clone git@github.com:USER/core.git` to your local machine (install git or use [smartgit](https://www.syntevo.com/smar

[2021-01-18 22:11] punker85 commented on #220
If this is still an issue, you may want to remove the logic at the end of the handler - `*((int*)NULL) = 42; // Crash for real now.`. This line should be causing a segmentation fault all over again, which should cause the handler to be re-entered once again and core dump again.

[2021-01-18 23:50] schell244 commented on #877
fixed with https://github.com/vmangos/core/pull/972/commits/31e466a09c72f9f90fcab6258106b442caa9135d

[2021-01-18 23:50] #877 closed, assigned to nobody

[2021-01-19 08:01] punker85 commented on #249
In patch 0.7, the probability was changed to 100%.

[2021-01-19 21:59] schell244 commented on #1000
Example calculation with current formula `current_skill * 512 < current_skill_max * urand(0, 512)`
Level 30 character, max skill is 150.
Ignoring the fact, that missed hits currently don't count for increase (so chances are even lower).
[code]

[2021-01-21 08:32] Victorino76 opened #1011 "🐛 [Bug] Org - > UC Zeppelin disappears when landing at Org"
## 🐛 Bug report

The zeppelin that goes from Org to UC disappears just as its landing on the platform.
https://streamable.com/vezz4m
### Expected behavior

The zeppelin should come to a full stop on the platform edge.
### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Version & Environment

Client Version:

Commit Hash:

OS Client:
OS Server:

### Crashlog

- None

[2021-01-22 18:47] ratkosrb commented on #913
Fixed in https://github.com/vmangos/core/commit/f7e05b063cb778c471152387f561410aed4de97c

[2021-01-22 18:47] #913 closed, assigned to NickTyrer

[2021-01-23 15:38] #499 closed, assigned to schell244

[2021-01-23 21:19] ulfgebhardt commented on #499
@schell244 Your PR was merged - congrats - but isn't it right that this needs a followup ticket? If you agree would you be willing to open it? <3

[2021-01-23 22:29] schell244 opened #1016 "🐛 [Bug] Loot/Dropchance - Recipe: Savory Deviate Delight"
## 🐛 Bug report
Drop chances for [Recipe: Savory Deviate Delight] are different (and a bit lower) compared to classic:
https://classic.wowhead.com/item=6661/recipe-savory-deviate-delight
"Best farming location" is also different, comparing npc's with highest dropchances:

wowhead/classic: Kolkar Stormseer 0.3%, Muck Frenzy 0.3%, ...

vmangos: Savannah Highmane 0.2%, Savannah Huntress 0.2%, ...

##

[2021-01-24 20:25] jaywalker15262 opened #1017 "[Bug] Sometimes quest items will not drop even if you have the quest and the drop chance is 100%."
**Current behavior**:  Add loot to a mob. creature_loot_template can look like this: `INSERT INTO creature_loot_template VALUES (creature_id,quest_item_id,-100,0,1,1,0,0,10);`

**Client version**:  1.12

**Commit hash**: Fresh pull, but this issue has been present on older versions of the core as well.

**Operating system**:  Linux/Windows

[2021-01-25 21:36] T1ti opened #1019 "🐛 Lava elementals should be immune to Nature"
## 🐛 Bug report
I only tested this one :
https://classic.wowhead.com/npc=5855/magma-elemental
On classic he is immune to nature damages, on vmangos he is not.

### Expected behavior
Proofs :
Wowhead comments :
https://www.wowhead.com/npc=5855/magma-elemental#comments:id=222489
I tried it myself on classic : with a nature wand :
![image](https://user-images.githubusercontent.com/40864460/105768856-

[2021-01-25 21:44] Velite12 commented on #1019
https://www.youtube.com/watch?v=gWLw9lpMDeQ

This video shows a warrior using thunderfury on MC trash mobs. No immunity on Garr in classic.

[2021-01-25 21:51] T1ti commented on #1019
https://youtu.be/gWLw9lpMDeQ?t=1804

The normal ones are immune

[2021-01-25 21:53] Velite12 commented on #1019
But wouldn't they be immune to the thunderfury proc then? It's nature

Edit: That could be the Perdition's proc.

Edit2: I was talking about the thunderfury debuffs, since they are all classed as nature.

[2021-01-25 22:17] T1ti commented on #1019
Lava surgers are not immune to fire, verified from my guild logs which has some fire mages

![image](https://user-images.githubusercontent.com/40864460/105772663-d3d02780-5f62-11eb-886f-38e14a9914ba.png)

None of my warrior tanks have any thunderfury dmg on them, which should prove they are immune to nature and not to fire.

I can confirm this is the same for all other lava elementals in MC (annih

[2021-01-25 22:31] Velite12 commented on #1019
So how were the warriors doing thunderfury procs on them? Also the shamans were hitting them with stormstrike . Is it just a check for damage immunity?
![fff17d6be58ddb00ab0ca5bec27cf418](https://user-images.githubusercontent.com/45871932/105774576-6789ff80-5f33-11eb-82b6-24e501551a78.png)

[2021-01-25 22:36] T1ti commented on #1019
Sorry, my raid had no thunderfury in the logs I was looking at 🤔

i can't tell from logs if the "lava elemental" ones are immune to fire, as they are always pulled in packs, but some other are not immune to fire

[2021-01-25 22:39] Velite12 commented on #1019
I am 100% sure that if the mob is immune to the damage, it has to be immune to the debuff, since they are technically the same spell with the same resistance type. So while it is possible that these specific mobs are nature immune, I think it's just a case for these ones and not all lava elementals.

In the case of thunderfury, the -25 nr is in the same spell as the 300 damage. So it is immune to

[2021-01-25 22:41] T1ti commented on #1019
![image](https://user-images.githubusercontent.com/40864460/105775280-da609e00-5f66-11eb-9270-ab933c33a480.png)
Looking at some random guys logs, they aren't immune to fire.

[2021-01-25 22:42] Velite12 commented on #1019
![12f49bf153139f4246732262297630b0](https://user-images.githubusercontent.com/45871932/105775851-85f0fa80-5f35-11eb-8244-6374bdb30fc2.png)
It could have been that his heroic strike was using a macro to use hamstring, which they would be immune to.

Keep an eye for 300/450 when thunderfury proc refreshes.

Almost certain this 300 proc is that warrior's thunderfury that was just applied to the mob.

[2021-01-25 22:52] Velite12 commented on #1019
Deep wounds. Elementals are immune to it, that is what was listed as immune. It procs when dps warriors crit.

So specifically that mob in searing gorge is nature immune, perhaps. But not the mc elementals.

[2021-01-25 23:09] T1ti commented on #1019
This is the list of all lava elementals in the game (model id ElementalEarth + texture variation = RockElementalSkinBlack)

![image](https://user-images.githubusercontent.com/40864460/105777458-b0a97600-5f6a-11eb-91b7-200901575bf4.png)

None of them have an immune mask. It might be worth verifying them on classic, I think the MC creatures are an exception

The querry used :
_SELECT  `entry`,  `nam

[2021-01-26 00:14] Velite12 commented on #1019
Logically, all wind elementals are nature immune. As for rock elementals (lava and regular), I'm not so sure that they should all be (again thematically speaking) immune but they should be highly resistant, but I think blizzard was a bit inconsistent so I'm sure that some of these are. I would test if i had a classic account and character myself :(

[2021-01-26 00:16] T1ti commented on #1019
Tested some on Classic :
Obsidian Elemental : Not immune
Greater Obsidian elemental : Not immune
Magma Lord Bokk : Immune to nature
Smoldar : Immune to nature
Molten elemental : Immune to Nature
Magma elemental : immune to nature
Enraged Stone Spirit : Immune to nature
Furious Stone Spirit : Immune to nature
_Minor Manifestation of Earth : They are friendly NPCs_

[2021-01-26 00:42] T1ti commented on #1019
Tested all of them except the searing gorge rare.

5 out of 7 are immune to nature.

[2021-01-26 06:00] T1ti opened #1020 "🐛 More missing school immune masks"
## 🐛 Bug report
https://classic.wowhead.com/npc=1043/lost-whelp#comments:id=44643:reply=108158
Should be immune to shadow.
https://www.wowhead.com/npc=1364/balgaras-the-foul#comments:id=1064073
Immune to shadow
https://www.wowhead.com/npc=2108/garneg-charskull#comments:id=30344:reply=343513
Immune to fire
https://www.wowhead.com/npc=2592/rumbling-exile#comments:id=828966
Immune to nature

Thanks t

[2021-01-26 17:59] offl commented on #1020
Well, I checked today again comments for these and in 80-90% cases found comments about immunity
You can re-check them in game or re-check comments, just re-select them because those are TBC and WotLK too and some masks are already applied

-- 2
12457,16491,
-- 4
89,2091,2108,2447,2726,2760,4036,4037,4038,4676,5850,5852,7137,7734,7735,8317,9016,9017,9026,9816,9878,9879,10485,11502,11666,11667,1166

[2021-01-26 18:12] T1ti commented on #1020
I'm removing the BC/WOTLK creatures from your message : (the last creature ID in vanilla is 17996)
-- 2 (HOLY)
12457,16491,
-- 4 (FIRE)
89,2091,2108,2447,2726,2760,4036,4037,4038,4676,5850,5852,7137,7734,7735,8317,9016,9017,9026,9816,9878,9879,10485,11502,11666,11667,11668,12056,12143,12457,15438,16491
-- 8 (NATURE)
92,2258,2592,2735,2736,2752,2762,2791,4499,8317,10485,11321,11744,11777,11778,1178

[2021-01-26 18:17] offl commented on #1020
TBC are still here

[2021-01-26 18:18] T1ti commented on #1020
Yep it looks like some TBC creatures have IDs similar to vanilla, due to TBC being in developement at the same time

[2021-01-27 00:42] #1002 closed, assigned to nobody

[2021-01-27 00:45] #1001 closed, assigned to nobody

[2021-01-27 07:58] faralynn opened #1021 "Many bosses in Temple of Ahn'Qiraj have incorrect or non-existent gold drop values. 🐛 [Bug]"
## 🐛 Bug report
The following bosses in AQ40 have incorrect gold drop values:

- Yauj | Current gold drop (if killed LAST): 2.9 Gold
- Vem | Current gold drop (if killed LAST): 0 Gold
- Kri | Current gold drop (if killed LAST): 2.9 Gold
- Emperor Vek'nilash | Current gold drop: 0 Gold
- Ouro | Current gold drop: 0 Gold

### Expected behavior
- Yauj | Expected gold drop (if killed LAST): 50-89.5 Go

[2021-01-27 08:00] faralynn commented on #1021
Whoops. For expected behavior, nevermind the "current gold drop text" I just copy+pasted the bullet list. Everything else is in line though

[2021-01-28 00:01] jaywalker15262 opened #1023 "🐛 [Bug] The Dark Iron Ale Mug does not attract the NPC's in the bar as it should, they simple ignore it."
## 🐛 Bug report

### Expected behavior
 In classic it is suppost to attract attention of Grim Patrons.

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Version & Environment

Client Version:

Commit Hash:

OS Client:
OS Server:

### Crashlog

- None

[2021-01-28 00:08] jaywalker15262 opened #1024 "🐛 [Bug] Thauris Balgarr spawns landmines infinity bug."
## 🐛 Bug report

Thauris spawns landmines but these landmines just start going into a direction forever and disappear out of your sight. Could potentially be used to crash a server if u can spawn an unlimited number of these and never have them despawn.

[Screenshot](https://imgur.com/a/iwyjflp)

### Expected behavior

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Version & Environment

C

[2021-01-28 00:12] jaywalker15262 opened #1025 "🐛 [Bug] Tanaris mobs inside tent pathing bug."
## 🐛 Bug report

(pathing) Mobs in tanaris who spawns inside the tents will stand stacked inside the tent engaged in combat, unable to chase you & evade attacks. This might be a general pathing bug and not exclusively an issue with just mobs in Tanaris.

### Expected behavior

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Version & Environment

Client Version:

Commit Hash:

OS Client:
OS

[2021-01-28 00:17] jaywalker15262 opened #1026 "🐛 [Bug] Ore in Jangelode mine way out of position."
## 🐛 Bug report

bug: in jangolode mine, a piece of ore is detected waaay out of position by the "find minerals" miner ability (you can see one in front of me: it's marked as being at the end of the cave)

[SS](https://imgur.com/a/UmUuQJT)
### Expected behavior

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Version & Environment

Client Version:

Commit Hash:

OS Client:
OS Server:

### C

[2021-01-28 00:20] jaywalker15262 opened #1027 "🦂 [Bug] Moira Thaurissan dropping loot when she's not suppost to."
## 🦂 Bug report - Dungeon

- moira thaurissan is dropping loot even if no one has finished the questline to deal with her. on classic, you have to finish the quest chain to be eligible for loot.

- shadowforge dragoons and peasants (?) sometimes start shooting random ranged players with no care for threat whatsoever

### Expected behavior

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Ver

[2021-01-28 07:24] gamelgs opened #1028 "🐞 [Bug]Dark Iron Taskmaster Death Casters's target is wrong~~~"
## 🐞 Bug report - Spell

Spell: Dark Iron Taskmaster Death
Spell id: 12613
Only targets matching the conditions can be affected by the spell.
Casters's target is Slave Worker.
But now it's wrong to target players.

### Version & Environment

Client Version:  1.12.1.5875

Commit Hash:  175258ae4cb43e791761c031c9a4b70bb3cb1a6b

OS Client: win10
OS Server: win10

### Crashlog

- None

[2021-01-28 08:59] NickTyrer opened #1029 "🐛 [Bug] Innkeeper Grosk Wrong Gossip Menu Option"
## 🐛 Bug report
He currently has the wrong gossip menu option:
![vman](https://user-images.githubusercontent.com/22723839/106114068-105c7880-6147-11eb-8598-f11f56f0b9c9.png)

### Expected behavior
classic:
![classic](https://user-images.githubusercontent.com/22723839/106114086-16eaf000-6147-11eb-91e1-7ee1aa6cd349.png)

Client Version:
1.12.1
Commit Hash:
175258a

[2021-01-29 10:01] schell244 commented on #754
Missing broadcast texts (updated to be yell):
[code]

[2021-01-29 11:39] NickTyrer commented on #1029
UPDATE: all of the innkeepers in the starting zones have the wrong gossip menu options. Mosto of them have "tell me about the dungeons I could explore" when they shouldnt.

[2021-01-29 11:40] NickTyrer commented on #1029
UPDATE: The inkeeper in Goldshire has some weird custom menus when you have GM mode enabled.

[2021-01-29 14:12] NickTyrer commented on #1029
UPDATE: some innkeepers have these gossip_menu_options:
![1](https://user-images.githubusercontent.com/22723839/106285069-ec2e9380-623b-11eb-934b-b9c753a3c57d.png)

Whilst some have:
![2](https://user-images.githubusercontent.com/22723839/106285091-f51f6500-623b-11eb-827a-83ed77e02bd8.png)

Is this correct or are they missing the seasonal entries?

[2021-01-29 18:30] ratkosrb commented on #1029
Did you talk to them on a character above level 15? That option only appears when you are high enough to do dungeons. If you are testing the starting zone innkeepers on a level 1 character, then ofc u wont see it.

[2021-01-29 19:25] NickTyrer commented on #1029
@ratkosrb I tested with a lvl 60, none of the innkeepers in the starting zones had the dungeon menu.

[2021-01-29 21:36] WobLight opened #1038 "🐛 [Bug] PCH not working with clang 10/11"
clang 10/11 build fails with PCH enabled (@Nolin7777 successfully built with clang 7, other versions untested).
Removing `-march=native` also fixes.

[code]
That's here for the records, if anyone can confirm it or has any idea about possible fixes...

[2021-01-30 00:07] WobLight commented on #1038
Adding `-mlwp` or `-mno-lwp` flags also fixes the error... clang bug?

[2021-01-30 19:49] #1016 closed, assigned to nobody

[2021-01-31 15:12] AidanSI opened #1040 "🐞 [Bug] Stamina Debuffs temporarily cancel the effect of Stamina Buffs"
### Expected behavior
Currently, when you are affected by a debuff that reduces your stamina (curse, disease, ...), it temporarily cancels the effet of any stamina buff you could have such as Power Word: Fortitude. Meaning that some diseases which should simply reduce stamina by only 3, can actually reduce health by several hundreds or even thousands. This behaviour should not happen.

### Steps t

[2021-01-31 17:19] ulfgebhardt commented on #1038
This post was moved to [here](https://github.com/vmangos/core/pull/1041#issuecomment-770486021) as requested. Please refer to the linked PR regarding PCH errors on Windows

[2021-01-31 23:36] #1040 closed, assigned to nobody

[2021-02-01 00:13] WobLight commented on #1038
@ulfgebhardt please make a separete issue or move to #1041

[2021-02-01 01:11] T1ti commented on #1019
Finally found Smoldar, he is indeed immune to nature, so 6 out of 8 are immune.
![image](https://user-images.githubusercontent.com/40864460/106404326-bc95ac00-6432-11eb-8fc6-449f6309e062.png)

[2021-02-04 03:54] insunaa opened #1044 "🦂 [Bug] Naxxramas: Razuvious resets at the bottom of the stairs"
## 🦂 Bug report - Naxxramas

Razuvious resets at the bottom of the stairs towards the stables.

### Expected behavior

He should reset at the half-way point/platform instead as seen here:
https://www.youtube.com/watch?v=JAaxF_U-7Qk

https://github.com/vmangos/core/blob/9dba4ccf31b076f48163d792c5b0b4f623acf79c/src/scripts/eastern_kingdoms/eastern_plaguelands/naxxramas/instance_naxxramas.cpp#L155
=>

[2021-02-04 19:04] ulfgebhardt commented on #1044
Could you make a PR for this @insunaa <3

[2021-02-04 21:07] insunaa commented on #1044
Done.
Please test it yourself, @ulfgebhardt as I don't have a 1.12 client to test this with, currently.

[2021-02-04 21:17] schell244 opened #1046 "🐛 [Bug] broadcast text locales - some (format?) issues for german texts"
## 🐛 Bug report
I noticed some spelling issues within some german texts.
Looks like "D. $n" was used as replace.

<img width="400" alt="broadcast text errors" src="https://user-images.githubusercontent.com/9536270/106956301-b0f9fc00-6736-11eb-85a3-5442001194c2.PNG">

### Expected behavior
Texts should not be cut.

### Steps to reproduce
1. open db
2. run query:
[code]

Commit Hash:
9dba4cc

[2021-02-04 22:13] ulfgebhardt commented on #1044
Thank you @insunaa <3

[2021-02-04 22:16] ulfgebhardt commented on #132
closing due to inactivity and tester was unable to reproduce. Feel free to reopen if you can reproduce it or find any related evidence

[2021-02-04 22:16] #132 closed, assigned to chenps10

[2021-02-04 22:17] ulfgebhardt commented on #220
@ratkosrb Can you have a look at the suggestion in the last comment pls? <3

[2021-02-04 22:19] ulfgebhardt commented on #223
@GrenderG can you provide more details, like the link to the quest in wowhead. This is not clear to me.

[2021-02-04 22:20] ulfgebhardt commented on #236
@SuddenDeath would you be willing to provide a PR for this? <3

[2021-02-04 22:30] schell244 commented on #239
Currenlty VMangos treats `Apply Aura: Periodically trigger spell` with hacks. This spells also seems to have this attribute due to https://classic.wowhead.com/spell=24983/baby-murloc-passive

Maybe this will be fixed, when the flag gets implemented https://github.com/vmangos/core/pull/906
`SPELL_ATTR_PERIODICALLY_TRIGGER = 0x00000800 // 11 TODO: confirm & implement - periodically trigger spell`

[2021-02-04 22:30] WobLight opened #1048 "🐛 [Bug] Refreshing an effect over time should reset tick timer as well"
## 🐛 Bug report
When refreshing an HoT/DoT effect faster than the tick interval, the tick time is not resetting and the ticks happen.

### Expected behavior
When refreshing an HoT/DoT effect faster than the tick interval, no ticking shall happen.

### Steps to reproduce
Use any DoT/HoT  (Rejuvenation, Shadow Word: Pain, ...) on a target refreshing faster than it ticks

[2021-02-04 22:37] ulfgebhardt commented on #249
@punker85 Does this mean the current implementation is correct or do you refer to version 1.7?

[2021-02-04 22:38] WobLight opened #1049 "🐛 [Bug] Negative auras with no instant effect shouldn't cast when an higher rank is already present"
## 🐛 Bug report
It's possible to cast lower ranks of spells with only over time effect on target with an higher ranked effect already present (e.g. it's possible to cast "Shadow Word: Pain(Rank 1)" on a target with "Shadow Word: Pain(Rank 2)" active).

### Expected behavior
"A more powerful spell is already active" error should be reported, and nothing casted.

[2021-02-04 22:45] ulfgebhardt commented on #470
Is no clothing wrong here @schell244 ?

[2021-02-04 22:49] schell244 commented on #1048
I guess this is the same problem as just mentioned at https://github.com/vmangos/core/issues/239.
DoT spells also fall into category `Apply Aura: Periodically trigger spell` which are currently not properly detected by vmangos due to missing flag.

[2021-02-04 22:49] ulfgebhardt commented on #563
@mikemenasi are you interested in workig on thi issue and provide us with a fix? <3

[2021-02-04 22:51] ulfgebhardt commented on #627
@Daribon Make a PR pls <3

[2021-02-04 22:52] ulfgebhardt commented on #658
@alexkulya is it later now? ;) Pls make a PR!

[2021-02-04 22:54] ulfgebhardt commented on #670
I believe this is not an issue, closing

[2021-02-04 22:54] #670 closed, assigned to nobody

[2021-02-04 22:56] WobLight commented on #1048
As far as I can tell, it's just implemented the wrong way https://github.com/vmangos/core/blob/development/src/game/Spells/SpellAuras.cpp#L313
This comment in the code is generally wrong for player spells and this bug is fixed by simply removing a few lines, I have yet to check whether doing that affects stacking auras (e.g. poison) or there are other exceptions.

[2021-02-04 22:57] schell244 commented on #470
I just found a video where the 'broken visual' bug also occurs. I don't think that this was on retail classic though
https://www.youtube.com/watch?v=a_lz-cXh5fM

[2021-02-04 23:21] schell244 commented on #1048
I think almost all spells at function `void Aura::PeriodicDummyTick()` https://github.com/vmangos/core/blob/9dba4ccf31b076f48163d792c5b0b4f623acf79c/src/game/Spells/SpellAuras.cpp#L6231 currently have some issues with their ticks. Also looking at how vmangos determines whether a spell is a periodic seems wrong to me https://github.com/vmangos/core/blob/9dba4ccf31b076f48163d792c5b0b4f623acf79c/src/

[2021-02-04 23:26] WobLight commented on #1048
This bug is not about "Periodically trigger spell", which is a different matter compared to HoT/DoT (Apply Aura: Periodic Heal
/Apply Aura: Periodic Damage)

[2021-02-04 23:39] GrenderG commented on #223
Wowhead: https://classic.wowhead.com/quest=452/pyrewood-ambush
YouTube video where you can see NPCs being worgens: https://www.youtube.com/watch?v=4Mj5tH2goIc

[2021-02-04 23:41] schell244 commented on #1048
Sure, I just though it might be useful to mention it. Could be something that affects timed aura tick spells in gerneral.

[2021-02-05 01:12] punker85 commented on #249
It means that the change that the OP references from beta patch 0.6 was reverted a few months later in the next beta patch. One could assume that the reasoning behind this was due to complaints from testers in the beta phase. I would hope that this project is not trying to recreate concepts that were tested and adjusted during beta implementations.

The added miss chance for interrupts was impleme

[2021-02-05 01:26] ratkosrb commented on #249
Thanks for clearing this up. We are only trying to emulate 1.2 to 1.12, so this is not applicable to us.

[2021-02-05 01:26] #249 closed, assigned to GuybrushGit

[2021-02-05 02:33] punker85 commented on #220
The problem I suggested is more than likely not the issue but it probably does not help. In this section of code, the likely culprit is the 25s thread sleep. In my experience with signal handling, ignoring the signal for extended periods of time will cause the OS to retry execution of the SEGV-causing code (or possibly send a new termination signal), which would cause the process to handle the sig

[2021-02-05 08:28] Kittnz commented on #627
@Daribon correct, its from an addon!

[2021-02-05 23:39] #1046 closed, assigned to schell244

[2021-02-06 09:39] NickTyrer opened #1051 "[EVENT] Lunar Festival a Few Issues"
1. The teleport script is missing when you teleport to moonglade (ref: https://youtu.be/-PjB032RZ-M)
2. Missing gameobjects
![Untitled](https://user-images.githubusercontent.com/22723839/125205996-bb3b9b80-e27c-11eb-9a64-f648f3ad5b6e.png)

Client Version: 1.12.1

Commit Hash:  e8f44b1

[2021-02-06 18:38] #756 closed, assigned to nobody

[2021-02-06 18:39] #462 closed, assigned to nobody

[2021-02-06 18:39] #669 closed, assigned to nobody

[2021-02-06 18:39] #563 closed, assigned to nobody

[2021-02-06 18:48] ulfgebhardt commented on #563
@mikemenasi are you closing those issues because they are fixed or because you don't wanna get pinged anymore?

[2021-02-08 13:57] #1028 closed, assigned to nobody

[2021-02-08 14:27] schell244 opened #1054 "🐛 [Bug] creating a character consumes 2 guids for each default item"
## 🐛 Bug report
Creating a new character consumes 2 guids at `item_instance` for each default item.

### Expected behavior
each item should only consume 1 guid

### Steps to reproduce
1. clear character db
2. create new character
3. check guid counter at `item_instance`
4. instead of 1,2,3... the guid's are 2,4,6,8,....

<img width="442" alt="guid" src="https://user-images.githubusercontent.com/95

[2021-02-08 16:43] jaywalker15262 commented on #1048
This wouldnt be true for poisons though because you are constantly refreshing them on the target so this would be a huge nerf, especially with the talent that improved poison application chance. I dont think it is intended for every spell but for maybe many non poison DoTs and HoTs it is.

[2021-02-08 16:50] WobLight commented on #1048
I've already tested, poisons and other stacking debuffs are not affected by this pr.

[2021-02-08 20:10] ulfgebhardt opened #1055 "🐛 [Bug] NPC 15933 is missing aura 26575 (Toxin)"
## 🐛 Bug report

Current behavior:
NPC 15933 is missing aura 26575 (Toxin)
Expected behavior:
see https://github.com/cmangos/classic-db/commit/f162c49cec1f369a2c4a6129cba59adecbb7884f

Client version:
1.12.1
Commit hash:
1
Operating system:
Win10

[This PR](https://github.com/vmangos/core/issues/563) was closed by @mikemenasi when its unclear why

[2021-02-08 20:13] ulfgebhardt opened #1056 "🐛 [Bug] Incorrect damage stats for two Winterfall Furbolgs"
## 🐛 Bug report

Current behavior:
The damage stats for Winterfall Ursa and High Chief Winterfall are incorrect.

Expected behavior:
see https://github.com/cmangos/classic-db/commit/84c51311be881c44c186c0bf610e74f91e2bc1c4

Client version:
1.12.1
Commit hash:
ea0f0ee
Operating system:
Win 10

[This PR](https://github.com/vmangos/core/issues/669) was closed by @mikemenasi when its unclear why

[2021-02-08 20:16] ulfgebhardt opened #1057 "🐛 [Bug] NPC loot tables incorrect - 2184 (Lady Moongazer) & 14222 (Araga)"
## 🐛 Bug report

Current behavior:
-NPC 2184 (Lady Moongazer) loot table is incorrect, see:
Sources: https://classic.wowhead.com/npc=2184/lady-moongazer
https://web.archive.org/web/20060114031736/http://wow.allakhazam.com/db/mob.html?wmob=2184

-NPC 14222 (Araga) loot table is incorrect, see:
Sources: https://web.archive.org/web/20070213211651/http://wow.allakhazam.com/db/mob.html?wmob=14222
https

[2021-02-08 20:17] ulfgebhardt commented on #923
This was merged

[2021-02-08 20:17] #923 closed, assigned to nobody

[2021-02-09 04:29] #1055 closed, assigned to nobody

[2021-02-09 04:49] #1044 closed, assigned to insunaa

[2021-02-10 01:27] GrenderG commented on #966
Has it happened again? Are you sure the 100% CPU usage is related to that malformed packet? It doesn't seem to be a targeted attack.

[2021-02-10 08:39] faralynn commented on #1021
Is there any data that this bug report is lacking? I can try digging it up should a developer need it.

For further proof this is an issue, here's some of the SQL data for some of the AQ40 bosses.

**Bold text** = the data entries for gold drop, minimum and maximum values. File used as reference:
https://github.com/vmangos/core/blob/4ba6a87d197242aa5546ddbf438589b23efd9704/sql/old_migrations/20170

[2021-02-10 13:31] ulfgebhardt commented on #966
I am not sure at all - I have not encountered the problem again, but I am not working alot on my server atm.

`167.248.133.37` is a vulnerability scanner. So I guess it could be targeted

It is unclear if the error in the log and the CPU hang are connected. But it is the only thing I have on this issue.

[2021-02-10 21:47] jaywalker15262 opened #1058 "🐛 [Bug] Rage remains when u die"
## 🐛 Bug report

If u had 56 rage when u died u have 56 rage until u release ur spirit. Weird bug.

### Expected behavior

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Version & Environment

Client Version:

Commit Hash:

OS Client:
OS Server:

### Crashlog

- None

[2021-02-11 05:55] #1058 closed, assigned to nobody

[2021-02-11 14:27] gtheodorop commented on #966
Have you tried reproducing it using the same opcode as the original packet?

[2021-02-11 14:29] c2lhu commented on #966
Have you tried to reproduce it using the same opcode as the original packet?

[2021-02-11 15:34] ulfgebhardt commented on #966
I did not

[2021-02-11 15:39] c2lhu commented on #966
you can use https://github.com/tripleslash/wowscout to create custom packets
also test similar case azerothcore had and solved last year https://github.com/azerothcore/azerothcore-wotlk/issues/2683

[2021-02-11 16:01] ulfgebhardt commented on #966
This case is a bit different, since the server does not crash, but stays in a loop which uses up the whole CPU Core - so one thread
is somehow occupied. I am not sure the information we currently have are enough to figure out whats the problem - but having a remote kill switch is sorta worrisome. Also thanks for the tool, I did not know about it before! And +1 for your profile pic <3

[2021-02-11 20:15] c2lhu commented on #966
https://github.com/azerothcore/azerothcore-wotlk/compare/master...Goatform:handle_input_header_error

I know this is meant for 3.3.5 but this guy has made some nice changes on the code you also have concerning handle_input_header on MangosSocketImpl

Namely more information about the attacker. His client session , account , latency . Checks for valid opcodes etc
Its stuff from 11/2020

If someone

[2021-02-11 23:25] ulfgebhardt commented on #966
Could you PR those changes for vmangos @c2lhu ? That way all servers would have improved logs and the chances of uncovering problems would increase <3

[2021-02-13 12:15] NickTyrer commented on #1029
The "Let me browse your seasonal fare" option seems to activate on all innkeepers during Love is in the Air event which is incorrect.

[2021-02-13 14:58] NickTyrer opened #1059 "[Event] Love is in the Air a Few Issues"
3. When using the item Unbestowed Friendship Bracelet (22259), both players should get the buff The Power of Friendship (26664) Buff. Currently only the casting player gets the buff when both should.

Client Version: 1.12.1

Commit Hash:  440325b

[2021-02-13 15:31] ulfgebhardt commented on #966
I decided to close this after an investigation of @Gamemechanicwow and I - this hang apparently has not happened again. I will reopen if similar behavior can be seen again

[2021-02-13 15:31] #966 closed, assigned to nobody

[2021-02-14 10:52] #487 closed, assigned to nobody

[2021-02-14 11:44] ratkosrb commented on #1029
I've seen the option in game so i know it exists. Also have it in sniffs for these gossip menus: 343, 5181, 6768

[2021-02-14 11:53] NickTyrer commented on #1029
Yes, The menu_option "Let me browse your seasonal fare" is active in some gossip menus when events are actve (e.g orgrimmar innkeeper has this option). However when this option is available the option "Let me browse your goods" is removed.

[2021-02-14 19:44] ratkosrb commented on #1054
The folks at trinitycore found why this happens:
![Untitled](https://user-images.githubusercontent.com/35845488/107887301-bfea6680-6f0d-11eb-9581-8372e79a9599.jpg)

[2021-02-15 12:11] sephiro86 opened #1063 "🐝 [Bug] Yeh'kinya's Bramble"
## 🐝 Bug report - Quest
The Screecher Spirits quest (id3520) asks you to defeat and capture the spirits of 3 screechers in Feralas using Yeh'kinya's Bramble.
However, when you defeat the screecher and try to use the wand, you receive the message of invalid target.

### Expected behavior
It is expected that when using the item Yeh'kinya's Bramble, the spirit is invoked as shown in the video: https:

[2021-02-15 14:22] CosminPOP opened #1064 "🐞 [Bug] Shadowform cancel and GCD"
## 🐞 Bug report - Spell
Cancelling Shadowform triggers gcd.

### Expected behavior
Should not trigger gcd.

### Steps to reproduce

1. Cast Shadowform
2. Cast Shadowform again, or rightclick the Shadowform buff

### Steps to reproduce - to not trigger gcd
1. Cast Shadowform
2. Logout
3. Login
4. Cancel Shadowform

### Version & Environment
  Client Version:
  - 1.12.1.5875

[2021-02-16 01:20] Daribon commented on #1064
source?

[2021-02-17 01:17] ReynoldsCahoon opened #1065 "💬 [Discussion] Emulator API"
## 💬  Emulator API

**Basic Idea:** Server emulators lack a secure, standardized, and robust API for app developers to extend the features and functionality of server projects beyond the server operators themselves.

**Ideal Solution:** Provide an API layer that can access server resources and deliver them to external applications.

**Useful features could include:**
- Server Admin Management UI.

[2021-02-17 01:26] ReynoldsCahoon commented on #1065
The level of granularity to which data is exposed should be robust. For example, if someone set up a server and intentionally modified raid drop rates of a specific raid, and didn't want them to be publicly visible, they should have the ability to allow for all dungeon/raid drop values to be visible, with specific exceptions to any selected raid/dungeon.

The setup process for the API could have a

[2021-02-18 07:52] NickTyrer opened #1069 "[Event] Missing Training Event in Bloodhoof Village - Mulgore"
See: https://github.com/cmangos/classic-db/commit/2d7071b6e842a188bb491d0466ace9e497937593

Client Version: 1.12.1
Commit Hash:  088d004

[2021-02-18 15:09] NickTyrer opened #1071 "[Quest] Missing Quest Script - Zamek's Distraction (1191)"
Currently the script is missing for the quest, see https://www.youtube.com/watch?v=To45GI6_SFI for the correct behaviour.

Fix is here: https://github.com/cmangos/classic-db/commit/589e39fa18f41ff20b85de044cbedaf01d2e8619

Client Version: 1.12.1

Commit Hash:  4ee22bb

[2021-02-19 00:19] tonymmm1 opened #1072 "Servent of Grol is immortal🐛 [Bug]"
## 🐛 Bug report

NPC is protected and is unable to die. Dreadmaul Hold, Blasted Lands.

![screenshot_2021-02-18_18-14-46](https://user-images.githubusercontent.com/20303853/108438840-b286f200-7215-11eb-9959-70824e9f4c3e.png)

### Expected behavior

Should be able to be killed like regular npc.

### Version & Environment

Client Version: 1.12.1.5875

Commit Hash:  https://github.com/vmangos/core/co

[2021-02-19 00:20] tonymmm1 commented on #1072
https://classic.wowhead.com/npc=7669/servant-of-grol

[2021-02-19 00:32] Velite12 commented on #1072
Are you doing the quest and using the item to make him killable?

to quote wowwiki:
The cannot be killed by normal means, to kill them you'll have to damage them down to about 5% of their hp, and then click the crystal near them (this can only be done if you have accepted the quest - N [57] The Stones That Bind Us).

[2021-02-19 00:37] tonymmm1 commented on #1072
I was just killing the ogres if that is the case then I will retract this issue.

[2021-02-19 00:37] Velite12 commented on #1072
Yeah they have the unique property of being the only target dummies in vanilla

[2021-02-19 00:38] tonymmm1 commented on #1072
Ok I will be closing this issue now.

[2021-02-19 00:38] #1072 closed, assigned to nobody

[2021-02-19 11:48] #1063 closed, assigned to nobody

[2021-02-19 16:07] jaywalker15262 opened #1073 "🐞 [Bug] Grim Reach does not increase range of Drain Soul despite being affliction spell."
## 🐞 Bug report - Spell

### Expected behavior

Guess they got all spells but missed Drain Soul. Here is the new mask:
`UPDATE `spell_affect` SET `SpellFamilyMask` = '6447547418' WHERE (`entry` = '18218') and (`effectId` = '0');
UPDATE `spell_affect` SET `SpellFamilyMask` = '6447547418' WHERE (`entry` = '18219') and (`effectId` = '0');`

### Steps to reproduce

1.
2.
3.
4. ...
5. Profit

### Versi

[2021-02-19 17:34] ulfgebhardt commented on #1073
Can you make a PR for your changes pretty please? @jaywalker15262

[2021-02-19 23:01] YellowRyder opened #1075 "🐛 [Bug] [Discussion] Accurate replication of Seal Twisting"
## 🐛 Bug report

Hello. I'd like to address several issues with the Custom Seal Twisting system that was added to vmangos. While I appreciate all the hard work done by the devs at attempting to recreate a true blizzlike experience, some things of course are more guess work than anything. Such is the case with Seal Twisting, the vanilla mechanic which was lost to the ages due to advancements in tec

[2021-02-20 00:14] ulfgebhardt commented on #1075
Hey @YellowRyder tho I have no clue if what you say is correct or not - you seem to have a very detailed knowledge of how spells currently work and how they should work. Furthermore you seem to have very decent knowledge of the inner workings of MaNGOS Spell system.

Can I ask you to visualize the state of the current system? Furthermore can I ask you to modify what you visualized so the newly mod

[2021-02-20 00:14] Velite12 commented on #1075
Only Soc is supposed to be twisted. Seal twisting explicitly existed because SoC was not benefitting from Vengeance procs from the white hit that proc'd it. This behavior was added in Patch 1.11. Hence they added an internal delay to the seal so that it could appropriately get the benefit. The system on the ptr did not exist in 2006 era vanilla, this is something completely new that blizzard is do

[2021-02-20 02:02] YellowRyder commented on #1075
I did a bit of a diagram and writeup, attached here. It explains the underlying deficiencies with the current seal twist system on vmangos. Please take the time to read it for better understanding of exactly why seal twisting occurred in vanilla.

And again, I'd like to take this opportunity to thank the devs in pserv communities for their hard work. I know it is not the job of vmangos core devs t

[2021-02-20 02:19] Velite12 commented on #1075
So ultimately the problem is that because VMangos does not have batching, you can't twist multiple ranks of SoC? So "Seal Stacking" as it's called on classic (multiple rank twisting), was in 2006 due to batching? If so then this behavior can be replicated here artificially, and what you propose could be done (maybe not the 100% soc bit, that one is definitely something for custom). However it woul

[2021-02-20 02:29] YellowRyder commented on #1075
Again, we're in a weird place where right now as it stands on vmangos, seal twisting is okay. You can twist SoC into SotC for a tangible increase of damage, though this is technically not vanilla-like. I don't want to complain about it because it would just mean I get nerfed. If the system were changed to only allow SoC ranks and SoC>SoJ twisting (as was vanilla), we would receive a larger boost t

[2021-02-20 02:38] Velite12 commented on #1075
I was mostly experimenting with various proc items/sets with soc+sor twisting, which I think is the best way to use the system currently if your goal is to maximize proc chances. And yes, it adds alot of depth and engaging gameplay for an otherwise passive class.

I guess the core of the question is, "What Defines the Vanilla Experience?". Is it accuracy or is it gameplay? What values should we ai

[2021-02-20 02:49] GrenderG commented on #1011
Can you tell us which client version are you using @Victorino76? This is really weird. Can any of you reproduce this issue?

[2021-02-20 02:52] ratkosrb commented on #1075
[code]

What did I just read? :rofl:
Nothing is calculated client side, only thing that is controlled by client is movement of your character. Everything else you do in the game is just a request to the server. The client just tells the server you want to begin auto attacking a given target, and then the server decides if that's allowed, when each attack goes off, what damage it did, and what proc

[2021-02-20 02:56] Velite12 commented on #1075
I have to agree with ratkosrb. Ultimately if you can't demonstrate that this behavior existed prior to the PTR seal stacking on classic then it wouldn't be possible to recreate this behavior since it can't be proven that it was "vanilla". It has to be 1.12.1 or prior behavior, and SoC twisting is the only concrete one that can be proven.

[2021-02-20 03:24] YellowRyder commented on #1075
Nothing is calculated client side, only thing that is controlled by client is movement of your character. Everything else you do in the game is just a request to the server. The client just tells the server you want to begin auto attacking a given target, and then the server decides if that's allowed, when each attack goes off, what damage it did, and what procced from each attack. The client has

[2021-02-20 03:53] ulfgebhardt commented on #1075
This discussion is very good in my opinion, but is turning into an argument bit by bit while I do not find evidence that different goals are pursued. Therefore I would ask all participating parties to work together and figure out if a change is needed and if so how to implement it. Lets keep it constructive <3 (Suggestion: everyone goes on hunt for evidence and post your findings here)

Furthermor

[2021-02-20 04:22] YellowRyder commented on #1075
I fully agree. I am not here to be combative towards anyone, but to simply share the findings I have come across. I am by no means a programmer, not an expert of mangos. But I have a familiar enough understanding of structuring and a fundamental grasp of how the processes function in a server/client state. Most of my experience comes from java based game, which often are handled entirely server si

[2021-02-20 09:05] jaywalker15262 commented on #1003
Any upcoming fix on this?

[2021-02-20 10:16] punker85 commented on #1075
https://github.com/the-hyjal-project/bugtracker/issues/333

My thoughts at the end of that should give a better picture of how it worked. Spell batching really has no benefit to this mechanic since these are self casted buffs. However, when u activate a seal, there is a possibility that the original server software just did not have proper logic to instantly cancel old seals as soon as the new sea

[2021-02-20 11:55] YellowRyder commented on #1075
This was my exact assumption. I believe that seal twisting has almost nothing to do with batching - and everything to do with the delay between client/server. The process of applying a seal is initialized by the client, reported to the server and then returned with the result; but somewhere in this process is the inherent delay that is resultant from latency, batching, and clock speeds of both cli

[2021-02-20 13:32] ulfgebhardt commented on #1003
I think it would be wise if you open your fix suggestion as a PR. This will give others the opportunity to improve it and make it less hacky (don't forget to enable maintainer edits on your fork) @jaywalker15262

[2021-02-21 02:37] GrenderG commented on #1073
Full list of affected spells can be checked [here](https://classic.wowhead.com/spell=18219/grim-reach), just in case we are missing any other one.

[2021-02-21 09:00] #1071 closed, assigned to nobody

[2021-02-21 09:46] #1029 closed, assigned to NickTyrer

[2021-02-21 15:31] ulfgebhardt commented on #1071
Hey @NickTyrer - are you closing this since you have inluded that missing data into your `Misc database fixes` https://github.com/vmangos/core/pull/1036 PR? Or because they are no longer applicable?

[2021-02-21 15:40] NickTyrer commented on #1071
@ulfgebhardt yes, fix is included in the PR mentioned. Forgot to update the issue.

[2021-02-21 15:50] ulfgebhardt commented on #1071
Its common practice to close an issue as soon as the fix is in the `master` - in our case in the `development` - branch. One normally links the issue(s) a PR fixes within that PR. Github will link those automatically and if used in combination with keywords like `closes`or `fixes` will also close the corresponding issue upon merge. @NickTyrer

[2021-02-21 15:51] ulfgebhardt commented on #1071
fixed in #1036

[2021-02-21 16:04] NickTyrer commented on #900
I have added the fix to my PR so it doesnt get lost in the comments.
fixed in #1036

[2021-02-21 17:24] alexkulya commented on #900
Оne feature, the gnome's shield is missing. I have not found information about ID.

[2021-02-21 17:29] NickTyrer commented on #900
@alexkulya thanks, will see if I can find out more.

[2021-02-22 03:06] T1ti opened #1082 "🐛 Missing rare creature : Trigore the Lasher"
## 🐛 Bug report
Trigore the Lasher deosn't have a spawn point

### Expected behavior
He should spawn in the pool next to the wailing caverns entrance portal
https://classic.wowhead.com/npc=3652/trigore-the-lasher#comments
https://www.wowhead.com/npc=3652/trigore-the-lasher
His respawn should be about 24 hours
![image](https://user-images.githubusercontent.com/40864460/108652060-7bd60380-74c3-11eb-

[2021-02-22 08:44] NickTyrer commented on #1082
closed in #1036

[2021-02-22 19:30] offl commented on #1069
SAI version https://github.com/TrinityCore/TrinityCore/issues/24847

[2021-02-22 21:07] T1ti opened #1084 "🐛 elite rare Tsu'Zee is missing an ability"
## 🐛 Bug report
Tsu'zee doesn't have Backstab
![image](https://user-images.githubusercontent.com/40864460/108769795-c4400080-7559-11eb-88c5-6d10f303d4f9.png)

### Expected behavior
Tsu'Zee should have backstab
https://www.wowhead.com/npc=11467/tsuzee#abilities;mode:normal
![image](https://user-images.githubusercontent.com/40864460/108769833-d5890d00-7559-11eb-9d0f-c292bc073b8a.png)

- I also notic

[2021-02-22 21:34] T1ti opened #1085 "🐛 dungeon rare Ghok Bashguud spawn location"
## 🐛 Bug report
- he only spawns at one location here
![image](https://user-images.githubusercontent.com/40864460/108772166-f3a43c80-755c-11eb-9e93-db47226daf3d.png)

### Expected behavior
I checked several videos from classic and he always spawns in a bed and is sleeping
https://youtu.be/8xHAL5CTUW4?t=272
https://youtu.be/Aliq7s7Yh2s?t=3
https://youtu.be/uHPd2n4d21M?t=485
https://www.youtube.com/

[2021-02-22 23:20] T1ti opened #1086 "🐛 Rare elite Veyzhak the Cannibal is missing abilities"
## 🐛 Bug report
[Veyzhak the cannibal](https://classic.wowhead.com/npc=5399/veyzhak-the-cannibal) currently doesn't have any ability

### Expected behavior
He should have an enrage and rend https://classic.wowhead.com/npc=5399/veyzhak-the-cannibal#abilities
![image](https://user-images.githubusercontent.com/40864460/108781708-9911dd00-756a-11eb-9ee3-58a6e85db19e.png)
![image](https://user-images.g

[2021-02-22 23:32] T1ti opened #1087 "🐛 rare creature Zekkis has wrong abilities"
## 🐛 Bug report
He currently has those two abilities
![image](https://user-images.githubusercontent.com/40864460/108783426-c2803800-756d-11eb-89ed-9e88dce0872a.png)
https://classic.wowhead.com/spell=7102/contagion-of-rot
and https://classic.wowhead.com/spell=10893/shadow-word-pain

### Expected behavior
![image](https://user-images.githubusercontent.com/40864460/108783652-2440a200-756e-11eb-844c-9

[2021-02-23 17:06] jaywalker15262 commented on #1073
I dunno how they do PR's for sql stuff. I'm not familiar with it.

[2021-02-23 17:20] NickTyrer commented on #1073
This is the guide I used when I started https://github.com/vmangos/wiki/wiki/Contribution-guide.

[2021-02-24 14:49] Pmt112 opened #1089 ""A Strange Fruit" Quest (Teldrassil) incorrect mobs spawn 🐝 [Bug]"
Hi,
A Strange Fruit quest in Teldrassil has you collect a fruit item from a tree with a purple glow and return it to the botanist NPC by the lake near Dolanaar. When you give him that fruit he will plant it in his garden to test it and this will spawn a few boglings which attack the player. The only problem is that these boglings are of a incorrect type currently as far as I know : they are big in

[2021-02-24 16:12] ratkosrb commented on #499
Liar, liar, pants on fire.
https://streamable.com/exrvc5

Mobs do aggro through M2 objects. Do not report things as bugs if you have not actually verified how it works on official servers!

[2021-02-27 10:50] nonameform opened #1092 "🐝 [Bug]"
## 🐝 Bug report - Quest
I am using pfQuest addon which is powered by VMaNGOS database and I have noticed that some quests in the database (and at classicdb.ch) have wrong IDs compared to the ones that were on Thottbot.

The quests in question are Beached Sea Creature/Beached Sea Turtle found at Darkshore. There are nine quests in total and only one quest actually has proper ID: 4722 ([classicdb](h

[2021-02-27 21:53] GrenderG commented on #1021
Confirmed.

[2021-02-28 13:03] Gamemechanicwow commented on #861
Problem found.

The issue is that the mmap generator thinks the area below the bridge is under terrain - and skips the area for vmap and mmap generation.
![image](https://user-images.githubusercontent.com/2223066/109419460-d8f31d00-79cd-11eb-973e-fd778a407852.png)

Temporary solution is to generate the maptile in quick mode, which disables filtering underground terrain.

`MoveMapGen.exe 1 --tile 3

[2021-03-01 03:09] cameronjohnson17 opened #1093 "🦂 [Bug] Dire Maul North - Mizzle the Crafty disappears after X amount of time"
## 🦂 Bug report - Dungeon

### Expected behavior

Once the king is dead, Cho'Rush the Observer will become friendly and break off his attack and a new ogre will appear named Mizzle the Crafty.  Mizzle the Crafty will stay permanently in the instance forever, until the dungeon is reset.

### Steps to reproduce

1. Start a fresh Dire Maul North dungeon instance
2. Kill King Gordok
3. Talk to Mizzle

[2021-03-03 00:15] #1019 closed, assigned to nobody

[2021-03-03 00:22] #863 closed, assigned to alexkulya

[2021-03-03 10:35] DSkywalk opened #1098 "🐛 [Bug] memleak after replace ACE threads"
## 🐛 Bug report
Since 03a2e108babd7d6049ae1da431e8fe8420d91476 has been accepted, my server consumes all available server memory. This inconsistency causes the server to crash due to lack of memory and other times it simply works but extremely slowly. I have reverted this commit and the server works as expected (see bellow).

![imagen](https://user-images.githubusercontent.com/560310/109791599-e81

[2021-03-03 11:26] ghost commented on #1098
@WobLight

[2021-03-03 15:44] WobLight commented on #1098
@DSkywalk does memory stabilize after a while or does it continue increasing indefinitely? Is the drop in the graph a manual shutdown?

[2021-03-03 16:16] DSkywalk commented on #1098
does memory stabilize after a while or does it continue increasing indefinitely?
* It increases until it either crashes or I restart the server.

The image I shared with the problem was a manual shutdown :+1:

It increases memory usage endlessly even when there are no players on the server and the server is completely empty.

I hope that helps, thanks @WobLight !

[2021-03-03 16:23] DSkywalk commented on #1098
![imagen](https://user-images.githubusercontent.com/560310/109836851-dfd79500-7c44-11eb-916c-0af5791bee68.png)
I share an general view of the memory consumption since I upgraded to that commit on 24 February. You can also see when the server crashes :bone:

[2021-03-03 16:43] WobLight commented on #1098
@DSkywalk Are you using stock configuration? Any relevant modifications?

[2021-03-03 16:48] DSkywalk commented on #1098
my only modification on debian-jessie is to allow compile with cmake 3.0

[code]

cmake
[code]

git log

[code]

That's why I tested on ubuntu 18.04 just in case, but it behaves exactly the same.

When I saw the problem I started testing backwards until I came across this commit which was causing the problem.

thanks!

[2021-03-03 16:51] WobLight commented on #1098
I meant the mangosd.conf config file, if you send diff over be sure to remove sensible data like database/network config, passwords...

[2021-03-03 17:04] DSkywalk commented on #1098
my config diffed: https://pastebin.com/udPGVNfS

[2021-03-04 09:32] WobLight commented on #1098
@DSkywalk please test pr

[2021-03-04 09:53] dcolmenero commented on #1098
sure, I suggest to use valgrind too :+1:

[code]

[2021-03-04 10:09] WobLight commented on #1098
I tried but there was some issue with unrecognized instructions or something. I think it's good now anyway.

[2021-03-04 11:03] DSkywalk commented on #1098
ok! test started :factory:

stats of mangosd with ACE threads (commit https://github.com/vmangos/core/commit/03a2e108babd7d6049ae1da431e8fe8420d91476 removed)
![imagen](https://user-images.githubusercontent.com/560310/109954193-55913e80-7ce1-11eb-8157-07f7e9a864be.png)
![imagen](https://user-images.githubusercontent.com/560310/109954205-5924c580-7ce1-11eb-80db-022108aadf43.png)

In a few hours I w

[2021-03-04 14:33] DSkywalk commented on #1098
It hasn't been running for many hours yet but from my point of view the problem seems to have been solved with #1099, at this time it should have consumed > 2GB and it is still at ~1GB.

![imagen](https://user-images.githubusercontent.com/560310/109979342-12de5f00-7cff-11eb-8016-4d255992b1d3.png)
![imagen](https://user-images.githubusercontent.com/560310/109979078-c8f57900-7cfe-11eb-80e6-3563343ff

[2021-03-05 06:56] #1098 closed, assigned to nobody

[2021-03-06 22:18] #1093 closed, assigned to nobody

[2021-03-07 09:25] NickTyrer opened #1102 "🐝 [Bug] Guardians of the Altar"
## 🐝 Bug report - Quest
You are no longer able to interact with the Altar of Elune (49182, 177404) at the end of the quest. This only happens on the second run of the quest because from what I can see this flag is not reset:

pGo->RemoveFlag(GAMEOBJECT_FLAGS, GO_FLAG_INTERACT_COND);

Also the NPC escortee seems to spin around a lot when you are in combat, here is a video for ref https://youtu.be/M

[2021-03-07 15:25] NickTyrer opened #1103 "🐞 [Bug] Doomguard's Rain of Fire"
## 🐞 Bug report - Spell
You cannot cast his rain of fire ability when enslaved. Also ritual of doom does not sacrifice a player.

### Expected behavior
He should behave as a normal pet and be able to cast rain of fire

Client Version: 1.12.1

Commit Hash: d8f60ba

[2021-03-07 18:48] ratkosrb commented on #1103
Can you provide a video from classic?

[2021-03-07 19:07] NickTyrer commented on #1103
Here is a video of him being healed and buffed https://youtu.be/M9XSMrKUrP0

[2021-03-08 02:01] Velite12 opened #1104 "Damage over time effects are not implemented correctly, however, 2006 and classic behavior differ."
I was going to open a bug report, but I would like to discuss my findings while researching how effectively a tank should gear for Ragnaros, though as I've found, this applies to any non-physical damage over time effect.

Currently the behavior for damage over time effects is not calculating resistance properly per damage ticks. While resistance does reduce the amount of damage taken, the values a

[2021-03-08 17:42] radiix opened #1105 "🔧 [Support] [Unix] vmap extractor in endless loop on first file until std::alloc error (box runs out of memory)"
## 🔧 Support Request
vmap extractor is in endless loop on the first file

 `Extracting WORLD\wmo\PvP\Buildings\CTF\CTFOrc_A.wmo`

It loops until it crashes in an std::alloc error. (Box simply runs out of memory. 32GB of Ram)

  Client Version:
  - Clean enUS - 1.12.1.5875

Commit Hash:
2c9ca496d985a35201da34fb2391b84f2eee6be8

OS Server: Debian 10 x64

### Steps to reproduce
1. Pull the core
2. Bu

[2021-03-09 00:16] #1105 closed, assigned to nobody

[2021-03-09 03:54] zealtla commented on #856
could you give those suggested fixes links to me,thanks a lot!

[2021-03-09 15:44] NickTyrer commented on #1103
@ratkosrb I cant find a video of him casting rain of fire, however all his other abilities work. Is there a reason why rain of fire should not work? also wowhead does mention the spell as one of his abilities https://classic.wowhead.com/guides/wow-classic-warlock-demon-pets

[2021-03-09 15:51] zealtla opened #1111 "Server freez,Can someone help me!"
**Current behavior**:
server was freezed when Vmangos running for several hours(about 6-8 hours),I don't know why......
os:
**Expected behavior**:

**Steps to reproduce**:

1. I don't know how to reproduce the issues.
2.
3.

**Client version**:
1.12.3(6141)
**Commit hash**:

![宕机处](https://user-images.githubusercontent.com/16712692/110497242-3d7e4c80-8131-11eb-92f8-60b9bcd18edf.jpg)
![crashdump](h

[2021-03-09 22:12] Gamemechanicwow commented on #336
Works fine with the new mmaps.

[2021-03-09 22:20] Gamemechanicwow commented on #1025
Is this still a new problem with new mmaps? I couldn't find any mobs that would get stuck.

If it still is. Could you supply a GUID or coords?

[2021-03-09 22:54] Gamemechanicwow commented on #439
Entry 5618 - GUID 23555

[2021-03-09 23:00] Gamemechanicwow commented on #1025
Nevermind. Found one. This one is still stuck: https://github.com/vmangos/core/issues/439

[2021-03-09 23:04] Gamemechanicwow commented on #439
The issue is that the mmap generator thinks the area below the tent is under terrain - and skips the area for vmap and mmap generation.

Temporary solution is to generate the maptile in quick mode, which disables filtering underground terrain.

`MoveMapGen.exe 1 --tile 40,45 --quick`

[2021-03-10 01:00] #336 closed, assigned to ratkosrb

[2021-03-10 01:20] Gamemechanicwow commented on #324
It works better with the current mmaps. He still differs a little to the left in the entrance due to a hole in the mmap.

I think "bigbaseunit" should be the default option. It solves the problem here and in westbrook garrison.

[2021-03-10 02:38] radiix opened #1112 "🐛 [Bug] [Unix] Pathfinding of NPCs etc. not working. Units stuck, no aggroing of mobs. [Can be closed]"
NPCs, mobs etc. stuck. No movement at all. No aggroing. Seems like the pathfinding is broken.
Using latest vmaps/mmaps after unix fix. I tried to disable them all, but still the same issue.
Using completely clean mangosd.conf.

### Expected behavior
Run upto mob and get aggroed.

### Steps to reproduce

1. Build latest commit
2. run up to mobs
3. Profit

### Version & Environment

  Client Version

[2021-03-10 03:25] ratkosrb commented on #1112
I cannot reproduce the issue.

[2021-03-10 08:19] NickTyrer opened #1113 "[EVENT] A Game of Towers - EPL PvP - Missing Features"
Many features described here are missing https://wow.gamepedia.com/A_Game_of_Towers for example the flight master to travel to the towers.

Client Version: 1.12.1

Commit Hash:  2ecd297

[2021-03-10 10:13] radiix commented on #1112
Issue can be closed. The error was on my end. I screwed up something in mangosd.conf. Used a clean mangosd.conf and it works again.

[2021-03-10 10:16] #1112 closed, assigned to nobody

[2021-03-10 10:46] #1111 closed, assigned to nobody

[2021-03-11 03:00] zealtla opened #1114 "Vmango freeze,how make freeze dump?"
**Current behavior**:
Vmangos server freeze and no crash
**Expected behavior**:
server should crash
**Steps to reproduce**:

1. I don't know how to reproduce these issues,it was happened sometimes
2. sometimes server freeze even when online players stay at city.
3.

**Client version**:
1.12.1(5875) /1.12.3(6141)
**Commit hash**:
d8138a39cca4f3d86fc44a77a7f9d8b950f40a55

**Operating system**:
windo

[2021-03-11 04:29] zealtla commented on #1114
windows dump info
![crashdump](https://user-images.githubusercontent.com/16712692/110735752-5a1ba100-8265-11eb-9050-3baf2e6f4ece.png)

[2021-03-11 12:47] ratkosrb commented on #754
Committed the chat type change.
https://github.com/vmangos/core/commit/59f6a1435e68ffa6aac6a320f63818db0fb9b716

[2021-03-12 11:53] #830 closed, assigned to schell244

[2021-03-13 00:16] T1ti opened #1116 "🐜 Load older set bonuses with older patch"
## 🐜 Bug report - Progression
The items stats change if you select the older patches, BUT the set effects don't change

### Expected behavior
We need a new table in the database to change the tier set spell based on which patch is selected. Most sets got changed in patch 1.4
Example of an older set bonus :
https://web.archive.org/web/20050207013827/http://wow.allakhazam.com/db/itemset.html?setid=2

[2021-03-13 01:53] ratkosrb commented on #1116
So you want to have a mismatch between what you see on the screen, and what the bonuses actually are? You know the set bonuses are read from ItemSet.dbc right? If people are playing using the 1.12 client, but the server is using the 1.6 dbc file, **everyone will still see the 1.12 set bonuses** listed on the item, and you will have a mismatch between what the item tooltip says, and what bonuses yo

[2021-03-13 01:53] #1116 closed, assigned to nobody

[2021-03-13 02:14] T1ti commented on #1116
I might be wrong but doesn't the DBC just define which spell ID appears on the items tooltip ? Just replace which spell u choose the set to use server side
If that spell ID is still there on 1.12 then it should work ?

[2021-03-13 02:34] ratkosrb commented on #1116
And how will you make the old spell ids assigned to the item set appear on the tooltip in the 1.12 client?

Do you see item set spells being send individually here?
https://github.com/vmangos/core/blob/development/src/game/Handlers/ItemHandler.cpp#L296

No you don't, the server sends just the Item Set Id, and the client will load and display spells for that item set from ItemSet.dbc. That is the w

[2021-03-13 09:06] #1082 closed, assigned to nobody

[2021-03-13 11:08] NickTyrer commented on #996
Closed in https://github.com/vmangos/core/pull/1097

[2021-03-13 11:12] NickTyrer commented on #1069
closed in https://github.com/vmangos/core/pull/1101

[2021-03-13 16:42] NickTyrer commented on #1073
closed here https://github.com/vmangos/core/pull/1097

[2021-03-13 17:34] Daribon commented on #1073
Can confirm that grim reach should affect drain soul on classic.

[2021-03-13 18:24] Daribon commented on #1103
I tested in classic after summoning a Doomguard from Curse of Doom.
Can confirm, Doomguards are able to cast Rain of Fire in classic.
![WowClassicT_pHqouI1PNa](https://user-images.githubusercontent.com/6137576/111040076-bf23f200-8431-11eb-9c89-5d2b36ff0de5.png)
![WowClassicT_qJVL2g3eIL](https://user-images.githubusercontent.com/6137576/111040078-c3e8a600-8431-11eb-8336-b05e9bf739e8.png)

[2021-03-15 07:22] #1114 closed, assigned to nobody

[2021-03-17 01:14] zealtla opened #1120 "🐞 [Bug]why my custom spell auto cast in dungeons?"
## 🐞 Bug report - Spell

I use gm spell (Permanent Area Damage 50k ID: 30879) made a custom spell,just copy this gm spell whith a new spell id,and it would auto cast in dungeons sometimes,even when mounting.
### Expected behavior

it should not auto cast only players cast it.
### Steps to reproduce

1.copy gm spell 30879 with a new spell id
2.it would auto cast in dungeons
3.
4. ...
5. Profit

###

[2021-03-17 14:42] NickTyrer commented on #1102
This issue seems related https://github.com/the-hyjal-project/bugtracker/issues/416

[2021-03-17 14:49] ratkosrb commented on #1102
It is not related to another script. I plan on re-scripting this quest in DB.

[2021-03-17 15:54] #1103 closed, assigned to nobody

[2021-03-17 23:42] blipblopium commented on #849
Bumping this.

[2021-03-17 23:44] blipblopium opened #1122 "🐞 [Bug] Spell visuals have wrong target"
## 🐞 Bug report - Spell
Some spell visuals are appearing in the wrong target, 2 come to mind:
- ~~Soulstone effect happens in the warlock, it should happen in the soulstoned player.~~
- Eviscerate red glow happens in the rogue instead of the enemy.

### Expected behavior
Visuals should happen in the target, not in the caster.

[2021-03-18 03:22] #1120 closed, assigned to nobody

[2021-03-18 07:09] Thorsten42 opened #1123 "🐛 [Bug] segfault movemapgen"
## 🐛 Bug report

Hi,
I am using vmangos on ubuntu 20.04 and noticed that MoveMapGen crashes on exist. If compiled with tbb it crashes with

         ➜ ./MoveMapGen 0 --tile 34,46
        Discovering maps... found 65.
        Discovering tiles... found 2429.

        [Map 000] Creating navMesh [maxTiles=687]
        [Map 000] Building tile [34,46] (01 / 01)
        Movemap build is complete!g to fi

[2021-03-18 07:47] NickTyrer commented on #1122
#453

[2021-03-18 09:45] Thorsten42 commented on #1123
This issue was introduced with 03a2e10

[2021-03-18 14:00] blipblopium commented on #1122
I see, then only the issue with Eviscerate (and maybe other spells) remains. It should look like this:
![image](https://user-images.githubusercontent.com/65507704/111638195-64f0ab80-87fa-11eb-9c66-c6016132eb48.png)
As you can see, the yellow/orange glow should only appear in the target, not in the rogue.

[2021-03-18 15:24] Kraballa opened #1125 "🐛 [Bug] Mobs that get summoned by other mobs ignore mangosd.conf health/damage rates"
## 🐛 Bug report

When an enemy spawns their health and damage values get modified by values such as `Rate.Creature.Normal.Damage` in mangosd.conf

However it seems like if a creature summons another creature, that doesn't get applied so they spawn with normal values. I can't confirm if this happens across the board, I only know that it happens in dungeons other than Deadmines.

### Expected behavi

[2021-03-19 12:02] #1123 closed, assigned to nobody

[2021-03-20 08:43] NickTyrer commented on #1122
The Mind Vision animation should appear on both caster and target. In vmangos it only appears on the target.
![Untitled](https://user-images.githubusercontent.com/22723839/111864338-2c66e400-8958-11eb-8ee1-cb0ec38847c4.png)

[2021-03-20 14:13] zealtla opened #1130 "🦂 [Bug]Master loot bug"
## 🦂 Bug report - Dungeon

The group leader can use master loot send the boss loot items to a new party member even when this new party member enter dungeon after that boss has been killed. (sorry for my bad english!!)
### Expected behavior

### Steps to reproduce

1.player A solo the dungeon;
2.player A invite a new player to the party and player A is group leader;
3.player A kills another boss i

[2021-03-20 14:29] NickTyrer commented on #889
cmangos has made a few corrections for this spell, see:
https://github.com/cmangos/mangos-classic/commit/23781edca640baf89f5e387bf47f5cad5660b24d
https://github.com/cmangos/mangos-classic/commit/e1a00a43a9f8ae1deadda1f986b92aba3a8e66e3
https://github.com/cmangos/mangos-classic/commit/9e2acb57fae07cdc779c8c554169e46a1e39a83d

[2021-03-21 16:03] NickTyrer commented on #1092
The quest order are correct in the DB in accordance with https://classic.wowhead.com/quest=3524/washed-ashore

[2021-03-21 18:39] nonameform commented on #1092
Sorry, I have used completely wrong wording and I have no idea how that happened. Instead of ID I meant to write coordinates.

So what I actually meant: quests in VMaNGOS (from what I can tell by looking at classicdb.ch) have wrong coordinates. Thottbot has right coordinates and classic.wowhead.com has the right coordinates as well. The only quest that has proper coordinates is 4722 and the other

[2021-03-21 19:24] NickTyrer commented on #1092
They all seem correct to me. For example this quest https://classic.wowhead.com/quest=4723/beached-sea-creature if you go to the coords and get the gameobject using '.gobject near' then check the database using 'SELECT * FROM gameobject_questrelation WHERE id = 175233' you will see that it is linked to the correct quest, as are all the rest.

[2021-03-25 07:33] wthslw001 opened #1134 "🐛 [Bug]Error: Assertion in Movement::Spline<int>::initLengths failed: prev_length <= new_length"
D:\Git\WoW\Vmangos\Lightshope_Croe\src\game\Movement\spline\spline.h:195: Error: Assertion in Movement::Spline<int>::initLengths failed: prev_length <= new_length
[0x3ac1f4]
[0x3b311e]
[0x3b2819]
[0x225549]
[0x2108f0]
[0x264678]
[0x285c22]
[0x1e0435]
[0x1df37f]
[0x1dee9b]
[0x1dda6b]
[0x4e4200]
[0x4e4319]
[0x4e2e21]
o__realloc_base()+0x60 [0x1cd70]
BaseThreadInitThunk()+0x14 [0x8364]

[2021-03-25 07:37] #1134 closed, assigned to nobody

[2021-03-27 02:23] Gamemechanicwow commented on #1122
seems fine to me.
![image](https://user-images.githubusercontent.com/2223066/112707436-b6a8ce00-8eab-11eb-8750-ba8cffba58a0.png)

[2021-03-27 04:29] Gamemechanicwow commented on #1064
I do believe it should trigger GCD and is working as intended.

https://youtu.be/sALZHCmAMVo?t=1423
https://youtu.be/L0OOMntF01Y?t=173
https://youtu.be/AcdjrFuleMo?t=300
https://youtu.be/LbnTgXYJj7Q?t=491

[2021-03-28 00:28] faralynn opened #1136 "🐞 [Bug] Druid's Swiftmend ability should not be factoring in Improved Rejuvenation Talents"
## 🐞 Bug report - Spell

The Druid healing spell Rejuvenation is factoring in Improved Rejuvenation talents (if you have them) for the final healing sum of Swiftmend. This was not a thing until patch 2.0.1.

### Expected behavior

Only +healing power from gear, the rank of the Rejuvenation spell and Idol of Rejuvenation should be effecting
the healing total of Swiftmend.

### Steps to reproduce
Ca

[2021-03-29 23:00] GrenderG opened #1138 "🐛 [Bug] NPC Movement and player interaction"
## 🐛 Bug report
When you interact with a patrolling NPC and stop talking, it will only wait for about 30 seconds before continuing the movement. When you interact with a wandering NPC, it won't stop moving even if the window is still open.

### Expected behavior
(Tested in Classic) Both patrolling and wandering NPCs should stop while you are interacting with them, and remain stopped for 3 exact mi

[2021-03-30 03:33] ratkosrb commented on #1138
https://github.com/vmangos/core/commit/628ca5e81f0925fc0a10888778498a8404373c6c

[2021-03-30 03:33] #1138 closed, assigned to nobody

[2021-03-30 07:27] #709 closed, assigned to nobody

[2021-03-31 10:42] gamelgs opened #1139 "🐛 [Bug]MC Garr can respawn infinitely"
## 🐛 Bug report

### Expected behavior

MC Garr can respawn infinitely
### Steps to reproduce

1.Kill Garr without killing Firestorm
2.Players let Firestorm kill, and Garr respawn at the same time
3.Garr can respawn infinitely
4.Repeat the above steps to get loot infinitely

### Version & Environment

Client Version: 1.12.1.5875

Commit Hash:  7ae9da2d9e07adf48cabeb341921ba9442c033b6

OS Client: W

[2021-04-01 19:06] NickTyrer opened #1141 "🐞 [Bug] Force Target - Bow"
The spell should force the target to bow. Currently it does nothing.

[2021-04-01 19:36] GrenderG commented on #1141
Where is it used?

[2021-04-01 19:49] NickTyrer commented on #1141
I am using it in a quest end script https://github.com/vmangos/core/pull/1140

[2021-04-01 19:50] NickTyrer commented on #1141
It should work like the force salute spell
.cast 6245

[2021-04-01 21:00] GrenderG commented on #1141
https://github.com/vmangos/core/pull/1143

[2021-04-01 22:18] #1141 closed, assigned to nobody

[2021-04-01 23:51] GrenderG opened #1144 "🐛 [Bug] Drywallow Vicejaw missing Skinning"
## 🐛 Bug report
Drywallow Vicejaw (4342) is missing `skinning_loot_id`.

### Expected behavior
The mob should have `skinning_loot_id` https://classic.wowhead.com/npc=4342/drywallow-vicejaw#skinning.

[2021-04-02 15:54] #560 closed, assigned to tonymmm1

[2021-04-03 19:39] rosen40 opened #1148 "🚀 [Feature] Batch food/water"
🚀 Feature

Seeing as recently batching was implemented for most spells, i'd like to report that food and water should be batched too and it makes a big difference, which is why i am requesting it.

On Classic food, water and regular mana/health ticks all are batched and ALL happen together every 2 seconds ALWAYS. It doesn't matter if you just started eating or drinking 1ms before the next batch, o

[2021-04-03 19:45] GrenderG commented on #1148
Was this working like that in original Vanilla? Classic should only be used as a reference when we lack Vanilla data.

[2021-04-03 19:48] rosen40 commented on #1148
I dont think its likely to find a video of a player "abusing" this back then, monitoring your health ticks and sitting to eat just for half a second or less just to get a tick and continue running.

EDIT: But i guess some info can be inferred just by looking at health ticks on vanilla videos. If they happen together with regular ticks.

[2021-04-03 19:59] rosen40 commented on #1148
It seems like its the same as Classic. +> https://youtu.be/SwLjJH8LXfc?list=PL49Ga_-r7iKkxrbckm9CkUhWzxqrOnw-n&t=2616

 Joana starts receiving bonus health on the very next health regen tick after starting to eat and the ticks happen together, there is only 1 tick every 2 seconds. On vmangos you would have 2 separate unsynchronized ticks and you end up waiting very long sometimes before receiving

[2021-04-04 04:08] #1148 closed, assigned to nobody

[2021-04-05 22:11] GrenderG opened #1152 "🐝 [Bug] The Howling Vale (1022) and The Scythe of Elune quest (1043), wrong NPC position"
## 🐝 Bug report - Quest
~~Velinde Starsong (3946) is spawned in the wrong position during The Howling Vale (1022) quest.~~ https://github.com/vmangos/core/commit/5d9518c1e99bde6ba5b8fa6cc68fb77758f896b7

**EDIT: Her position during The Scythe of Elune quest (1043) is also wrong.**

### Expected behavior
~~She should be spawned on top of the book:~~
~~https://user-images.githubusercontent.com/86543

[2021-04-07 23:04] ratkosrb commented on #1152
I fixed the first part of the issue. I have not done the second quest yet.

[2021-04-08 07:29] #1092 closed, assigned to nobody

[2021-04-08 07:29] #1073 closed, assigned to nobody

[2021-04-08 07:30] #1069 closed, assigned to nobody

[2021-04-08 07:30] NickTyrer commented on #1027
closed here https://github.com/vmangos/core/commit/0af0ce7616af4c1253b1686a79c88d80db96dfaa

[2021-04-08 07:30] #1027 closed, assigned to nobody

[2021-04-08 07:31] #1000 closed, assigned to nobody

[2021-04-08 07:32] #996 closed, assigned to nobody

[2021-04-08 07:32] #963 closed, assigned to nobody

[2021-04-08 07:33] #900 closed, assigned to alexkulya

[2021-04-08 07:41] NickTyrer commented on #658
@alexkulya Do you mind if I made a PR for this? Forgot it existed in here.

[2021-04-08 09:41] Kittnz commented on #658
i sniffed this event, it should be in the parses

[2021-04-08 11:00] alexkulya commented on #658
@NickTyrer Of course I do not mind. I don't have much free time and would be glad if someone finishes scripting this event.

[2021-04-08 14:22] #658 closed, assigned to alexkulya

[2021-04-08 15:08] GrenderG opened #1156 "🐛 [Bug] Missing Brill Zeppelin bat mini-event"
## 🐛 Bug report
There's a mini event happening on top of the roof of Brill's Zeppelin tower involving "[Belfy Bat](https://classic.wowhead.com/npc=10716/)" NPCs that's missing.

Source: https://classic.wowhead.com/npc=10716/belfry-bat#comments
![image](https://user-images.githubusercontent.com/8654362/114050801-df0dd080-988c-11eb-8ee2-7c0cbca3ec25.png)
![image](https://user-images.githubuserconten

[2021-04-08 15:48] Kittnz commented on #1156
Ill sniff it

[2021-04-08 17:55] Kittnz commented on #1156
Sniffed it, so they just spawn and a little bit later just despawn. Never noticed this event ^^

[2021-04-08 18:29] GrenderG commented on #1156
Thanks a lot! I don't think I ever noticed it either even after so many years!

[2021-04-10 17:49] gamelgs opened #1158 "🦂 [Bug]Zul'Gurub trigger will attack players~~~"
## 🦂 Bug report - Dungeon

### Expected behavior

Zul'Gurub trigger will attack players~~~
### Steps to reproduce

creature_template  ID 14758   Zul'Gurub trigger

After killing high priestess arlokk, you will be attacked by unknown targets all the time~
Can't get out of the fight~

### Version & Environment

Client Version:   - 1.12.1.5875

Commit Hash:  a11a0a251607fbdc9edd0f9b0004e190ebb1f3f7

[2021-04-11 02:14] T1ti opened #1159 "🐛 Various missing Molten Core boss mechanics"
## 🐛 Bug report
- Golemagg :
When he becomes enraged at 10% health, he should have another minor effect :
![image](https://user-images.githubusercontent.com/40864460/114289661-1392af80-9a7a-11eb-9bec-fac823eee9b2.png)
https://classic.wowhead.com/spell=20544/attract-rager
- Golemagg is also missing the passive aura "double attacks", found it from sniffs and also confirmed on video :
https://classic

[2021-04-11 09:52] #1158 closed, assigned to nobody

[2021-04-11 10:23] #1125 closed, assigned to nobody

[2021-04-12 00:55] GrenderG opened #1162 "🐝 [Bug] Attack on the Tower (696)"
## 🐝 Bug report - Quest
When you use the Agate in the Pedestal outside of the tower, nothing happens. Seems like Water Elementals should spawn and aid you.

https://classic.wowhead.com/quest=696/attack-on-the-tower#comments:id=2939808

When you open each chest, several ogres spawn, this works fine but I'd recheck the positions to see if they are accurate.

[2021-04-13 17:45] ndnd123 opened #1164 "🐛 [Bug] VMANGOS windows compiler instructions outdated / do not work."
## 🐛 Bug report
So basically when you try to build using visual studio no matter what version of the recommended ACE you use you always get the same error message CL.exe cannot be found.

### Expected behavior
I'm assuming you shouldn't get CL.exe cannot be found errors.

### Steps to reproduce
Try to build the ACE wrappers with visual studio as the guide suggests on a windows 10 PC using the down

[2021-04-17 09:59] schell244 commented on #469
Issue is fixed with reduction of threat radius https://github.com/vmangos/core/commit/8d0af8df80f0f15abeabd6f14c8759931eaa740a

[2021-04-17 09:59] #469 closed, assigned to brotalnia

[2021-04-17 10:15] schell244 opened #1168 "🐛 [Bug] Auto Shot (Hunter) sometimes produces error in logs"
## 🐛 Bug report

`ERROR:Player::AddCooldown> Spell(75) try to add and already existing cooldown?`

### Expected behavior
no error

### Steps to reproduce
1. create a hunter and use auto shot (does not always occur, currently I have no further imformation)
2. check Server.log

Client Version:
  - 1.12.1.5875

Commit Hash:
45a71b7

OS Client:  Win 10
OS Server:  Win 10

[2021-04-17 10:49] schell244 opened #1169 "🐛 [Bug] flying taxi path error: Ratchet ->Astranaa"
## 🐛 Bug report

[code]

<img width="193" alt="path" src="https://user-images.githubusercontent.com/9536270/115110335-3988ea00-9f7b-11eb-997b-67c925b12a9e.PNG">

### Expected behavior
I don't know how it works on classic - flypath is not available or direct route is missing?

### Steps to reproduce
1. Discover taxi points at: Theramore, Ratchet, Auberdine, Astranaa
2. Start a route from Ratchet to

[2021-04-17 13:09] GrenderG opened #1170 "🐛 [Bug] Missing Southshore Crier event."
## 🐛 Bug report
Missing https://wowpedia.fandom.com/wiki/Southshore_Crier event

[2021-04-17 14:15] NickTyrer commented on #1170
This is a duplicate issue with #599

[2021-04-17 16:24] #1170 closed, assigned to nobody

[2021-04-23 13:33] GrenderG opened #1173 "🐝 [Bug] The Curse of the Tides quest"
## 🐝 Bug report - Quest

- Gazban seems to be spawning in the wrong location.
- Gazban seems to be using the wrong faction.
- You can continuously click the Altar making it possible to spawn infinite copies of Gazban.

### Expected behavior
https://www.youtube.com/watch?v=SDIoxfPCaGw

[2021-04-25 17:38] ellingtonsantos opened #1174 "🐛 [Bug] Broadcast_text when trigged by mobs always use female gender"
## 🐛 Bug report

When a mob says something, text always uses female gender regarding target gender.

### Expected behavior

Text should use target gender.

### Steps to reproduce

To simplify tests, I set up a imp custom text:
1. UPDATE `broadcast_text` SET `male_text`='Test $Gmale:female;' WHERE `entry`=753;
2. send imp attack with a male char
3. verify text in screenshot
![screenshot](https://us

[2021-04-25 18:30] #1174 closed, assigned to nobody

[2021-05-02 12:21] schell244 opened #1181 "🐛 [Bug] Battlebots are doing a reverse graveyard jump"
## 🐛 Bug report
Warsong battlebots climb up the graveyard wall once one of them carries a flag (both horde and alliance bots do that)

<img width="295" alt="battlebots" src="https://user-images.githubusercontent.com/9536270/116812952-abebf380-ab51-11eb-81e6-f4caba53ffcd.PNG">

### Expected behavior
battlebots should not climb the graveyard wall

### Steps to reproduce
1. run warsong with battlebot

[2021-05-03 01:18] magicstone4 commented on #239
Any update on this? I loooooooooooooooove that dance.

[2021-05-03 01:25] magicstone4 commented on #988
You also died when the 6 minute timer ran out. If I remember correctly that was not changed until TBC.

[2021-05-03 01:27] magicstone4 commented on #902
Tauren Druids (not sure if Night Elves too) also have wrong stats, they start with absolutely no mana compared to Classic and Vanilla.

[2021-05-04 14:13] GrenderG opened #1182 "🐛 [Bug] Missing dialog for Itharius NPC"
## 🐛 Bug report
The dialog of Itharius changes depending if you have https://classic.wowhead.com/item=10455/ in your bags or not. At this moment in vMaNGOS the dialog that should appear ONLY when you have the item, is always appearing even if you don't have it.

### Expected behavior
Missing dialog when you DO NOT have the item (taken from Classic):

![image](https://user-images.githubusercontent.

[2021-05-04 14:27] GrenderG opened #1183 "🐛 [Bug] Missing waypoints in Swamp of Sorrows"
- Missing waypoints for Noboru the Cudgel, If I'm not wrong, two NPCs should also patrol with him.
- Missing waypoints for Stonard Explorer with guid 38858, I think there's a missing spawn of another Explorer near this one (could also be another that's missing waypoints too).

[2021-05-04 14:32] GrenderG opened #1184 "🐛 [Bug] Crushridge Warmonger enraging when it shouldn't"
## 🐛 Bug report
They are being enraged even if no "friend" dies near them.

![imagen](https://user-images.githubusercontent.com/8654362/117019908-2bb2c300-acf6-11eb-9215-3b91ae58b41f.png)

### Expected behavior
They should only enrage if a "friend" dies near them.
https://youtu.be/_XL5EXexZR4?t=4464

[2021-05-05 00:07] GrenderG commented on #231
Checked this again after almost 2 years and I was able to reproduce it.
![image](https://user-images.githubusercontent.com/8654362/117084093-8d028280-ad46-11eb-8b04-aa311c878c43.png)
I have been here waiting for more than 5 minutes and she doesn't respawn, in fact I failed the quest due to the timer running out.

EDIT: I tried the quest again and this time it worked, but definitely there's somethi

[2021-05-05 13:08] NickTyrer commented on #1183
Some relevant data is here https://github.com/cmangos/classic-db/commit/4b9651b6d282032608292f8cffbf2ba4d3cf5bb1

[2021-05-07 00:58] GrenderG opened #1188 "🦂 [Bug] Discs of Norgannon event incomplete"
## 🦂 Bug report - Dungeon
- Lore Keeper of Norgannon NPC is missing text (broadcast_text with entry 3172) when you speak with him.
![image](https://user-images.githubusercontent.com/8654362/117382540-07fea100-aedf-11eb-8a29-d5f28795a258.png)
- When you speak with him, holograms of both a Dwarf (gobject 170353) and a Trogg (gobject 142488) should appear at some point, they aren't appearing (they ne

[2021-05-14 23:04] ratkosrb commented on #1075
Being able to twist 2 ranks of SoC was removed before 1.13.7 went live, so confirmed this was unintended. And you can only twist with SoC and another seal. However twisting things with SoC did not work at any point in Classic while batching existed, so there's still no evidence of it being a thing in Vanilla. We now have a more accurate recreation of spell batching in the core, and it allows for a

[2021-05-14 23:04] #1075 closed, assigned to nobody

[2021-05-15 10:05] NickTyrer commented on #1183
Noboru the Cudgel WP's added here #1197

[2021-05-15 14:21] schell244 opened #1198 "🐛 [Bug] some chest spawns and pooling are missing"
## 🐛 Bug report
Most chests in VMangos are static spawns, also some spawn locations seem to be missing.
CMangos has completely reworked the chest spawns and pools, maybe those changes can be ported:

Open world:
https://github.com/cmangos/classic-db/commit/2230752558dba612cfaeef72cb0f4f202114f7d7
https://github.com/cmangos/classic-db/commit/38e11c3b1de468a75efb988775967ef05e1b0298
https://github.c

[2021-05-15 14:37] #1144 closed, assigned to nobody

[2021-05-16 06:32] Marcelo20XX opened #1199 "🐛 [Bug] Incorrect orientation of mobs during stun effects or when they die"
## 🐛 Bug report
Mobs face a random orientation when they are stunned or killed. This bug is an ancient one and occurs in any mangos based core too.

### Expected behavior
mobs should have the same orientation value previous to the stun effect and while displaying the death animation too.

### Steps to reproduce
Engage in combat with any mob and use a stun spell or kill the mob to trigger the bug

[2021-05-16 08:13] ratkosrb commented on #1199
This is blizzlike.
https://eu.forums.blizzard.com/en/wow/t/rogue-mobs-turning-when-gouged/84071/13
https://us.forums.blizzard.com/en/wow/t/weird-rogue-thing/305852/15

[2021-05-16 08:13] #1199 closed, assigned to nobody

[2021-05-16 09:07] ratkosrb commented on #1139
Fixed here - https://github.com/vmangos/core/commit/2642fe0341ea269a1d5de4f7cf50cab02bc0865d

[2021-05-16 09:07] #1139 closed, assigned to nobody

[2021-05-16 09:27] NickTyrer opened #1200 "🐛 [Bug] Gnomish Mind Control Cap"
##` 🐛 Bug report

1. The spell breaks after less than 20 seconds, it should last the duration.
2. The controlled should auto follow you, currently it just stays as default.
3. If it backfires you should become mind controlled.
4. The controlled should use some abilities for example if you mind control an elemental shaman they will auto pop Elemental Mastery. Also healer classes will heal the contr

[2021-05-19 09:13] #1188 closed, assigned to nobody

[2021-05-21 06:57] Marcelo20XX opened #1203 "🐛 [Bug] Player stealth detection range for creatures"
Players cant detect stealthed mobs further than 5 yards making some quests very difficult to complete

### Expected behavior
In Classic WoW I could detect stealthed mobs at somewhere between 15 or 20 yards of distance even if they were 3 levels above mine without any detect ability

### Steps to reproduce
Go near a stealthed mob like Shadowmaw Panthers or whatever mob that has a 22766 aura in crea

[2021-05-24 14:26] #1102 closed, assigned to nobody

[2021-05-24 19:48] gamelgs opened #1205 "🐛 [Bug]about partybot clone~~~"
## 🐛 Bug report

Some equipment and buff can not be cloned.

### Version & Environment

Client Version: 1.12.1.5875

Commit Hash:  76d60488e0011f26d1c9b91968340e01b084ad51

OS Client: Win 10
OS Server: Win 10

### Crashlog

- None

[2021-05-24 20:15] ratkosrb commented on #1205
Provide more information.

[2021-05-24 21:31] gamelgs commented on #1205
Equipment with reputation conditions cannot be cloned.
Buff seems that none of them can be cloned.

[2021-05-24 21:43] gamelgs commented on #1205
ITEM
ID:19885 Jin'do's Evil Eye
ID:19382 Pure Elementium Band
Neither of these can be cloned

[2021-05-24 21:52] ratkosrb commented on #1205
![Untitled](https://user-images.githubusercontent.com/35845488/119411663-6f945900-bcf3-11eb-9cba-150c56d2d201.jpg)

I can clone them without an issue.

[2021-05-24 22:00] ratkosrb commented on #1205
Fixed the reputation requirement problem here: https://github.com/vmangos/core/commit/8ccba9d4f087af0dd5be20754120dc2f75f10715

The fact buffs are not copied is not a bug. There was never any intention to copy buffs.

[2021-05-24 22:00] #1205 closed, assigned to nobody

[2021-05-29 21:15] #1156 closed, assigned to nobody

[2021-05-30 12:45] NickTyrer commented on #915
closed in #1197

[2021-05-30 12:45] #915 closed, assigned to nobody

[2021-05-30 18:11] NickTyrer opened #1207 "🐞 [Bug] Mind Flay"
## 🐞 Bug report - Spell
Mind Flay should not be dispellable

### Version & Environment
Client Version: 1.12.1
Commit Hash:  2368e04

[2021-05-31 20:33] NickTyrer opened #1208 "🐛 [Bug] Battleground Spirit Guide"
## 🐛 Bug report
The spirit guide should cast a spell when reviving players

vmangos: https://youtu.be/uM3OPjgLldI

classic: https://youtu.be/I4opumbGyic

Client Version: 1.12.1

Commit Hash:  2368e04

[2021-06-03 10:54] Oroxzy commented on #904
I did it!

[2021-06-03 10:55] #904 closed, assigned to Kittnz

[2021-06-04 10:57] sweetloo32 opened #1211 "🐝 [Bug] Repeatable Mark of Honor quests not granting Experience each time."
## 🐝 Bug report - Quest
Currently the repeatable quests where you turn in marks of honor pre 60 do not give XP after your first and second turn in.(Which is when it first becomes repeatable). This should NOT be the case.

### Expected behavior
The quests where you turn in marks of honor pre 60 should give EXP the first turn in then for each and every turn in after will also give experience althoug

[2021-06-04 19:07] Daribon commented on #1211
I did it in classic when I was leveling up one of my alts, so can confirm at least from classic that Mark of Honor gave XP on repeated turn in.

[2021-06-05 08:14] schell244 opened #1212 "🐛 [Bug] Lighthouse sound event"
## 🐛 Bug report
When your character is close to Lighthouse in Classic, every two minutes a sound is played:
https://classic.wowhead.com/sound=7197/lighthousefoghorn

This sound is played from a gameobject which is also used for hourly bell game event:
ID: 176573

Currently in VMangos it is not distinguished whether this gameobject is a hourly bell spawn, or a lighthouse spawn.
All spawns are linke

[2021-06-05 08:18] NickTyrer commented on #1059
cmangos Love is in the Air Revamp https://github.com/cmangos/classic-db/pull/153

[2021-06-05 17:54] gamelgs opened #1214 "🐛 [Bug]Some questions about Partybots~"
## 🐛 Bug report

Shaman bot don't cast Windfury Weapon.

Rogue bot can only use one-level Poison.

Can let priest bot give priority to heal own team?
Many thanks for your work！

### Version & Environment

Client Version: - 1.12.1.5875

Commit Hash:  fb91e33eb92d1aa34c86caff83a0fc73c6141ac0

OS Client: - Win 10
OS Server: - Win 10

### Crashlog

- None

[2021-06-05 21:49] codestothestars opened #1215 "🐛 [Bug] Build is broken for client version 1.8.4 and below"
## 🐛 Bug report
The build fails at [Object.cpp#528](https://github.com/vmangos/core/blob/fb91e33eb92d1aa34c86caff83a0fc73c6141ac0/src/game/Objects/Object.cpp#L528).

This started occurring at commit 39afde5.

### Expected behavior
Build should succeed.

### Steps to reproduce
1. Set `SUPPORTED_CLIENT_BUILD` to `CLIENT_BUILD_1_8_4`.
2. Attempt to build.

### Version & Environment
Client Version: 1.